Repository envoyproxy/envoy, pull requests merged in 2019-10, with the labels that each got.

#8340 Upgrade io_opencensus_cpp.
  bazel/repository_locations.bzl
  source/extensions/tracers/opencensus/opencensus_tracer_impl.cc
Labels: waiting

#8449 router: allowing request-header-based retry checks
  api/envoy/api/v2/route/route.proto
  api/envoy/api/v3alpha/route/route.proto
  docs/root/intro/version_history.rst
  include/envoy/router/router.h
  source/common/http/async_client_impl.h
  source/common/router/config_impl.cc
  source/common/router/config_impl.h
  source/common/router/retry_state_impl.cc
  source/common/router/retry_state_impl.h
  test/common/router/retry_state_impl_test.cc
  test/mocks/router/mocks.h
Labels: api-review-required

#8051 router: set correct timeout for egress->ingress envoys
  api/envoy/config/filter/http/router/v2/router.proto
  api/envoy/config/filter/http/router/v3alpha/router.proto
  docs/root/intro/version_history.rst
  source/common/http/async_client_impl.cc
  source/common/router/router.cc
  source/common/router/router.h
  test/common/router/router_test.cc
  test/integration/http_timeout_integration_test.cc
  test/integration/http_timeout_integration_test.h
Labels: api-review-required

#8466 Add ability for most specific header mutations to take precedence
  api/envoy/api/v2/rds.proto
  api/envoy/api/v2/route/route.proto
  api/envoy/api/v3alpha/rds.proto
  api/envoy/api/v3alpha/route/route.proto
  docs/root/intro/version_history.rst
  include/envoy/router/router.h
  source/common/http/async_client_impl.h
  source/common/router/config_impl.cc
  source/common/router/config_impl.h
  test/common/router/config_impl_test.cc
  test/mocks/router/mocks.h
Labels: api-review-required

#8422 TCP listener connection rebalancing
  api/envoy/api/v2/lds.proto
  api/envoy/api/v2/listener/quic_config.proto
  api/envoy/api/v2/listener/udp_listener_config.proto
  api/envoy/api/v3alpha/lds.proto
  api/envoy/api/v3alpha/listener/quic_config.proto
  api/envoy/api/v3alpha/listener/udp_listener_config.proto
  docs/root/intro/arch_overview/intro/threading_model.rst
  docs/root/intro/version_history.rst
  include/envoy/event/dispatcher.h
  include/envoy/network/BUILD
  include/envoy/network/connection_balancer.h
  include/envoy/network/connection_handler.h
  include/envoy/network/listener.h
  source/common/config/api_type_db.generated.pb_text
  source/common/event/dispatcher_impl.cc
  source/common/event/dispatcher_impl.h
  source/common/network/BUILD
  source/common/network/connection_balancer_impl.cc
  source/common/network/connection_balancer_impl.h
  source/common/network/listen_socket_impl.h
  source/common/network/listener_impl.cc
  source/common/network/listener_impl.h
  source/server/BUILD
  source/server/config_validation/dispatcher.cc
  source/server/config_validation/dispatcher.h
  source/server/connection_handler_impl.cc
  source/server/connection_handler_impl.h
  source/server/http/BUILD
  source/server/http/admin.h
  source/server/listener_manager_impl.cc
  source/server/listener_manager_impl.h
  support/hooks/pre-push
  test/common/http/codec_client_test.cc
  test/common/network/connection_impl_test.cc
  test/common/network/dns_impl_test.cc
  test/common/network/listener_impl_test.cc
  test/extensions/filters/listener/proxy_protocol/BUILD
  test/extensions/filters/listener/proxy_protocol/proxy_protocol_test.cc
  test/extensions/transport_sockets/tls/ssl_socket_test.cc
  test/integration/fake_upstream.h
  test/integration/integration.cc
  test/integration/integration.h
  test/integration/integration_test.cc
  test/integration/server.cc
  test/integration/server.h
  test/mocks/event/mocks.h
  test/mocks/network/mocks.cc
  test/mocks/network/mocks.h
  test/mocks/server/mocks.h
  test/server/BUILD
  test/server/connection_handler_test.cc
  tools/spelling_dictionary.txt
Labels: no stalebot

#8565 ratelimit: Add rate limit upstream headers
  api/envoy/service/ratelimit/v2/rls.proto
  api/envoy/service/ratelimit/v3alpha/rls.proto
  source/extensions/filters/common/ratelimit/ratelimit.h
  source/extensions/filters/common/ratelimit/ratelimit_impl.cc
  source/extensions/filters/http/ratelimit/ratelimit.cc
  source/extensions/filters/http/ratelimit/ratelimit.h
  source/extensions/filters/network/ratelimit/ratelimit.cc
  source/extensions/filters/network/ratelimit/ratelimit.h
  source/extensions/filters/network/thrift_proxy/filters/ratelimit/ratelimit.cc
  source/extensions/filters/network/thrift_proxy/filters/ratelimit/ratelimit.h
  test/common/network/filter_manager_impl_test.cc
  test/extensions/filters/common/ratelimit/ratelimit_impl_test.cc
  test/extensions/filters/http/ratelimit/ratelimit_test.cc
  test/extensions/filters/network/ratelimit/ratelimit_test.cc
  test/extensions/filters/network/thrift_proxy/filters/ratelimit/ratelimit_test.cc
  test/integration/ratelimit_integration_test.cc
Labels: waiting

#8116 stats: Remember recent lookups and display them in an admin endpoint
  docs/root/intro/version_history.rst
  docs/root/operations/admin.rst
  include/envoy/stats/symbol_table.h
  source/common/stats/BUILD
  source/common/stats/fake_symbol_table_impl.h
  source/common/stats/symbol_table_impl.cc
  source/common/stats/symbol_table_impl.h
  source/docs/stats.md
  source/server/http/admin.cc
  source/server/http/admin.h
  source/server/server.cc
  source/server/server.h
  test/common/stats/symbol_table_impl_test.cc
  test/integration/BUILD
  test/integration/integration_admin_test.cc
  test/server/BUILD
  test/server/http/admin_test.cc
  test/server/server_test.cc
  tools/spelling_dictionary.txt
Labels: no stalebot

#8605 ownerscheck with labels
  repokitteh.star
Labels: api

#8635 sds: add ability to reload TLS session ticket keys
  api/envoy/api/v2/auth/cert.proto
  api/envoy/api/v3alpha/auth/cert.proto
  docs/root/intro/version_history.rst
  include/envoy/secret/secret_manager.h
  include/envoy/secret/secret_provider.h
  source/common/secret/sds_api.h
  source/common/secret/secret_manager_impl.cc
  source/common/secret/secret_manager_impl.h
  source/common/secret/secret_provider_impl.cc
  source/common/secret/secret_provider_impl.h
  source/extensions/transport_sockets/tls/context_config_impl.cc
  source/extensions/transport_sockets/tls/context_config_impl.h
  test/common/secret/secret_manager_impl_test.cc
  test/extensions/transport_sockets/tls/context_impl_test.cc
  test/mocks/secret/mocks.h
Labels: api

#8604 protoxform: erase deprecated type on hidden fields.
  api/envoy/api/v3alpha/route/BUILD
  api/envoy/api/v3alpha/route/route.proto
  api/envoy/config/bootstrap/v3alpha/BUILD
  api/envoy/config/bootstrap/v3alpha/bootstrap.proto
  api/envoy/config/filter/fault/v3alpha/BUILD
  api/envoy/config/filter/fault/v3alpha/fault.proto
  api/envoy/config/filter/network/http_connection_manager/v3alpha/BUILD
  api/envoy/config/filter/network/http_connection_manager/v3alpha/http_connection_manager.proto
  api/envoy/config/filter/network/tcp_proxy/v3alpha/BUILD
  api/envoy/config/filter/network/tcp_proxy/v3alpha/tcp_proxy.proto
  tools/protoxform/migrate.py
Labels: api

#8674 stats: Add instructions in comments describing what to do if a stats memory test fails
  source/docs/stats.md
  test/integration/stats_integration_test.cc
Labels: waiting

#8676 Revert "spelling: improve camel case handling, disallow run-together …
  api/envoy/admin/v2alpha/clusters.proto
  api/envoy/admin/v3alpha/clusters.proto
  api/envoy/api/v2/cds.proto
  api/envoy/api/v2/route/route.proto
  api/envoy/api/v3alpha/cds.proto
  api/envoy/api/v3alpha/route/route.proto
  api/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.proto
  api/envoy/config/filter/network/http_connection_manager/v3alpha/http_connection_manager.proto
  api/envoy/config/filter/network/redis_proxy/v2/redis_proxy.proto
  api/envoy/config/filter/network/redis_proxy/v3alpha/redis_proxy.proto
  api/envoy/service/auth/v2/attribute_context.proto
  api/envoy/service/auth/v3alpha/attribute_context.proto
  ci/do_ci.sh
  include/envoy/network/connection.h
  include/envoy/runtime/runtime.h
  include/envoy/stats/symbol_table.h
  source/common/access_log/access_log_formatter.cc
  source/common/buffer/buffer_impl.cc
  source/common/common/logger_delegates.cc
  source/common/config/config_provider_impl.h
  source/common/config/delta_subscription_state.h
  source/common/filesystem/posix/filesystem_impl.cc
  source/common/http/conn_manager_impl.cc
  source/common/http/conn_manager_impl.h
  source/common/stats/symbol_table_impl.h
  source/common/stats/thread_local_store.cc
  source/extensions/common/redis/redirection_mgr_impl.cc
  source/extensions/filters/listener/tls_inspector/tls_inspector.cc
  source/extensions/quic_listeners/quiche/active_quic_listener.h
  source/extensions/quic_listeners/quiche/envoy_quic_dispatcher.cc
  source/extensions/quic_listeners/quiche/platform/flags_list.h
  source/extensions/quic_listeners/quiche/platform/quic_mem_slice_span_impl.h
  source/extensions/quic_listeners/quiche/platform/string_utils.h
  test/common/config/grpc_mux_impl_test.cc
  test/common/grpc/google_grpc_utils_test.cc
  test/common/http/conn_manager_impl_test.cc
  test/common/http/http2/frame_replay_test.cc
  test/common/network/udp_listener_impl_test.cc
  test/common/upstream/load_balancer_impl_test.cc
  test/common/upstream/ring_hash_lb_test.cc
  test/common/upstream/upstream_impl_test.cc
  test/config/utility.h
  test/dummy_main.cc
  test/extensions/access_loggers/grpc/http_grpc_access_log_impl_test.cc
  test/extensions/filters/http/jwt_authn/authenticator_test.cc
  test/extensions/filters/network/common/redis/client_impl_test.cc
  test/extensions/quic_listeners/quiche/envoy_quic_server_session_test.cc
  test/integration/udp_echo_integration_test.cc
  test/server/filter_chain_manager_impl_test.cc
  tools/check_spelling_pedantic.py
  tools/spelling_dictionary.txt
Labels: api

#8678 docs: misc doc debt
  README.md
  api/envoy/api/v2/core/protocol.proto
  api/envoy/api/v2/srds.proto
  api/envoy/api/v3alpha/core/protocol.proto
  api/envoy/api/v3alpha/srds.proto
  docs/root/api-v2/config/cluster/cluster.rst
  docs/root/api-v2/config/grpc_credential/grpc_credential.rst
  docs/root/api-v2/config/health_checker/health_checker.rst
  docs/root/api-v2/config/listener/listener.rst
  docs/root/api-v2/config/rbac/rbac.rst
  docs/root/api-v2/config/resource_monitor/resource_monitor.rst
  docs/root/api-v2/config/transport_socket/transport_socket.rst
  docs/root/configuration/overview/v2_overview.rst
  docs/root/faq/build/binaries.rst
  docs/root/faq/build/boringssl.rst
  docs/root/faq/configuration/flow_control.rst
  docs/root/faq/configuration/sni.rst
  docs/root/faq/configuration/timeouts.rst
  docs/root/faq/configuration/zipkin_tracing.rst
  docs/root/faq/configuration/zone_aware_routing.rst
  docs/root/faq/load_balancing/concurrency_lb.rst
  docs/root/faq/load_balancing/disable_circuit_breaking.rst
  docs/root/faq/load_balancing/lb_panic_threshold.rst
  docs/root/faq/load_balancing/transient_failures.rst
  docs/root/faq/overview.rst
  docs/root/faq/performance/how_fast_is_envoy.rst
  docs/root/install/building.rst
  docs/root/intro/arch_overview/http/http_connection_management.rst
  docs/root/intro/arch_overview/http/http_routing.rst
  docs/root/intro/arch_overview/listeners/listeners.rst
  docs/root/intro/arch_overview/operations/dynamic_configuration.rst
  docs/root/intro/arch_overview/security/ssl.rst
  docs/root/intro/deprecated.rst
  docs/root/intro/version_history.rst
  docs/root/start/start.rst
Labels: api

#8705 tcp proxy: add default 1 hour idle timeout
  api/envoy/api/v2/core/protocol.proto
  api/envoy/api/v3alpha/core/protocol.proto
  api/envoy/config/filter/network/tcp_proxy/v2/tcp_proxy.proto
  api/envoy/config/filter/network/tcp_proxy/v3alpha/tcp_proxy.proto
  docs/root/faq/configuration/timeouts.rst
  docs/root/intro/version_history.rst
  source/common/tcp_proxy/tcp_proxy.cc
  test/common/tcp_proxy/tcp_proxy_test.cc
  tools/spelling_dictionary.txt
Labels: api

#8809 hcm: remove Server::Admin from conn_manager_impl.
  source/common/http/BUILD
  source/common/http/conn_manager_config.h
  source/common/http/conn_manager_impl.cc
  source/extensions/filters/network/http_connection_manager/config.h
  source/server/http/admin.h
  test/common/http/conn_manager_impl_fuzz_test.cc
  test/common/http/conn_manager_impl_test.cc
  test/common/http/conn_manager_utility_test.cc
Labels: waiting

#8001 docs: Can I use Envoy as a front-end proxy?
  docs/root/configuration/best_practices/edge.rst
  docs/root/faq/configuration/edge.rst
  docs/root/faq/overview.rst
Labels: no stalebot
