Repository envoyproxy/envoy, pull requests merged in 2019-11, with the labels that each got.

#8478 config: unification of delta and SotW gRPC xDS
  api/envoy/api/v2/core/config_source.proto
  api/envoy/api/v3alpha/core/config_source.proto
  include/envoy/config/grpc_mux.h
  source/common/config/BUILD
  source/common/config/README.md
  source/common/config/delta_subscription_impl.h
  source/common/config/delta_subscription_state.cc
  source/common/config/delta_subscription_state.h
  source/common/config/grpc_mux_impl.cc
  source/common/config/grpc_mux_impl.h
  source/common/config/grpc_mux_subscription_impl.cc
  source/common/config/grpc_mux_subscription_impl.h
  source/common/config/grpc_stream.h
  source/common/config/grpc_subscription_impl.cc
  source/common/config/grpc_subscription_impl.h
  source/common/config/new_grpc_mux_impl.cc
  source/common/config/new_grpc_mux_impl.h
  source/common/config/pausable_ack_queue.h
  source/common/config/sotw_subscription_state.cc
  source/common/config/sotw_subscription_state.h
  source/common/config/subscription_factory_impl.cc
  source/common/config/subscription_state.cc
  source/common/config/subscription_state.h
  source/common/config/update_ack.h
  source/common/config/watch_map.h
  source/common/upstream/cluster_manager_impl.cc
  source/common/upstream/cluster_manager_impl.h
  test/common/config/BUILD
  test/common/config/delta_subscription_impl_test.cc
  test/common/config/delta_subscription_state_test.cc
  test/common/config/delta_subscription_test_harness.h
  test/common/config/grpc_mux_impl_test.cc
  test/common/config/grpc_subscription_impl_test.cc
  test/common/config/grpc_subscription_test_harness.h
  test/common/config/new_grpc_mux_impl_test.cc
  test/common/config/sotw_subscription_state_test.cc
  test/common/config/subscription_impl_test.cc
  test/common/router/scoped_rds_test.cc
  test/common/upstream/cds_api_impl_test.cc
  test/config/utility.cc
  test/integration/ads_integration.h
  test/integration/ads_integration_test.cc
  test/integration/integration.cc
  test/integration/integration.h
  test/integration/rtds_integration_test.cc
  test/integration/scoped_rds_integration_test.cc
  test/mocks/config/mocks.cc
  test/mocks/config/mocks.h
  test/mocks/upstream/mocks.cc
  tools/spelling_dictionary.txt
Labels: no stalebot

#9021 yaml: re-implement yaml conversion without rapidjson
  source/common/json/BUILD
  source/common/json/json_loader.cc
  source/common/json/json_loader.h
  source/common/protobuf/BUILD
  source/common/protobuf/utility.cc
  source/common/protobuf/utility.h
  source/extensions/filters/http/squash/squash_filter.h
  test/common/json/json_fuzz_test.cc
  test/common/json/json_loader_test.cc
  test/common/protobuf/utility_test.cc
  test/common/router/config_impl_test.cc
  test/integration/filter_manager_integration_test.cc
  test/integration/http2_upstream_integration_test.cc
  test/integration/websocket_integration_test.cc
  test/tools/router_check/router.cc
Labels: waiting

#9044 xds: revert delta/SoTW changes
  api/envoy/api/v2/core/config_source.proto
  api/envoy/api/v3alpha/core/config_source.proto
  include/envoy/config/grpc_mux.h
  source/common/config/BUILD
  source/common/config/README.md
  source/common/config/delta_subscription_impl.cc
  source/common/config/delta_subscription_impl.h
  source/common/config/delta_subscription_state.cc
  source/common/config/delta_subscription_state.h
  source/common/config/grpc_mux_impl.cc
  source/common/config/grpc_mux_impl.h
  source/common/config/grpc_mux_subscription_impl.cc
  source/common/config/grpc_mux_subscription_impl.h
  source/common/config/grpc_stream.h
  source/common/config/grpc_subscription_impl.h
  source/common/config/new_grpc_mux_impl.cc
  source/common/config/new_grpc_mux_impl.h
  source/common/config/pausable_ack_queue.h
  source/common/config/sotw_subscription_state.cc
  source/common/config/sotw_subscription_state.h
  source/common/config/subscription_factory_impl.cc
  source/common/config/subscription_state.cc
  source/common/config/subscription_state.h
  source/common/config/update_ack.h
  source/common/config/watch_map.h
  source/common/upstream/cluster_manager_impl.cc
  test/common/config/BUILD
  test/common/config/delta_subscription_impl_test.cc
  test/common/config/delta_subscription_state_test.cc
  test/common/config/delta_subscription_test_harness.h
  test/common/config/grpc_mux_impl_test.cc
  test/common/config/grpc_subscription_impl_test.cc
  test/common/config/grpc_subscription_test_harness.h
  test/common/config/new_grpc_mux_impl_test.cc
  test/common/config/sotw_subscription_state_test.cc
  test/common/config/subscription_impl_test.cc
  test/common/upstream/cds_api_impl_test.cc
  test/config/utility.cc
  test/integration/ads_integration.h
  test/integration/ads_integration_test.cc
  test/integration/integration.cc
  test/integration/integration.h
  test/integration/rtds_integration_test.cc
  test/integration/scoped_rds_integration_test.cc
  test/mocks/config/mocks.cc
  test/mocks/config/mocks.h
  test/mocks/upstream/mocks.cc
  tools/spelling_dictionary.txt
Labels: api

#8999 udp_proxy: implement idle timeout and some stats
  api/envoy/config/filter/udp/udp_proxy/v2alpha/udp_proxy.proto
  include/envoy/network/filter.h
  include/envoy/network/listener.h
  source/common/network/udp_listener_impl.cc
  source/common/network/utility.cc
  source/extensions/filters/udp/udp_proxy/config.h
  source/extensions/filters/udp/udp_proxy/udp_proxy_filter.cc
  source/extensions/filters/udp/udp_proxy/udp_proxy_filter.h
  source/extensions/quic_listeners/quiche/active_quic_listener.h
  source/server/connection_handler_impl.cc
  source/server/connection_handler_impl.h
  test/common/network/udp_listener_impl_test.cc
  test/extensions/filters/udp/udp_proxy/BUILD
  test/extensions/filters/udp/udp_proxy/udp_proxy_filter_test.cc
  test/extensions/filters/udp/udp_proxy/udp_proxy_integration_test.cc
  test/integration/fake_upstream.h
  test/mocks/network/BUILD
  test/mocks/network/io_handle.cc
  test/mocks/network/io_handle.h
  test/mocks/network/mocks.cc
  test/mocks/network/mocks.h
  test/test_common/network_utility.cc
  test/test_common/network_utility.h
Labels: api

#7967 cluster: add aggregate cluster
  CODEOWNERS
  api/docs/BUILD
  api/envoy/config/cluster/aggregate/v2alpha/BUILD
  api/envoy/config/cluster/aggregate/v2alpha/cluster.proto
  api/envoy/config/cluster/aggregate/v3alpha/BUILD
  api/envoy/config/cluster/aggregate/v3alpha/cluster.proto
  docs/root/api-v2/config/cluster/cluster.rst
  docs/root/intro/arch_overview/upstream/aggregate_cluster.rst
  docs/root/intro/arch_overview/upstream/upstream.rst
  docs/root/intro/version_history.rst
  source/extensions/clusters/aggregate/BUILD
  source/extensions/clusters/aggregate/cluster.cc
  source/extensions/clusters/aggregate/cluster.h
  source/extensions/clusters/aggregate/lb_context.h
  source/extensions/clusters/well_known_names.h
  source/extensions/extensions_build_config.bzl
  test/common/upstream/BUILD
  test/common/upstream/cluster_manager_impl_test.cc
  test/common/upstream/test_cluster_manager.h
  test/extensions/clusters/aggregate/BUILD
  test/extensions/clusters/aggregate/cluster_integration_test.cc
  test/extensions/clusters/aggregate/cluster_test.cc
  test/extensions/clusters/aggregate/cluster_update_test.cc
Labels: api
