Repository envoyproxy/envoy, pull requests merged in 2019-09, with the labels that each got.

#8154 build: curl with c-ares, nghttp2 and zlib
  bazel/foreign_cc/BUILD
Labels: waiting

#8230 docs: document access control conditions and attributes
  api/envoy/config/rbac/v2/rbac.proto
  docs/root/intro/arch_overview/security/rbac_filter.rst
  source/extensions/filters/common/expr/context.cc
  source/extensions/filters/common/expr/context.h
  source/extensions/filters/common/expr/evaluator.cc
  test/extensions/filters/common/expr/context_test.cc
  tools/spelling_dictionary.txt
Labels: api-review-required

#8187 Add retriable headers retry policy.
  api/envoy/api/v2/route/route.proto
  docs/root/configuration/http/http_filters/router_filter.rst
  docs/root/intro/version_history.rst
  include/envoy/http/header_map.h
  include/envoy/router/router.h
  source/common/http/async_client_impl.h
  source/common/http/conn_manager_utility.cc
  source/common/http/header_utility.h
  source/common/http/headers.h
  source/common/router/BUILD
  source/common/router/config_impl.cc
  source/common/router/config_impl.h
  source/common/router/retry_state_impl.cc
  source/common/router/retry_state_impl.h
  test/common/router/config_impl_test.cc
  test/common/router/retry_state_impl_test.cc
  test/mocks/router/mocks.h
Labels: api-review-required

#8233 build: Support tags[] arg for more specific build control
  api/bazel/api_build_system.bzl
  bazel/envoy_binary.bzl
  bazel/envoy_test.bzl
Labels: api-review-required

#8278 access log: add support downstream direct remote address
  api/envoy/data/accesslog/v2/accesslog.proto
  docs/root/configuration/observability/access_log.rst
  docs/root/intro/version_history.rst
  source/common/access_log/access_log_formatter.cc
  source/extensions/access_loggers/grpc/grpc_access_log_utils.cc
  test/common/access_log/access_log_formatter_test.cc
  test/extensions/access_loggers/grpc/http_grpc_access_log_impl_test.cc
  test/extensions/access_loggers/grpc/http_grpc_access_log_integration_test.cc
Labels: api-review-required

#8170 lds: Add HTTP API listener.
  api/envoy/api/v2/BUILD
  api/envoy/api/v2/lds.proto
  api/envoy/config/listener/v2/BUILD
  api/envoy/config/listener/v2/api_listener.proto
Labels: no stalebot

#8100 Add a transport socket match in cluster.
  api/envoy/api/v2/cds.proto
  test/integration/stats_integration_test.cc
Labels: api-review-required

#8226 dns: enable dns failure refresh rate configuration
  api/envoy/api/v2/cds.proto
  api/envoy/api/v3alpha/cds.proto
  docs/root/intro/arch_overview/upstream/service_discovery.rst
  docs/root/intro/version_history.rst
  source/common/common/backoff_strategy.cc
  source/common/common/backoff_strategy.h
  source/common/config/BUILD
  source/common/config/utility.cc
  source/common/config/utility.h
  source/common/upstream/logical_dns_cluster.cc
  source/common/upstream/logical_dns_cluster.h
  source/common/upstream/strict_dns_cluster.cc
  source/common/upstream/strict_dns_cluster.h
  test/common/common/backoff_strategy_test.cc
  test/common/config/utility_test.cc
  test/common/upstream/logical_dns_cluster_test.cc
  test/common/upstream/upstream_impl_test.cc
  test/integration/stats_integration_test.cc
Labels: api-review-required
