Repository envoyproxy/envoy, pull requests merged in 2020-12, with the labels that each got.

#13688 Windows: enable tests and envoy-static.exe pdb file
  .bazelrc
  bazel/BUILD
  bazel/envoy_binary.bzl
  bazel/envoy_internal.bzl
  bazel/repository_locations.bzl
  ci/windows_ci_steps.sh
  source/extensions/clusters/redis/redis_cluster.cc
  test/common/network/BUILD
  test/common/network/cidr_range_test.cc
  test/common/network/socket_option_factory_test.cc
  test/common/network/socket_option_test.h
  test/extensions/filters/http/dynamic_forward_proxy/BUILD
  test/extensions/filters/http/ratelimit/BUILD
  test/extensions/filters/http/tap/BUILD
  test/extensions/quic_listeners/quiche/BUILD
  test/extensions/stats_sinks/metrics_service/BUILD
  test/extensions/transport_sockets/tls/ssl_socket_test.cc
  test/integration/BUILD
  test/test_common/environment.cc
  test/test_common/environment.h
Labels: area/build, area/windows

#14252 [Windows CI] Fix issue with Slack message for flaky tests
  ci/flaky_test/process_xml.py
Labels: area/build

#14261 [Windows] fix http2 flaky test
  test/integration/BUILD
  test/integration/http2_integration_test.cc
Labels: area/test flakes, area/windows

#13954 [Win32 Signals] Add term and ctrl-c signal handlers
  .bazelrc
  ci/run_clang_tidy.sh
  ci/windows_ci_steps.sh
  include/envoy/common/platform.h
  include/envoy/event/dispatcher.h
  source/common/event/BUILD
  source/common/event/dispatcher_impl.cc
  source/common/event/dispatcher_impl.h
  source/common/event/posix/signal_impl.cc
  source/common/event/posix/signal_impl.h
  source/common/event/win32/signal_impl.cc
  source/common/event/win32/signal_impl.h
  source/exe/BUILD
  source/exe/win32/platform_impl.cc
  source/server/server.cc
  test/exe/BUILD
  test/exe/win32_outofproc_main_test.cc
  test/mocks/event/mocks.h
  test/mocks/event/wrapped_dispatcher.h
Labels: area/windows

#14382 cluster manager: initialization cleanups
  source/common/upstream/cluster_manager_impl.cc
  source/common/upstream/cluster_manager_impl.h
  source/extensions/clusters/aggregate/cluster.cc
  source/extensions/clusters/aggregate/cluster.h
  test/common/upstream/cluster_manager_impl_test.cc
  test/extensions/filters/http/jwt_authn/filter_config_test.cc
  test/extensions/filters/network/redis_proxy/conn_pool_impl_test.cc
  test/extensions/tracers/lightstep/lightstep_tracer_impl_test.cc
  test/mocks/thread_local/mocks.h
Labels: waiting

#14156 config: stats flush via admin
  api/envoy/config/bootstrap/v3/bootstrap.proto
  api/envoy/config/bootstrap/v4alpha/bootstrap.proto
  docs/root/operations/admin.rst
  docs/root/version_history/current.rst
  generated_api_shadow/envoy/config/bootstrap/v3/bootstrap.proto
  generated_api_shadow/envoy/config/bootstrap/v4alpha/bootstrap.proto
  include/envoy/server/BUILD
  include/envoy/server/configuration.h
  include/envoy/server/factory_context.h
  include/envoy/server/instance.h
  source/extensions/stat_sinks/hystrix/hystrix.cc
  source/server/BUILD
  source/server/admin/stats_handler.cc
  source/server/config_validation/server.h
  source/server/configuration_impl.cc
  source/server/configuration_impl.h
  source/server/server.cc
  source/server/server.h
  test/integration/integration_admin_test.cc
  test/mocks/server/instance.cc
  test/mocks/server/instance.h
  test/mocks/server/main.h
  test/server/configuration_impl_test.cc
  test/server/server_test.cc
  test/server/test_data/server/stats_sink_manual_flush_bootstrap.yaml
Labels: v2-freeze

#14235 upstream: gradually decrease outlier detector's ejection time multiplier when host stays healthy
  api/envoy/config/cluster/v3/outlier_detection.proto
  api/envoy/config/cluster/v4alpha/outlier_detection.proto
  docs/root/configuration/upstream/cluster_manager/cluster_runtime.rst
  docs/root/intro/arch_overview/upstream/outlier.rst
  docs/root/version_history/current.rst
  generated_api_shadow/envoy/config/cluster/v3/outlier_detection.proto
  generated_api_shadow/envoy/config/cluster/v4alpha/outlier_detection.proto
  source/common/upstream/outlier_detection_impl.cc
  source/common/upstream/outlier_detection_impl.h
  test/common/upstream/outlier_detection_impl_test.cc
Labels: api

#14447 [Windows] Improve fileReadToEnd on Windows
  source/common/filesystem/win32/filesystem_impl.cc
  test/extensions/filters/http/tap/BUILD
  test/integration/BUILD
  test/test_common/environment.cc
Labels: area/windows

#14384 expr: generalize Wasm state to native filters
  bazel/repository_locations.bzl
  source/extensions/common/wasm/BUILD
  source/extensions/common/wasm/context.cc
  source/extensions/common/wasm/context.h
  source/extensions/common/wasm/foreign.cc
  source/extensions/filters/common/expr/BUILD
  source/extensions/filters/common/expr/cel_state.cc
  source/extensions/filters/common/expr/cel_state.h
  source/extensions/filters/common/expr/context.cc
  test/extensions/common/wasm/wasm_test.cc
  test/extensions/filters/common/expr/BUILD
  test/extensions/filters/common/expr/context_test.cc
  test/extensions/filters/http/wasm/wasm_filter_test.cc
  test/test_common/BUILD
  test/test_common/wasm_base.h
  tools/code_format/check_format.py
Labels: deps

#14497 Fix http2_upstream_integration_test flakiness on Windows
  test/integration/http_integration.cc
Labels: area/test flakes, area/windows
