Repository envoyproxy/envoy, pull requests merged in 2020-07, with the labels that each got.

#11028 dynamic_forward_proxy: DNS Cache circuit breaker
  api/envoy/extensions/common/dynamic_forward_proxy/v3/dns_cache.proto
  docs/root/configuration/http/http_filters/dynamic_forward_proxy_filter.rst
  docs/root/version_history/current.rst
  generated_api_shadow/envoy/extensions/common/dynamic_forward_proxy/v3/dns_cache.proto
  include/envoy/common/resource.h
  source/common/runtime/runtime_features.cc
  source/common/upstream/resource_manager_impl.h
  source/extensions/clusters/dynamic_forward_proxy/cluster.cc
  source/extensions/common/dynamic_forward_proxy/BUILD
  source/extensions/common/dynamic_forward_proxy/dns_cache.h
  source/extensions/common/dynamic_forward_proxy/dns_cache_impl.cc
  source/extensions/common/dynamic_forward_proxy/dns_cache_impl.h
  source/extensions/common/dynamic_forward_proxy/dns_cache_manager_impl.cc
  source/extensions/common/dynamic_forward_proxy/dns_cache_manager_impl.h
  source/extensions/common/dynamic_forward_proxy/dns_cache_resource_manager.cc
  source/extensions/common/dynamic_forward_proxy/dns_cache_resource_manager.h
  source/extensions/filters/http/dynamic_forward_proxy/BUILD
  source/extensions/filters/http/dynamic_forward_proxy/config.cc
  source/extensions/filters/http/dynamic_forward_proxy/proxy_filter.cc
  source/extensions/filters/network/sni_dynamic_forward_proxy/config.cc
  test/extensions/common/dynamic_forward_proxy/BUILD
  test/extensions/common/dynamic_forward_proxy/dns_cache_impl_test.cc
  test/extensions/common/dynamic_forward_proxy/dns_cache_resource_manager_test.cc
  test/extensions/common/dynamic_forward_proxy/mocks.cc
  test/extensions/common/dynamic_forward_proxy/mocks.h
  test/extensions/filters/http/dynamic_forward_proxy/BUILD
  test/extensions/filters/http/dynamic_forward_proxy/proxy_filter_integration_test.cc
  test/extensions/filters/http/dynamic_forward_proxy/proxy_filter_test.cc
  test/mocks/upstream/mocks.cc
  test/mocks/upstream/mocks.h
Labels: v2-freeze

#11392 stats: remove stale reference to dynamic support from StatNameSet doc, and add reference to new helpers
  source/common/stats/symbol_table_impl.h
  tools/spelling/spelling_dictionary.txt
Labels: no stalebot

#11751 Improve time complexity of removal of callback handle.
  source/common/common/callback_impl.h
  test/integration/stats_integration_test.cc
Labels: api

#11740 stats: remove no-longer-needed stats options.
  source/server/options_impl.cc
  source/server/options_impl.h
  test/server/options_impl_test.cc
Labels: api

#11394 WIP: Validating config in docs
  api/CONTRIBUTING.md
  docs/README.md
  docs/_ext/validating_code_block.py
  docs/build.sh
  docs/conf.py
  docs/root/configuration/operations/runtime.rst
  docs/root/configuration/overview/examples.rst
  tools/config_validation/validate_fragment.py
Labels: api

#11252 Introduce Least Request LB active request bias config
  api/envoy/config/cluster/v3/cluster.proto
  api/envoy/config/cluster/v4alpha/cluster.proto
  docs/root/intro/arch_overview/upstream/load_balancing/load_balancers.rst
  docs/root/version_history/current.rst
  generated_api_shadow/envoy/config/cluster/v3/cluster.proto
  generated_api_shadow/envoy/config/cluster/v4alpha/cluster.proto
  source/common/runtime/BUILD
  source/common/runtime/runtime_protos.h
  source/common/upstream/BUILD
  source/common/upstream/load_balancer_impl.h
  test/common/upstream/BUILD
  test/common/upstream/load_balancer_impl_test.cc
  test/integration/stats_integration_test.cc
Labels: api

#11686 quiche: adds udp_gro support
  include/envoy/api/os_sys_calls.h
  include/envoy/common/platform.h
  include/envoy/network/io_handle.h
  source/common/api/posix/os_sys_calls_impl.cc
  source/common/api/posix/os_sys_calls_impl.h
  source/common/api/win32/os_sys_calls_impl.cc
  source/common/api/win32/os_sys_calls_impl.h
  source/common/network/io_socket_handle_impl.cc
  source/common/network/io_socket_handle_impl.h
  source/common/network/socket_option_factory.cc
  source/common/network/socket_option_factory.h
  source/common/network/socket_option_impl.h
  source/common/network/utility.cc
  source/extensions/quic_listeners/quiche/quic_io_handle_wrapper.h
  source/server/listener_impl.cc
  test/common/network/udp_listener_impl_test.cc
  test/extensions/filters/udp/udp_proxy/udp_proxy_filter_test.cc
  test/extensions/quic_listeners/quiche/quic_io_handle_wrapper_test.cc
  test/mocks/api/mocks.h
  test/mocks/network/io_handle.h
  test/server/listener_manager_impl_quic_only_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: api

#12141 refactor version to source/common/version
  api/envoy/api/v2/core/base.proto
  api/envoy/config/core/v3/base.proto
  api/envoy/config/core/v4alpha/base.proto
  generated_api_shadow/envoy/api/v2/core/base.proto
  generated_api_shadow/envoy/config/core/v3/base.proto
  generated_api_shadow/envoy/config/core/v4alpha/base.proto
  source/common/common/BUILD
  source/common/signal/signal_action.cc
  source/common/version/BUILD
  source/common/version/generate_version_linkstamp.sh
  source/common/version/version.cc
  source/common/version/version.h
  source/common/version/version_linkstamp.cc
  source/extensions/tracers/datadog/BUILD
  source/extensions/tracers/datadog/datadog_tracer_impl.cc
  source/server/BUILD
  source/server/admin/BUILD
  source/server/admin/server_info_handler.cc
  source/server/backtrace.h
  source/server/config_validation/BUILD
  source/server/config_validation/server.cc
  source/server/options_impl.cc
  source/server/server.cc
  test/common/common/BUILD
  test/common/common/version_test.cc
  test/extensions/access_loggers/grpc/http_grpc_access_log_integration_test.cc
  test/extensions/access_loggers/grpc/tcp_grpc_access_log_integration_test.cc
  test/extensions/stats_sinks/metrics_service/metrics_service_integration_test.cc
  test/integration/BUILD
  test/integration/ads_integration_test.cc
  test/server/BUILD
  test/server/server_test.cc
  tools/code_format/check_format.py
  tools/testdata/check_format/header_order.cc
  tools/testdata/check_format/header_order.cc.gold
Labels: api, v2-freeze

#12027 V2 to V3 fragment changes for http and access_log folders under test/..
  test/common/access_log/access_log_impl_test.cc
  test/common/http/utility_test.cc
Labels: api

#12114 tls: update BoringSSL-FIPS to 20190808.
  api/envoy/api/v2/auth/common.proto
  api/envoy/extensions/transport_sockets/tls/v3/common.proto
  api/envoy/extensions/transport_sockets/tls/v4alpha/common.proto
  bazel/external/boringssl_fips.genrule_cmd
  bazel/external/boringssl_fips.patch
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  docs/root/intro/arch_overview/security/ssl.rst
  generated_api_shadow/envoy/api/v2/auth/common.proto
  generated_api_shadow/envoy/extensions/transport_sockets/tls/v3/common.proto
  generated_api_shadow/envoy/extensions/transport_sockets/tls/v4alpha/common.proto
  source/extensions/transport_sockets/tls/context_config_impl.cc
  test/extensions/transport_sockets/tls/ssl_socket_test.cc
Labels: backport/approved

#12152 [fuzz] fix filter crashes from OSS fuzz
  api/envoy/config/tap/v3/common.proto
  api/envoy/config/tap/v4alpha/common.proto
  generated_api_shadow/envoy/config/tap/v3/common.proto
  generated_api_shadow/envoy/config/tap/v4alpha/common.proto
  test/extensions/filters/http/common/fuzz/filter_corpus/clusterfuzz-testcase-minimized-filter_fuzz_test-5635252589690880
  test/extensions/filters/http/common/fuzz/uber_per_filter.cc
  tools/spelling/spelling_dictionary.txt
Labels: api

#12168 tls: update BoringSSL-FIPS to 20190808.
  api/envoy/api/v2/auth/cert.proto
  api/envoy/extensions/transport_sockets/tls/v3/cert.proto
  bazel/external/boringssl_fips.genrule_cmd
  bazel/external/boringssl_fips.patch
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  docs/root/intro/arch_overview/security/ssl.rst
  generated_api_shadow/envoy/api/v2/auth/cert.proto
  generated_api_shadow/envoy/extensions/transport_sockets/tls/v3/cert.proto
  source/extensions/transport_sockets/tls/context_config_impl.cc
  test/extensions/transport_sockets/tls/ssl_socket_test.cc
Labels: api

#12176 fuzz: fix oss-fuzz crash in route_fuzz_test due to validation
  api/envoy/config/route/v3/route_components.proto
  api/envoy/config/route/v4alpha/route_components.proto
  generated_api_shadow/envoy/config/route/v3/route_components.proto
  generated_api_shadow/envoy/config/route/v4alpha/route_components.proto
  test/common/router/route_corpus/clusterfuzz-testcase-minimized-route_fuzz_test-4701452596674560.fuzz
Labels: api

#12233 test: fixing a race in cx_limit_integration_test
  test/integration/cx_limit_integration_test.cc
Labels: backport/review

#12086 [Fuzz] Network-layer filter generic fuzzer
  api/envoy/extensions/filters/network/client_ssl_auth/v3/client_ssl_auth.proto
  generated_api_shadow/envoy/extensions/filters/network/client_ssl_auth/v3/client_ssl_auth.proto
  source/extensions/all_extensions.bzl
  test/extensions/filters/network/common/fuzz/BUILD
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/client_sslL_auth_2
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/client_ssl_authz_1
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/direct_response_1
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/direct_response_open_file
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/dubbo_proxy_1
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/echo_1
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/empty
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/ext_authz_1
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/ext_authz_2
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/local_ratelimit_1
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/local_ratelimit_time_overflow
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/redis_proxy_1
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/sni_cluster_1
  test/extensions/filters/network/common/fuzz/network_readfilter_corpus/sni_cluster_2
  test/extensions/filters/network/common/fuzz/network_readfilter_fuzz.proto
  test/extensions/filters/network/common/fuzz/network_readfilter_fuzz_test.cc
  test/extensions/filters/network/common/fuzz/uber_per_readfilter.cc
  test/extensions/filters/network/common/fuzz/uber_readfilter.cc
  test/extensions/filters/network/common/fuzz/uber_readfilter.h
  test/extensions/filters/network/common/fuzz/utils/BUILD
  test/extensions/filters/network/common/fuzz/utils/fakes.h
Labels: api
