Repository envoyproxy/envoy, pull requests merged in 2020-08, with the labels that each got.

#12402 repokitteh: implement retest azp
  ci/repokitteh/modules/azure_pipelines.star
  repokitteh.star
Labels: rk:blessed

#12035 Init manager checking unready targets with target-aware watchers
  include/envoy/init/target.h
  source/common/init/manager_impl.cc
  source/common/init/manager_impl.h
  source/common/init/target_impl.cc
  source/common/init/target_impl.h
  source/common/init/watcher_impl.cc
  source/common/init/watcher_impl.h
  test/integration/stats_integration_test.cc
Labels: api

#11778 http1: remove exceptions from H/1 codec
  source/common/http/http1/BUILD
  source/common/http/http1/codec_impl.cc
  source/common/http/http1/codec_impl.h
  test/common/http/codec_impl_fuzz_test.cc
  test/common/http/http1/codec_impl_test.cc
Labels: no stalebot

#12589 repokitteh: fix azp retest
  ci/repokitteh/modules/azure_pipelines.star
Labels: rk:blessed

#12732 Windows: Fix mysql tests
  source/extensions/filters/network/mysql_proxy/mysql_codec.h
  source/extensions/filters/network/mysql_proxy/mysql_utils.cc
  test/extensions/filters/network/mysql_proxy/BUILD
Labels: area/build, area/windows

#11268 Add OAuth filter
  CODEOWNERS
  api/BUILD
  api/envoy/extensions/filters/http/oauth2/v3alpha/BUILD
  api/envoy/extensions/filters/http/oauth2/v3alpha/oauth.proto
  api/envoy/extensions/filters/http/oauth2/v4alpha/BUILD
  api/envoy/extensions/filters/http/oauth2/v4alpha/oauth.proto
  api/versioning/BUILD
  docs/root/configuration/http/http_filters/http_filters.rst
  docs/root/configuration/http/http_filters/oauth2_filter.rst
  generated_api_shadow/envoy/extensions/filters/http/oauth2/v3alpha/BUILD
  generated_api_shadow/envoy/extensions/filters/http/oauth2/v3alpha/oauth.proto
  generated_api_shadow/envoy/extensions/filters/http/oauth2/v4alpha/BUILD
  generated_api_shadow/envoy/extensions/filters/http/oauth2/v4alpha/oauth.proto
  source/extensions/extensions_build_config.bzl
  source/extensions/filters/http/oauth2/BUILD
  source/extensions/filters/http/oauth2/config.cc
  source/extensions/filters/http/oauth2/config.h
  source/extensions/filters/http/oauth2/filter.cc
  source/extensions/filters/http/oauth2/filter.h
  source/extensions/filters/http/oauth2/oauth.h
  source/extensions/filters/http/oauth2/oauth_client.cc
  source/extensions/filters/http/oauth2/oauth_client.h
  source/extensions/filters/http/oauth2/oauth_response.proto
  source/extensions/filters/http/well_known_names.h
  test/extensions/filters/http/oauth2/BUILD
  test/extensions/filters/http/oauth2/config_test.cc
  test/extensions/filters/http/oauth2/filter_test.cc
  test/extensions/filters/http/oauth2/oauth_integration_test.cc
  test/extensions/filters/http/oauth2/oauth_test.cc
  test/mocks/server/factory_context.cc
  test/mocks/server/factory_context.h
  tools/spelling/spelling_dictionary.txt
Labels: no stalebot

#12741 Removes nice mocks from parent class in listener_factory_context
  test/extensions/filters/listener/original_src/BUILD
  test/extensions/filters/udp/dns_filter/BUILD
  test/mocks/server/listener_factory_context.cc
  test/mocks/server/listener_factory_context.h
Labels: area/build, area/windows

#12648 Fix Windows debug and fastbuild builds and config test
  bazel/envoy_build_system.bzl
  bazel/foreign_cc/BUILD
  bazel/foreign_cc/luajit.patch
  bazel/foreign_cc/moonjit.patch
  bazel/repositories.bzl
  configs/BUILD
  configs/configgen.py
  configs/envoy_double_proxy_v2.template.yaml
  configs/envoy_front_proxy_v2.template.yaml
  test/config_test/BUILD
  test/config_test/example_configs_test.cc
  test/extensions/filters/common/lua/BUILD
  test/extensions/filters/http/lua/BUILD
Labels: area/build, area/lua, area/windows

#12624 Updated instructions on how to run tsan tests
  .bazelrc
  bazel/README.md
  bazel/setup_local_tsan.sh
Labels: api, v2-freeze

#12761 [Windows] Fixes: Injected resource monitor test
  source/common/filesystem/win32/filesystem_impl.cc
  test/extensions/resource_monitors/injected_resource/BUILD
Labels: area/build, area/windows

#12716 [Windows] Listener manager impl tests
  test/server/BUILD
  test/server/listener_manager_impl_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: area/build, area/windows, waiting

#12788 tls: add intermediate ca crl tests and documentation
  api/envoy/extensions/transport_sockets/tls/v3/common.proto
  api/envoy/extensions/transport_sockets/tls/v4alpha/common.proto
  generated_api_shadow/envoy/extensions/transport_sockets/tls/v3/common.proto
  generated_api_shadow/envoy/extensions/transport_sockets/tls/v4alpha/common.proto
  test/extensions/transport_sockets/tls/ssl_socket_test.cc
  test/extensions/transport_sockets/tls/test_data/certs.sh
  test/extensions/transport_sockets/tls/test_data/intermediate_ca_cert.cfg
  test/extensions/transport_sockets/tls/test_data/intermediate_ca_cert.crl
  test/extensions/transport_sockets/tls/test_data/intermediate_ca_cert_chain.crl
  test/extensions/transport_sockets/tls/test_data/intermediate_ca_cert_chain.pem
  test/extensions/transport_sockets/tls/test_data/intermediate_ca_cert_chain_with_crl.pem
  test/extensions/transport_sockets/tls/test_data/intermediate_ca_cert_chain_with_crl_chain.pem
  test/extensions/transport_sockets/tls/test_data/san_dns4_cert.pem
  test/extensions/transport_sockets/tls/test_data/san_dns4_cert_info.h
  test/extensions/transport_sockets/tls/test_data/san_dns4_key.pem
Labels: api

#12820 Windows: Fix and enable now-passing UDP tests
  test/extensions/filters/udp/dns_filter/BUILD
  test/extensions/filters/udp/udp_proxy/BUILD
  test/extensions/filters/udp/udp_proxy/udp_proxy_integration_test.cc
  test/extensions/stats_sinks/common/statsd/BUILD
  test/extensions/stats_sinks/common/statsd/udp_statsd_test.cc
Labels: area/build, area/udp, area/windows

#12828 Fix access_log_manager_impl unused variable warning
  source/common/access_log/access_log_manager_impl.cc
Labels: waiting

#12847 route: fix comments
  api/envoy/api/v2/route/route_components.proto
  api/envoy/config/route/v3/route_components.proto
  api/envoy/config/route/v4alpha/route_components.proto
  generated_api_shadow/envoy/api/v2/route/route_components.proto
  generated_api_shadow/envoy/config/route/v3/route_components.proto
  generated_api_shadow/envoy/config/route/v4alpha/route_components.proto
Labels: v2-freeze

#12772 Windows: Enable direct_response_integration_test
  source/extensions/filters/network/direct_response/filter.cc
  source/extensions/filters/network/direct_response/filter.h
  test/common/router/BUILD
  test/extensions/filters/network/direct_response/BUILD
  test/extensions/filters/network/direct_response/direct_response_integration_test.cc
  test/extensions/filters/network/direct_response/direct_response_test.cc
  test/integration/BUILD
Labels: area/build, area/windows

#12529 Bounded load in a hashing load balancer
  api/envoy/config/cluster/v3/cluster.proto
  api/envoy/config/cluster/v4alpha/cluster.proto
  docs/root/version_history/current.rst
  generated_api_shadow/envoy/config/cluster/v3/cluster.proto
  generated_api_shadow/envoy/config/cluster/v4alpha/cluster.proto
  source/common/upstream/maglev_lb.cc
  source/common/upstream/maglev_lb.h
  source/common/upstream/ring_hash_lb.cc
  source/common/upstream/ring_hash_lb.h
  source/common/upstream/thread_aware_lb_impl.cc
  source/common/upstream/thread_aware_lb_impl.h
  test/common/upstream/BUILD
  test/common/upstream/bounded_load_hlb_test.cc
Labels: api, v2-freeze
