Repository envoyproxy/envoy, pull requests merged in 2021-02, with the labels that each got.

#14772 healthcheck: exclude hosts when receiving x-envoy-immediate-health-check-fail
  api/envoy/admin/v3/clusters.proto
  api/envoy/admin/v4alpha/clusters.proto
  api/envoy/config/cluster/v3/cluster.proto
  api/envoy/config/cluster/v4alpha/cluster.proto
  api/envoy/data/core/v3/health_check_event.proto
  docs/root/configuration/http/http_filters/health_check_filter.rst
  docs/root/configuration/http/http_filters/router_filter.rst
  docs/root/configuration/upstream/cluster_manager/cluster_stats.rst
  docs/root/intro/arch_overview/upstream/health_checking.rst
  docs/root/intro/arch_overview/upstream/load_balancing/excluded.rst
  docs/root/intro/arch_overview/upstream/load_balancing/load_balancing.rst
  docs/root/version_history/current.rst
  generated_api_shadow/envoy/admin/v3/clusters.proto
  generated_api_shadow/envoy/admin/v4alpha/clusters.proto
  generated_api_shadow/envoy/config/cluster/v3/cluster.proto
  generated_api_shadow/envoy/config/cluster/v4alpha/cluster.proto
  generated_api_shadow/envoy/data/core/v3/health_check_event.proto
  include/envoy/upstream/health_check_host_monitor.h
  include/envoy/upstream/upstream.h
  source/common/router/router.cc
  source/common/runtime/runtime_features.cc
  source/common/upstream/health_checker_base_impl.cc
  source/common/upstream/health_checker_base_impl.h
  source/common/upstream/health_checker_impl.cc
  source/common/upstream/health_discovery_service.cc
  source/common/upstream/host_utility.cc
  source/common/upstream/upstream_impl.cc
  source/common/upstream/upstream_impl.h
  source/extensions/filters/http/health_check/health_check.cc
  source/server/admin/clusters_handler.cc
  test/common/router/router_test.cc
  test/common/upstream/health_checker_impl_test.cc
  test/common/upstream/host_utility_test.cc
  test/common/upstream/logical_dns_cluster_test.cc
  test/common/upstream/upstream_impl_test.cc
  test/extensions/filters/http/health_check/BUILD
  test/extensions/filters/http/health_check/health_check_test.cc
  test/integration/health_check_integration_test.cc
  test/mocks/upstream/host.h
Labels: api, no stalebot

#14867 docs: elaborate on behavior of scheme for ext_authz
  api/envoy/service/auth/v2/attribute_context.proto
  api/envoy/service/auth/v3/attribute_context.proto
  api/envoy/service/auth/v4alpha/attribute_context.proto
  generated_api_shadow/envoy/service/auth/v2/attribute_context.proto
  generated_api_shadow/envoy/service/auth/v3/attribute_context.proto
  generated_api_shadow/envoy/service/auth/v4alpha/attribute_context.proto
Labels: v2-freeze

#14552 network: TCP proxying over HTTP POST
  api/envoy/config/route/v3/route_components.proto
  api/envoy/config/route/v4alpha/route_components.proto
  api/envoy/extensions/filters/network/tcp_proxy/v3/tcp_proxy.proto
  api/envoy/extensions/filters/network/tcp_proxy/v4alpha/tcp_proxy.proto
  configs/encapsulate_in_http2_post.yaml
  configs/terminate_http2_post.yaml
  docs/root/intro/arch_overview/http/upgrades.rst
  docs/root/version_history/current.rst
  generated_api_shadow/envoy/config/route/v3/route_components.proto
  generated_api_shadow/envoy/config/route/v4alpha/route_components.proto
  generated_api_shadow/envoy/extensions/filters/network/tcp_proxy/v3/tcp_proxy.proto
  generated_api_shadow/envoy/extensions/filters/network/tcp_proxy/v4alpha/tcp_proxy.proto
  include/envoy/http/codec.h
  source/common/http/codec_wrappers.h
  source/common/http/http1/codec_impl.cc
  source/common/http/http1/codec_impl.h
  source/common/http/http2/codec_impl.h
  source/common/router/router.cc
  source/common/tcp_proxy/BUILD
  source/common/tcp_proxy/upstream.cc
  source/common/tcp_proxy/upstream.h
  source/extensions/filters/network/tcp_proxy/config.cc
  source/extensions/quic_listeners/quiche/envoy_quic_client_stream.h
  test/common/http/header_utility_test.cc
  test/common/router/BUILD
  test/common/router/router_test.cc
  test/common/tcp_proxy/upstream_test.cc
  test/config/utility.cc
  test/config/utility.h
  test/extensions/filters/network/tcp_proxy/config_test.cc
  test/integration/integration_test.cc
  test/integration/protocol_integration_test.cc
  test/integration/tcp_tunneling_integration_test.cc
  test/mocks/http/stream_encoder.h
Labels: v2-freeze

#14749 config: Add `envoy.features.disallow_deprecated_features` runtime key
  CONTRIBUTING.md
  docs/root/configuration/operations/runtime.rst
  docs/root/version_history/current.rst
  source/common/protobuf/utility.cc
  test/common/protobuf/utility_test.cc
Labels: api, deps

#14940 docs: Fixed typos
  docs/root/start/quick-start/securing.rst
Labels: area/docs

#14924 http2: Change accounting of WINDOW_UPDATE frames
  api/envoy/config/core/v3/protocol.proto
  api/envoy/config/core/v4alpha/protocol.proto
  docs/root/version_history/current.rst
  generated_api_shadow/envoy/config/core/v3/protocol.proto
  generated_api_shadow/envoy/config/core/v4alpha/protocol.proto
  source/common/http/http2/codec_impl.cc
  source/common/http/http2/protocol_constraints.cc
  source/common/http/http2/protocol_constraints.h
  test/common/http/http2/codec_impl_test.cc
  test/common/http/http2/protocol_constraints_test.cc
  test/integration/http2_flood_integration_test.cc
Labels: api

#15039 build: Fix git describe bug in flaky test script
  ci/flaky_test/process_xml.py
Labels: area/build, area/test flakes

#14467 Replace rapidjson with nlohmann/json
  bazel/external/json.BUILD
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  docs/root/version_history/current.rst
  include/envoy/json/json_object.h
  source/common/json/BUILD
  source/common/json/json_internal.cc
  source/common/json/json_internal.h
  source/common/json/json_internal_legacy.cc
  source/common/json/json_internal_legacy.h
  source/common/json/json_loader.cc
  source/common/runtime/runtime_features.cc
  test/common/json/BUILD
  test/common/json/json_loader_test.cc
  test/common/router/header_formatter_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: deps

#15016 wasm: fix root_context_id that was incorrectly cached across threads.
  bazel/repository_locations.bzl
  source/extensions/common/wasm/context.h
  source/extensions/common/wasm/wasm.cc
  source/extensions/common/wasm/wasm.h
  source/extensions/common/wasm/wasm_extension.cc
  source/extensions/common/wasm/wasm_extension.h
  source/extensions/filters/http/wasm/wasm_filter.h
  source/extensions/filters/network/wasm/wasm_filter.h
  test/extensions/common/wasm/wasm_test.cc
  test/extensions/filters/network/wasm/config_test.cc
Labels: backport/approved

#15040 build: Fix whitespace in flaky test script's output
  ci/flaky_test/process_xml.py
Labels: area/test flakes

#15000 quiche: check quic transport socket configuration is correct
  api/envoy/config/listener/v3/quic_config.proto
  api/envoy/config/listener/v4alpha/quic_config.proto
  bazel/repository_locations.bzl
  generated_api_shadow/envoy/config/listener/v3/quic_config.proto
  generated_api_shadow/envoy/config/listener/v4alpha/quic_config.proto
  source/extensions/extensions_build_config.bzl
  source/extensions/quic_listeners/quiche/BUILD
  source/extensions/quic_listeners/quiche/envoy_quic_proof_source.cc
  source/server/BUILD
  source/server/listener_manager_impl.cc
  source/server/listener_manager_impl.h
  test/extensions/quic_listeners/quiche/envoy_quic_proof_source_test.cc
  test/server/BUILD
  test/server/listener_manager_impl_quic_only_test.cc
Labels: v2-freeze

#14962 outlier_detector: accept large base_ejection_time when max_ejection_time not specified
  api/envoy/config/cluster/v3/outlier_detection.proto
  api/envoy/config/cluster/v4alpha/outlier_detection.proto
  generated_api_shadow/BUILD
  generated_api_shadow/envoy/config/cluster/v3/outlier_detection.proto
  generated_api_shadow/envoy/config/cluster/v4alpha/outlier_detection.proto
  source/common/upstream/outlier_detection_impl.cc
  source/common/upstream/outlier_detection_impl.h
  test/common/upstream/outlier_detection_impl_test.cc
Labels: api, backport/review

#14857 bazel: Assume default compiler is gcc
  bazel/BUILD
Labels: area/build
