Repository envoyproxy/envoy, pull requests merged in 2022-12, with the labels that each got.

#24268 Change OpenTelemetry grpc access logger to use unary RPCs rather than streaming
  source/extensions/access_loggers/common/grpc_access_logger.h
  source/extensions/access_loggers/open_telemetry/grpc_access_log_impl.cc
  test/extensions/access_loggers/common/grpc_access_logger_test.cc
  test/extensions/access_loggers/open_telemetry/access_log_integration_test.cc
  test/extensions/access_loggers/open_telemetry/grpc_access_log_impl_test.cc
Labels: api

#24295 mobile: add CircleCI docs generation CI job
  .circleci/config.yml
  mobile/docs/build.sh
Labels: mobile

#24291 mobile: remove duplicate files
  OWNERS.md
  mobile/CODEOWNERS
  mobile/CODE_OF_CONDUCT.md
  mobile/DCO
  mobile/LICENSE
  mobile/NOTICE
  mobile/OWNERS.md
  mobile/PULL_REQUEST_TEMPLATE.md
Labels: mobile

#22135 rate_limit_quota: Quota based rate limiting, part 1
  source/common/common/logger.h
  source/extensions/filters/http/rate_limit_quota/BUILD
  source/extensions/filters/http/rate_limit_quota/client.h
  source/extensions/filters/http/rate_limit_quota/client_impl.cc
  source/extensions/filters/http/rate_limit_quota/client_impl.h
  source/extensions/filters/http/rate_limit_quota/config.cc
  source/extensions/filters/http/rate_limit_quota/config.h
  source/extensions/filters/http/rate_limit_quota/filter.cc
  source/extensions/filters/http/rate_limit_quota/filter.h
  test/extensions/filters/http/rate_limit_quota/BUILD
  test/extensions/filters/http/rate_limit_quota/client_test.cc
  test/extensions/filters/http/rate_limit_quota/config_test.cc
  test/extensions/filters/http/rate_limit_quota/filter_test.cc
  test/extensions/filters/http/rate_limit_quota/mocks.h
  test/per_file_coverage.sh
Labels: api, deps

#24250 upstream: don't require `source_address` in `upstream_bind_config`
  api/envoy/config/core/v3/address.proto
  changelogs/current.yaml
  envoy/upstream/cluster_manager.h
  source/common/upstream/cluster_manager_impl.cc
  source/common/upstream/cluster_manager_impl.h
  source/common/upstream/upstream_impl.cc
  source/common/upstream/upstream_impl.h
  test/common/upstream/cluster_manager_impl_test.cc
  test/common/upstream/upstream_impl_test.cc
  test/mocks/upstream/cluster_manager.cc
  test/mocks/upstream/cluster_manager.h
Labels: api

#24300 Fix mobile/tools/check_format.sh to re-apply #2698
  mobile/tools/check_format.sh
Labels: mobile

#24299 Allow mobile/library/common/jni/ to be built on non-Android platforms.
  mobile/library/common/jni/BUILD
Labels: mobile

#24317 ci: Bump mobile build images
  .circleci/config.yml
  .github/workflows/android_tests.yml
  .github/workflows/asan.yml
  .github/workflows/cc_tests.yml
  .github/workflows/coverage.yml
  .github/workflows/format.yml
  .github/workflows/perf.yml
  .github/workflows/python_tests.yml
  .github/workflows/tsan.yml
  mobile/third_party/rbe_configs/config/BUILD
Labels: mobile

#24304 mobile: force registering request uuid extension
  mobile/envoy_build_config/BUILD
  mobile/envoy_build_config/extension_registry.cc
  source/extensions/request_id/uuid/config.h
Labels: mobile

#24253 build: enable logging by default
  bazel/envoy_build_system.bzl
  bazel/envoy_internal.bzl
  bazel/envoy_select.bzl
  source/common/common/logger.h
Labels: mobile

#24354 Revert "Adding ECDS config dump support. (#23902)"
  api/envoy/admin/v3/config_dump.proto
  api/envoy/admin/v3/config_dump_shared.proto
  docs/root/operations/admin.rst
  source/common/filter/BUILD
  source/common/filter/config_discovery_impl.cc
  source/common/filter/config_discovery_impl.h
  test/integration/BUILD
  test/integration/extension_discovery_integration_test.cc
  test/integration/listener_extension_discovery_integration_test.cc
  test/per_file_coverage.sh
  test/server/admin/BUILD
  test/server/admin/config_dump_handler_test.cc
Labels: api

#24351 coverage: adding tests, bumping up
  source/extensions/clusters/common/logical_host.h
  test/extensions/clusters/common/BUILD
  test/extensions/clusters/common/logical_host_test.cc
  test/per_file_coverage.sh
Labels: mobile

#24370 mobile: update `bazelw` to pull bazelisk 1.15.0
  mobile/bazelw
Labels: mobile

#24390 Fix mobile/vscode_compdb script for repo merge
  mobile/tools/vscode_compdb.sh
Labels: api, mobile

#24396 mobile: build Swift with whole module optimization
  mobile/.bazelrc
Labels: mobile

#24409 bazel: update rules_rust
  bazel/repository_locations.bzl
Labels: deps

#24235 bazel: update to 6.0.0rc4
  .bazelrc
  .bazelversion
  bazel/repository_locations.bzl
Labels: deps

#24404 mobile: remove `bump_lyft_support_rotation.sh` script
  mobile/tools/bump_lyft_support_rotation.sh
Labels: mobile

#24407 ci: run mobile GitHub Actions on every PR
  .github/workflows/android_build.yml
  .github/workflows/android_tests.yml
  .github/workflows/asan.yml
  .github/workflows/core.yml
  .github/workflows/coverage.yml
  .github/workflows/format.yml
  .github/workflows/ios_build.yml
  .github/workflows/ios_tests.yml
  .github/workflows/python_tests.yml
  .github/workflows/release_validation.yml
  .github/workflows/tsan.yml
  mobile/tools/should_run_ci.sh
Labels: mobile

#24368 Add setRequestDecoder to ResponseEncoder interface
  envoy/http/codec.h
  mobile/library/common/http/client.h
  source/common/http/conn_manager_impl.cc
  source/common/http/http1/codec_impl.h
  source/common/http/http2/codec_impl.cc
  source/common/http/http2/codec_impl.h
  source/common/quic/envoy_quic_server_stream.h
  test/mocks/http/stream_encoder.h
Labels: mobile

#24389 Remove uneccessary `this->` from mobile engine builder
  mobile/library/cc/engine_builder.cc
Labels: mobile

#24397 iOS: split `EnvoyEngine.h` into multiple header files
  mobile/library/objective-c/BUILD
  mobile/library/objective-c/EnvoyAliases.h
  mobile/library/objective-c/EnvoyConfiguration.h
  mobile/library/objective-c/EnvoyEngine.h
  mobile/library/objective-c/EnvoyEventTracker.h
  mobile/library/objective-c/EnvoyEventTracker.m
  mobile/library/objective-c/EnvoyHTTPCallbacks.h
  mobile/library/objective-c/EnvoyHTTPFilter.h
  mobile/library/objective-c/EnvoyHTTPFilterFactory.h
  mobile/library/objective-c/EnvoyHTTPStream.h
  mobile/library/objective-c/EnvoyKeyValueStore.h
  mobile/library/objective-c/EnvoyLogger.h
  mobile/library/objective-c/EnvoyNativeFilterConfig.h
  mobile/library/objective-c/EnvoyNetworkMonitor.h
  mobile/library/objective-c/EnvoyStringAccessor.h
Labels: mobile

#24402 swift: stop using loopback for direct responses
  mobile/library/common/config/config.cc
  mobile/library/common/extensions/filters/http/local_error/BUILD
  mobile/library/common/extensions/filters/http/local_error/filter.cc
  mobile/library/common/extensions/filters/http/network_configuration/BUILD
  mobile/library/common/extensions/filters/http/network_configuration/filter.cc
  mobile/library/common/extensions/filters/http/platform_bridge/filter.cc
  mobile/library/common/http/BUILD
  mobile/library/common/http/header_utility.cc
  mobile/library/common/http/header_utility.h
  mobile/test/common/integration/client_integration_test.cc
Labels: mobile

#24294 envoy: creating a stripped main base without validation server
  mobile/library/common/BUILD
  mobile/library/common/engine_common.cc
  mobile/library/common/engine_common.h
  source/exe/BUILD
  source/exe/main_common.cc
  source/exe/main_common.h
  source/exe/stripped_main_base.cc
  source/exe/stripped_main_base.h
  test/per_file_coverage.sh
Labels: api, mobile

#24461 mobile: Enable BaseClientIntegrationTest to bypass stream metrics checks
  mobile/test/common/integration/base_client_integration_test.cc
  mobile/test/common/integration/base_client_integration_test.h
Labels: mobile

#24297 Simplify async certificate validation
  envoy/ssl/ssl_socket_extended_info.h
  mobile/library/common/extensions/cert_validator/platform_bridge/platform_bridge_cert_validator.cc
  mobile/library/common/extensions/cert_validator/platform_bridge/platform_bridge_cert_validator.h
  mobile/test/common/extensions/cert_validator/platform_bridge/platform_bridge_cert_validator_test.cc
  source/common/quic/envoy_quic_proof_verifier.cc
  source/extensions/transport_sockets/tls/cert_validator/cert_validator.h
  source/extensions/transport_sockets/tls/cert_validator/default_validator.cc
  source/extensions/transport_sockets/tls/cert_validator/default_validator.h
  source/extensions/transport_sockets/tls/cert_validator/spiffe/spiffe_validator.cc
  source/extensions/transport_sockets/tls/cert_validator/spiffe/spiffe_validator.h
  source/extensions/transport_sockets/tls/context_impl.cc
  source/extensions/transport_sockets/tls/ssl_handshaker.cc
  source/extensions/transport_sockets/tls/ssl_handshaker.h
  test/extensions/transport_sockets/tls/cert_validator/default_validator_test.cc
  test/extensions/transport_sockets/tls/cert_validator/spiffe/spiffe_validator_test.cc
  test/extensions/transport_sockets/tls/cert_validator/timed_cert_validator.cc
  test/extensions/transport_sockets/tls/cert_validator/timed_cert_validator.h
Labels: mobile

#24447 ci: move mobile docs job to Github Actions
  .circleci/config.yml
  .github/workflows/docs.yml
  mobile/ci/mac_ci_setup.sh
  mobile/docs/build.sh
  mobile/docs/publish.sh
Labels: mobile

#24470 mobile: disable some virtual cluster stats
  mobile/library/common/config/config.cc
Labels: mobile

#24432 mobile: Allow passing a Bootstrap override to BaseClientIntegrationTest
  mobile/test/common/integration/base_client_integration_test.cc
  mobile/test/common/integration/base_client_integration_test.h
Labels: mobile

#24490 ci/mobile: register listener
  mobile/envoy_build_config/BUILD
  mobile/envoy_build_config/extension_registry.cc
  source/extensions/listener_managers/listener_manager/listener_manager_impl.h
Labels: mobile

#24496 ci: revert disable running the Objective-C integration app (#24478)"
  .github/workflows/ios_build.yml
  mobile/envoy_build_config/BUILD
  mobile/envoy_build_config/extension_registry.cc
  source/common/quic/quic_transport_socket_factory.h
Labels: mobile

#24386 build(deps): bump abseil-cpp to latest version
  bazel/repository_locations.bzl
  mobile/bazel/abseil.patch
  mobile/bazel/envoy_mobile_repositories.bzl
  source/common/http/status.cc
Labels: deps, mobile

#24471 ci: sonatype_nexus_upload.py: remove unused format argument
  mobile/ci/sonatype_nexus_upload.py
Labels: mobile

#24406 make ClusterInfo::traffic_stats_ a unique_ptr, so that later we can lazy-init it later.
  envoy/upstream/upstream.h
  source/common/conn_pool/conn_pool_base.cc
  source/common/http/codec_client.cc
  source/common/http/codec_client.h
  source/common/http/conn_pool_base.cc
  source/common/http/conn_pool_base.h
  source/common/http/conn_pool_grid.cc
  source/common/http/http1/conn_pool.cc
  source/common/http/http2/conn_pool.cc
  source/common/http/http3/conn_pool.cc
  source/common/router/retry_state_impl.cc
  source/common/router/router.cc
  source/common/router/upstream_codec_filter.cc
  source/common/router/upstream_request.cc
  source/common/tcp/conn_pool.cc
  source/common/tcp_proxy/tcp_proxy.cc
  source/common/upstream/cluster_manager_impl.cc
  source/common/upstream/conn_pool_map_impl.h
  source/common/upstream/health_checker_base_impl.cc
  source/common/upstream/thread_aware_lb_impl.cc
  source/common/upstream/upstream_impl.cc
  source/common/upstream/upstream_impl.h
  source/extensions/clusters/original_dst/original_dst_cluster.cc
  source/extensions/filters/network/common/redis/client_impl.cc
  source/extensions/filters/network/redis_proxy/conn_pool_impl.cc
  source/extensions/filters/udp/udp_proxy/udp_proxy_filter.cc
  source/extensions/stat_sinks/common/statsd/statsd.cc
  source/extensions/stat_sinks/hystrix/hystrix.cc
  test/common/conn_pool/conn_pool_base_test.cc
  test/common/http/codec_client_test.cc
  test/common/http/http1/conn_pool_test.cc
  test/common/http/http2/conn_pool_test.cc
  test/common/router/retry_state_impl_test.cc
  test/common/stats/BUILD
  test/common/tcp/conn_pool_test.cc
  test/common/upstream/conn_pool_map_impl_test.cc
  test/common/upstream/health_check_fuzz.cc
  test/common/upstream/health_checker_impl_test.cc
  test/common/upstream/upstream_impl_test.cc
  test/extensions/clusters/aggregate/cluster_test.cc
  test/extensions/clusters/original_dst/original_dst_cluster_test.cc
  test/extensions/filters/http/dynamic_forward_proxy/proxy_filter_test.cc
  test/extensions/filters/http/gcp_authn/gcp_authn_filter_integration_test.cc
  test/extensions/filters/network/common/redis/client_impl_test.cc
  test/extensions/filters/udp/udp_proxy/udp_proxy_filter_test.cc
  test/extensions/stats_sinks/common/statsd/statsd_test.cc
  test/extensions/stats_sinks/hystrix/hystrix_test.cc
  test/integration/integration_test.cc
  test/mocks/upstream/cluster_info.cc
  test/mocks/upstream/cluster_info.h
  test/test_common/real_threads_test_helper.h
Labels: api

#24532 ios: fix platform key value store
  mobile/library/objective-c/BUILD
  mobile/library/objective-c/EnvoyBridgeUtility.h
  mobile/library/objective-c/EnvoyEngineImpl.m
  mobile/library/objective-c/EnvoyKeyValueStoreBridgeImpl.h
  mobile/library/objective-c/EnvoyKeyValueStoreBridgeImpl.m
  mobile/test/objective-c/BUILD
  mobile/test/objective-c/EnvoyKeyValueStoreBridgeImplTest.m
Labels: mobile

#24533 mobile: update SwiftLint to 0.50.3
  .github/workflows/format.yml
  mobile/bazel/envoy_mobile_repositories.bzl
  mobile/tools/check_format.sh
Labels: mobile

#24483 tls: SNI-based cert selection during TLS handshake (#22036)
  api/envoy/extensions/transport_sockets/tls/v3/tls.proto
  changelogs/current.yaml
  docs/root/intro/arch_overview/security/ssl.rst
  envoy/ssl/context_config.h
  source/common/runtime/runtime_features.cc
  source/extensions/transport_sockets/tls/context_config_impl.cc
  source/extensions/transport_sockets/tls/context_config_impl.h
  source/extensions/transport_sockets/tls/context_impl.cc
  source/extensions/transport_sockets/tls/context_impl.h
  source/extensions/transport_sockets/tls/context_manager_impl.cc
  source/extensions/transport_sockets/tls/context_manager_impl.h
  test/extensions/transport_sockets/tls/BUILD
  test/extensions/transport_sockets/tls/context_impl_test.cc
  test/extensions/transport_sockets/tls/handshaker_factory_test.cc
  test/extensions/transport_sockets/tls/ssl_socket_test.cc
  test/extensions/transport_sockets/tls/test_data/certs.sh
  test/extensions/transport_sockets/tls/test_data/no_san_cn_cert.cfg
  test/extensions/transport_sockets/tls/test_data/no_san_cn_cert.pem
  test/extensions/transport_sockets/tls/test_data/no_san_cn_cert_info.h
  test/extensions/transport_sockets/tls/test_data/no_san_cn_key.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_ecdsa_1_cert.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_ecdsa_1_cert_info.h
  test/extensions/transport_sockets/tls/test_data/san_dns_ecdsa_1_key.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_ecdsa_2_cert.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_ecdsa_2_cert_info.h
  test/extensions/transport_sockets/tls/test_data/san_dns_ecdsa_2_key.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_rsa_1_cert.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_rsa_1_cert_info.h
  test/extensions/transport_sockets/tls/test_data/san_dns_rsa_1_cert_key.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_rsa_1_key.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_rsa_2_cert.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_rsa_2_cert_info.h
  test/extensions/transport_sockets/tls/test_data/san_dns_rsa_2_key.pem
  test/extensions/transport_sockets/tls/test_data/san_dns_server1_cert.cfg
  test/extensions/transport_sockets/tls/test_data/san_dns_server2_cert.cfg
  test/extensions/transport_sockets/tls/test_data/san_multiple_dns_1_cert.cfg
  test/extensions/transport_sockets/tls/test_data/san_multiple_dns_1_cert.pem
  test/extensions/transport_sockets/tls/test_data/san_multiple_dns_1_cert_info.h
  test/extensions/transport_sockets/tls/test_data/san_multiple_dns_1_key.pem
  test/extensions/transport_sockets/tls/test_data/san_wildcard_dns_cert.cfg
  test/extensions/transport_sockets/tls/test_data/san_wildcard_dns_cert.pem
  test/extensions/transport_sockets/tls/test_data/san_wildcard_dns_cert_info.h
  test/extensions/transport_sockets/tls/test_data/san_wildcard_dns_key.pem
  test/mocks/ssl/mocks.h
Labels: api

#24363 mobile: allow using a light listener manager
  .github/workflows/cc_tests.yml
  envoy/server/options.h
  mobile/envoy_build_config/BUILD
  mobile/envoy_build_config/extension_registry.cc
  mobile/envoy_build_config/extensions_build_config.bzl
  mobile/library/common/engine_common.cc
  mobile/library/common/extensions/listener_managers/api_listener_manager/BUILD
  mobile/library/common/extensions/listener_managers/api_listener_manager/api_listener_manager.cc
  mobile/library/common/extensions/listener_managers/api_listener_manager/api_listener_manager.h
  source/server/BUILD
  source/server/options_impl.cc
  source/server/options_impl.h
  source/server/server.cc
  test/mocks/server/BUILD
  test/mocks/server/options.cc
  test/mocks/server/options.h
Labels: mobile

#24540 build: fixing a linking bug for quic extensions
  source/common/quic/BUILD
  source/exe/BUILD
Labels: mobile

#24543 Clean up mobile/library/common/jni/BUILD targets
  mobile/library/common/jni/BUILD
  mobile/test/java/integration/BUILD
  mobile/test/java/io/envoyproxy/envoymobile/engine/BUILD
  mobile/test/java/org/chromium/net/BUILD
  mobile/test/java/org/chromium/net/impl/BUILD
  mobile/test/java/org/chromium/net/testing/BUILD
  mobile/test/java/org/chromium/net/urlconnection/BUILD
  mobile/test/kotlin/integration/BUILD
  mobile/test/kotlin/integration/proxying/BUILD
Labels: mobile

#24556 Remove unused linkopt on libenvoy_jni.so
  mobile/library/common/jni/BUILD
Labels: mobile

#24181 doc: fix typos
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  api/envoy/service/auth/v3/attribute_context.proto
Labels: v2-freeze

#24501 bazel: download Go SDKs for each supported platform
  bazel/dependency_imports.bzl
Labels: deps

#24456 Remove inheritance from base_client_integration_test to engine_builder
  mobile/library/cc/engine_builder.h
  mobile/test/common/integration/base_client_integration_test.cc
  mobile/test/common/integration/base_client_integration_test.h
  mobile/test/common/integration/client_integration_test.cc
  mobile/test/common/integration/xds_integration_test.cc
Labels: mobile

#24517 ios: add an option to force ipv6 on iOS
  mobile/docs/root/api/starting_envoy.rst
  mobile/docs/root/intro/version_history.rst
  mobile/library/objective-c/EnvoyConfiguration.h
  mobile/library/objective-c/EnvoyConfiguration.m
  mobile/library/swift/EngineBuilder.swift
  mobile/test/swift/EngineBuilderTests.swift
  mobile/test/swift/apps/experimental/ViewController.swift
Labels: mobile

#23947 TCP: per-client idle timeout for tcp conn pool
  api/BUILD
  api/envoy/extensions/upstreams/tcp/v3/BUILD
  api/envoy/extensions/upstreams/tcp/v3/tcp_protocol_options.proto
  api/versioning/BUILD
  changelogs/current.yaml
  docs/root/api-v3/config/upstream/upstream.rst
  docs/root/faq/configuration/timeouts.rst
  envoy/upstream/cluster_manager.h
  envoy/upstream/upstream.h
  source/common/http/mixed_conn_pool.cc
  source/common/runtime/runtime_features.cc
  source/common/tcp/conn_pool.cc
  source/common/tcp/conn_pool.h
  source/common/upstream/BUILD
  source/common/upstream/cluster_manager_impl.cc
  source/common/upstream/cluster_manager_impl.h
  source/common/upstream/upstream_impl.cc
  source/common/upstream/upstream_impl.h
  source/extensions/extensions_metadata.yaml
  source/extensions/upstreams/tcp/BUILD
  source/extensions/upstreams/tcp/config.cc
  source/extensions/upstreams/tcp/config.h
  test/common/tcp/BUILD
  test/common/tcp/conn_pool_test.cc
  test/common/upstream/BUILD
  test/common/upstream/test_cluster_manager.h
  test/common/upstream/upstream_impl_test.cc
  test/integration/tcp_proxy_integration_test.cc
  test/mocks/upstream/cluster_info.h
  test/mocks/upstream/cluster_manager_factory.h
  tools/code_format/config.yaml
  tools/extensions/extensions_schema.yaml
Labels: api

#24624 swift/kotlin: add enable dns cache method
  mobile/docs/root/intro/version_history.rst
  mobile/library/common/config/config.cc
  mobile/library/common/config/templates.h
  mobile/library/common/jni/jni_interface.cc
  mobile/library/java/io/envoyproxy/envoymobile/engine/EnvoyConfiguration.java
  mobile/library/java/io/envoyproxy/envoymobile/engine/EnvoyEngineImpl.java
  mobile/library/java/io/envoyproxy/envoymobile/engine/JniLibrary.java
  mobile/library/java/org/chromium/net/impl/NativeCronetEngineBuilderImpl.java
  mobile/library/kotlin/io/envoyproxy/envoymobile/EngineBuilder.kt
  mobile/library/objective-c/EnvoyConfiguration.h
  mobile/library/objective-c/EnvoyConfiguration.m
  mobile/library/swift/EngineBuilder.swift
  mobile/test/java/io/envoyproxy/envoymobile/engine/EnvoyConfigurationTest.kt
  mobile/test/kotlin/apps/experimental/MainActivity.kt
  mobile/test/kotlin/io/envoyproxy/envoymobile/EngineBuilderTest.kt
  mobile/test/swift/EngineBuilderTests.swift
  mobile/test/swift/apps/experimental/ViewController.swift
Labels: mobile

#24639 Change the C++ engine builder to not override the stats_domain with an empty value
  mobile/library/cc/engine_builder.cc
Labels: mobile

#24638 test: Add clarifying comments to BaseClientIntegrationTest
  mobile/test/common/integration/base_client_integration_test.cc
  mobile/test/common/integration/base_client_integration_test.h
Labels: mobile

#24647 docker: Use the distroless base image without OpenSSL (base-nossl-debian11:nonroot)
  ci/Dockerfile-envoy
Labels: backport/review

#24645 mobile: remove timer & distribution methods from PulseClient
  mobile/docs/root/intro/version_history.rst
  mobile/examples/java/hello_world/MainActivity.java
  mobile/examples/kotlin/hello_world/MainActivity.kt
  mobile/examples/objective-c/hello_world/ViewController.m
  mobile/examples/swift/hello_world/ViewController.swift
  mobile/library/common/engine.cc
  mobile/library/common/engine.h
  mobile/library/common/jni/jni_interface.cc
  mobile/library/common/main_interface.cc
  mobile/library/java/io/envoyproxy/envoymobile/engine/AndroidEngineImpl.java
  mobile/library/java/io/envoyproxy/envoymobile/engine/EnvoyEngine.java
  mobile/library/java/io/envoyproxy/envoymobile/engine/EnvoyEngineImpl.java
  mobile/library/java/io/envoyproxy/envoymobile/engine/JniLibrary.java
  mobile/library/kotlin/io/envoyproxy/envoymobile/PulseClient.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/PulseClientImpl.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/mocks/MockEnvoyEngine.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/stats/Distribution.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/stats/DistributionImpl.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/stats/Timer.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/stats/TimerImpl.kt
  mobile/library/objective-c/EnvoyEngine.h
  mobile/library/objective-c/EnvoyEngineImpl.m
  mobile/library/swift/BUILD
  mobile/library/swift/PulseClient.swift
  mobile/library/swift/PulseClientImpl.swift
  mobile/library/swift/mocks/MockEnvoyEngine.swift
  mobile/library/swift/stats/Distribution.swift
  mobile/library/swift/stats/DistributionImpl.swift
  mobile/library/swift/stats/Timer.swift
  mobile/library/swift/stats/TimerImpl.swift
  mobile/test/common/main_interface_test.cc
  mobile/test/kotlin/apps/baseline/MainActivity.kt
  mobile/test/kotlin/apps/experimental/MainActivity.kt
  mobile/test/kotlin/integration/StatFlushIntegrationTest.kt
  mobile/test/kotlin/io/envoyproxy/envoymobile/PulseClientImplTest.kt
  mobile/test/swift/PulseClientImplTests.swift
  mobile/test/swift/apps/baseline/ViewController.swift
  mobile/test/swift/apps/experimental/ViewController.swift
  mobile/test/swift/integration/StatFlushIntegrationTest.swift
Labels: mobile

#24607 mobile: Test counters use Stats::Store instead of admin interface
  mobile/library/common/BUILD
  mobile/library/common/engine.cc
  mobile/library/common/engine.h
  mobile/test/common/integration/BUILD
  mobile/test/common/integration/base_client_integration_test.cc
  mobile/test/common/integration/base_client_integration_test.h
  mobile/test/common/integration/rtds_integration_test.cc
  mobile/test/common/integration/xds_integration_test.cc
  mobile/test/common/integration/xds_integration_test.h
Labels: mobile

#24658 mobile: Disable Kotlin StatFlushIntegrationTest
  mobile/test/kotlin/integration/StatFlushIntegrationTest.kt
Labels: mobile

#24651 mobile: Ensure no admin interface in integration test Bootstrap config
  mobile/test/common/integration/base_client_integration_test.cc
Labels: mobile

#24648 mobile: remove gauge methods from PulseClient
  mobile/docs/root/intro/version_history.rst
  mobile/examples/java/hello_world/MainActivity.java
  mobile/examples/kotlin/hello_world/MainActivity.kt
  mobile/examples/objective-c/hello_world/ViewController.m
  mobile/examples/swift/hello_world/ViewController.swift
  mobile/library/common/engine.cc
  mobile/library/common/engine.h
  mobile/library/common/jni/jni_interface.cc
  mobile/library/common/main_interface.cc
  mobile/library/java/io/envoyproxy/envoymobile/engine/AndroidEngineImpl.java
  mobile/library/java/io/envoyproxy/envoymobile/engine/EnvoyEngine.java
  mobile/library/java/io/envoyproxy/envoymobile/engine/EnvoyEngineImpl.java
  mobile/library/java/io/envoyproxy/envoymobile/engine/JniLibrary.java
  mobile/library/kotlin/io/envoyproxy/envoymobile/PulseClient.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/PulseClientImpl.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/mocks/MockEnvoyEngine.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/stats/Gauge.kt
  mobile/library/kotlin/io/envoyproxy/envoymobile/stats/GaugeImpl.kt
  mobile/library/objective-c/EnvoyEngine.h
  mobile/library/objective-c/EnvoyEngineImpl.m
  mobile/library/swift/BUILD
  mobile/library/swift/PulseClient.swift
  mobile/library/swift/PulseClientImpl.swift
  mobile/library/swift/mocks/MockEnvoyEngine.swift
  mobile/library/swift/stats/Gauge.swift
  mobile/library/swift/stats/GaugeImpl.swift
  mobile/test/common/main_interface_test.cc
  mobile/test/kotlin/apps/baseline/MainActivity.kt
  mobile/test/kotlin/apps/experimental/MainActivity.kt
  mobile/test/kotlin/io/envoyproxy/envoymobile/PulseClientImplTest.kt
  mobile/test/swift/PulseClientImplTests.swift
  mobile/test/swift/apps/baseline/ViewController.swift
  mobile/test/swift/apps/experimental/ViewController.swift
  mobile/test/swift/integration/EngineApiTest.swift
Labels: mobile

#24666 mobile: dns cache registration
  mobile/envoy_build_config/BUILD
  mobile/envoy_build_config/extension_registry.cc
  mobile/examples/objective-c/hello_world/ViewController.m
  mobile/library/common/extensions/key_value/platform/config.cc
  mobile/library/common/extensions/key_value/platform/config.h
  mobile/library/swift/KeyValueStore.swift
Labels: mobile

#24600 mobile: add `./remote` helper
  mobile/bazelw
  mobile/remote
Labels: mobile
