Repository envoyproxy/envoy, pull requests merged in 2023-09, with the labels that each got.

#29204 otlp_stats_sink: add stats prefix config option
  api/envoy/extensions/stat_sinks/open_telemetry/v3/open_telemetry.proto
  changelogs/current.yaml
  source/extensions/stat_sinks/open_telemetry/open_telemetry_impl.cc
  source/extensions/stat_sinks/open_telemetry/open_telemetry_impl.h
  test/extensions/stats_sinks/open_telemetry/config_test.cc
  test/extensions/stats_sinks/open_telemetry/open_telemetry_impl_test.cc
  test/extensions/stats_sinks/open_telemetry/open_telemetry_integration_test.cc
Labels: api

#28778 xds rate limit: fixing lower bound for xDS rate limiting
  api/envoy/config/core/v3/config_source.proto
  api/envoy/extensions/filters/network/redis_proxy/v3/redis_proxy.proto
  changelogs/current.yaml
  source/common/common/token_bucket_impl.cc
  test/common/common/token_bucket_impl_test.cc
  test/extensions/filters/network/redis_proxy/config_test.cc
  test/server/server_corpus/low_fill_rate
Labels: api

#29488 deps/tooling: Bump `envoy.code.check` -> 0.5.5
  source/extensions/extensions_metadata.yaml
  tools/base/requirements.in
  tools/base/requirements.txt
Labels: deps

#29493 Changing the internal_listener related extensions to stable.
  api/envoy/extensions/bootstrap/internal_listener/v3/BUILD
  api/envoy/extensions/bootstrap/internal_listener/v3/internal_listener.proto
  source/extensions/extensions_metadata.yaml
Labels: api

#29455 clang/tools: Use python distributed versions
  tools/base/requirements.in
  tools/base/requirements.txt
  tools/clang-format/BUILD
  tools/clang-format/clang_format.bzl
  tools/code_format/BUILD
  tools/code_format/check_format.py
  tools/local_fix_format.sh
Labels: deps

#29448 Update run_envoy_docker.sh
  ci/run_envoy_docker.sh
Labels: waiting

#29601 Update QUICHE from f326e9346 to 667c58656
  bazel/external/quiche.BUILD
  bazel/repository_locations.bzl
Labels: deps

#29606 docs/python/mobile: Updates and cleanups
  .github/dependabot.yml
  .github/workflows/mobile-docs.yml
  mobile/docs/BUILD
  mobile/docs/build.sh
  mobile/docs/conf.py
  mobile/docs/publish.sh
  mobile/docs/requirements.in
  mobile/docs/requirements.txt
  mobile/tools/check_format.sh
  support/README.md
  tools/base/requirements.in
  tools/base/requirements.txt
  tools/code_format/format_python_tools.py
  tools/code_format/format_python_tools.sh
  tools/docs/BUILD
  tools/shell_utils.sh
Labels: deps

#29636 build/image: Update to `56f235b`
  .bazelrc
  .devcontainer/Dockerfile
  .github/workflows/_env.yml
  bazel/repository_locations.bzl
  examples/shared/build/Dockerfile
  mobile/third_party/rbe_configs/config/BUILD
Labels: deps

#29173 ext_authz: make the ext_authz filter a dual filter
  api/envoy/extensions/filters/http/ext_authz/v3/ext_authz.proto
  envoy/server/factory_context.h
  source/extensions/extensions_metadata.yaml
  source/extensions/filters/common/ext_authz/check_request_utils.cc
  source/extensions/filters/http/common/factory_base.h
  source/extensions/filters/http/ext_authz/config.cc
  source/extensions/filters/http/ext_authz/config.h
  source/extensions/filters/http/ext_authz/ext_authz.cc
  source/server/server.h
  test/extensions/filters/common/ext_authz/check_request_utils_test.cc
  test/extensions/filters/http/ext_authz/config_test.cc
  test/extensions/filters/http/ext_authz/ext_authz_integration_test.cc
  test/mocks/server/server_factory_context.cc
  test/mocks/server/server_factory_context.h
Labels: api

#29639 tls: add disable_stateful_session_resumption option
  api/envoy/extensions/transport_sockets/tls/v3/tls.proto
  changelogs/current.yaml
  envoy/ssl/context_config.h
  source/extensions/transport_sockets/tls/context_config_impl.cc
  source/extensions/transport_sockets/tls/context_config_impl.h
  source/extensions/transport_sockets/tls/context_impl.cc
  test/extensions/transport_sockets/tls/ssl_socket_test.cc
  test/mocks/ssl/mocks.h
Labels: api

#29561 quic: fix build with option `--//bazel:http3=False`
  bazel/external/quiche.BUILD
  bazel/external/quiche.bzl
  bazel/repositories.bzl
  source/exe/BUILD
  source/extensions/upstreams/http/udp/BUILD
  source/extensions/upstreams/http/udp/upstream_request.cc
  source/extensions/upstreams/http/udp/upstream_request.h
  test/config_test/BUILD
Labels: deps

#29674 Update the doc and status for composite_filter and matching API
  api/envoy/extensions/common/matching/v3/BUILD
  api/envoy/extensions/common/matching/v3/extension_matcher.proto
  api/envoy/extensions/filters/http/composite/v3/BUILD
  api/envoy/extensions/filters/http/composite/v3/composite.proto
  docs/root/configuration/http/http_filters/composite_filter.rst
  docs/root/intro/arch_overview/advanced/matching/matching_api.rst
  source/extensions/extensions_metadata.yaml
Labels: api

#29732 build/image: Bump to include skopeo
  .bazelrc
  .devcontainer/Dockerfile
  .github/workflows/_env.yml
  bazel/repository_locations.bzl
  ci/run_envoy_docker.sh
  examples/shared/build/Dockerfile
  mobile/third_party/rbe_configs/config/BUILD
Labels: deps

#29385 router: switch to use new QueryParametersMulti type
  api/envoy/config/route/v3/route_components.proto
  envoy/http/query_params.h
  source/common/http/utility.cc
  source/common/router/config_impl.cc
  source/common/router/config_utility.cc
  source/common/router/config_utility.h
  source/common/router/router_ratelimit.cc
  source/extensions/filters/http/jwt_authn/matcher.cc
  test/common/http/utility_test.cc
  test/common/router/config_impl_test.cc
Labels: api

#29659 tracing: introduce spawn_upstream_span in the tracing config
  api/envoy/config/trace/v3/skywalking.proto
  api/envoy/extensions/filters/http/router/v3/BUILD
  api/envoy/extensions/filters/http/router/v3/router.proto
  api/envoy/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto
  changelogs/current.yaml
  contrib/generic_proxy/filters/network/source/proxy.cc
  contrib/generic_proxy/filters/network/source/proxy.h
  docs/root/intro/arch_overview/observability/tracing.rst
  envoy/tracing/trace_config.h
  source/common/http/conn_manager_impl.cc
  source/common/http/conn_manager_impl.h
  source/common/router/upstream_request.cc
  source/common/tracing/tracer_config_impl.h
  source/common/tracing/tracer_impl.h
  source/extensions/tracers/opentelemetry/tracer.cc
  source/extensions/tracers/opentelemetry/tracer.h
  test/common/router/upstream_request_test.cc
  test/extensions/filters/http/router/config_test.cc
  test/extensions/tracers/opentelemetry/opentelemetry_tracer_impl_test.cc
  test/integration/protocol_integration_test.cc
  test/mocks/tracing/mocks.cc
  test/mocks/tracing/mocks.h
Labels: api

#29779 Revert "ext_authz: make the ext_authz filter a dual filter (#29173)"
  api/envoy/extensions/filters/http/ext_authz/v3/ext_authz.proto
  envoy/server/factory_context.h
  source/extensions/extensions_metadata.yaml
  source/extensions/filters/common/ext_authz/check_request_utils.cc
  source/extensions/filters/http/common/factory_base.h
  source/extensions/filters/http/ext_authz/config.cc
  source/extensions/filters/http/ext_authz/config.h
  source/extensions/filters/http/ext_authz/ext_authz.cc
  source/server/server.h
  test/extensions/filters/common/ext_authz/check_request_utils_test.cc
  test/extensions/filters/http/ext_authz/config_test.cc
  test/extensions/filters/http/ext_authz/ext_authz_integration_test.cc
  test/mocks/server/server_factory_context.cc
  test/mocks/server/server_factory_context.h
Labels: api

#29775 golang filter: fetch body data as []byte
  contrib/golang/common/go/api/capi.go
  contrib/golang/filters/http/source/go/pkg/http/capi_impl.go
  contrib/golang/filters/http/source/go/pkg/http/type.go
  contrib/golang/filters/http/test/test_data/basic/filter.go
Labels: contrib

#29756 router: update query params hash policy to use new data structure
  api/envoy/config/route/v3/route_components.proto
  source/common/http/hash_policy.cc
  test/common/router/config_impl_test.cc
Labels: api

#29719 redis proxy : read commands policy for prefix route
  api/envoy/extensions/filters/network/redis_proxy/v3/redis_proxy.proto
  changelogs/current.yaml
  source/extensions/filters/network/redis_proxy/command_splitter_impl.cc
  source/extensions/filters/network/redis_proxy/config.cc
  source/extensions/filters/network/redis_proxy/router.h
  source/extensions/filters/network/redis_proxy/router_impl.cc
  source/extensions/filters/network/redis_proxy/router_impl.h
  test/extensions/filters/network/redis_proxy/mocks.cc
  test/extensions/filters/network/redis_proxy/mocks.h
  test/extensions/filters/network/redis_proxy/router_impl_test.cc
Labels: v2-freeze
