Repository envoyproxy/envoy, pull requests merged in 2023-06, with the labels that each got.

#27753 changelog: Add `wasmtime`, `c-ares` CVE updates
  changelogs/current.yaml
Labels: backport/review

#27706 docs: Add info about xDS cluster ordering in the Bootstrap
  docs/root/api-docs/xds_protocol.rst
Labels: api

#27721 [release/1.26] repo: Release v1.26.2
  VERSION.txt
  changelogs/current.yaml
Labels: deps, version-change

#27804 [DEV/1.25] repo: Dev v1.25.8
  VERSION.txt
  changelogs/1.25.7.yaml
  changelogs/current.yaml
Labels: version-change

#27806 [DEV/1.26] repo: Dev v1.26.3
  VERSION.txt
  changelogs/1.26.2.yaml
  changelogs/current.yaml
Labels: version-change

#27803 [DEV/1.24] repo: Dev v1.24.9
  VERSION.txt
  changelogs/1.24.8.yaml
  changelogs/current.yaml
Labels: version-change

#27278 application_logs: add bootstrap option to write logs in JSON format
  api/envoy/config/bootstrap/v3/bootstrap.proto
  changelogs/current.yaml
  docs/root/configuration/observability/application_logging.rst
  envoy/server/options.h
  mobile/test/common/integration/client_integration_test.cc
  source/common/common/BUILD
  source/common/common/logger.cc
  source/common/common/logger.h
  source/server/BUILD
  source/server/config_validation/BUILD
  source/server/config_validation/server.cc
  source/server/options_impl.cc
  source/server/options_impl.h
  source/server/server.cc
  source/server/utils.cc
  source/server/utils.h
  test/common/common/logger_test.cc
  test/mocks/common.h
  test/mocks/server/options.h
  test/server/BUILD
  test/server/config_validation/server_test.cc
  test/server/config_validation/test_data/json_application_logs.yaml
  test/server/config_validation/test_data/json_application_logs_forbidden_flag_.yaml
  test/server/config_validation/test_data/json_application_logs_forbidden_flagv.yaml
  test/server/options_impl_test.cc
  test/server/server_test.cc
  test/server/test_data/server/json_application_log.yaml
  test/server/test_data/server/json_application_log_forbidden_flag_.yaml
  test/server/test_data/server/json_application_log_forbidden_flagv.yaml
  test/server/utils_test.cc
  tools/code_format/config.yaml
Labels: api

#27642 tests: remove no_extension_lookup_by_name runtime override in tests
  test/common/config/BUILD
  test/common/config/custom_config_validators_impl_test.cc
  test/common/tracing/tracer_manager_impl_test.cc
  test/common/upstream/cluster_manager_impl_test.cc
  test/common/upstream/upstream_impl_test.cc
  test/config/utility.cc
  test/extensions/access_loggers/grpc/BUILD
  test/extensions/access_loggers/grpc/tcp_grpc_access_log_integration_test.cc
  test/extensions/clusters/eds/BUILD
  test/extensions/clusters/eds/eds_test.cc
  test/extensions/common/aws/aws_metadata_fetcher_integration_test.cc
  test/extensions/common/dynamic_forward_proxy/BUILD
  test/extensions/common/dynamic_forward_proxy/dns_cache_impl_test.cc
  test/extensions/filters/http/geoip/BUILD
  test/extensions/filters/http/geoip/config_test.cc
  test/extensions/filters/http/geoip/dummy.proto
  test/extensions/filters/http/geoip/geoip_filter_test.cc
  test/extensions/filters/http/geoip/mocks.h
  test/extensions/filters/listener/tls_inspector/tls_inspector_integration_test.cc
  test/extensions/filters/network/echo/echo_integration_test.cc
  test/extensions/filters/network/rbac/integration_test.cc
  test/extensions/filters/udp/udp_proxy/udp_proxy_integration_test.cc
  test/extensions/listener_managers/listener_manager/BUILD
  test/extensions/listener_managers/listener_manager/config.proto
  test/extensions/listener_managers/listener_manager/listener_manager_impl_test.cc
  test/extensions/transport_sockets/proxy_protocol/BUILD
  test/extensions/transport_sockets/proxy_protocol/proxy_protocol_integration_test.cc
  test/extensions/transport_sockets/tcp_stats/BUILD
  test/extensions/transport_sockets/tcp_stats/tcp_stats_integration_test.cc
  test/integration/base_integration_test.cc
  test/integration/filter_manager_integration_test.cc
  test/integration/http_integration.cc
  test/integration/listener_lds_integration_test.cc
  test/integration/multiplexed_upstream_integration_test.cc
  test/integration/socket_interface_integration_test.cc
  test/integration/tcp_conn_pool_integration_test.cc
  test/server/server_test.cc
  test/server/test_data/server/callbacks_stats_sink_bootstrap.yaml
  test/server/test_data/server/stats_sink_bootstrap.yaml
  test/server/test_data/server/stats_sink_manual_flush_bootstrap.yaml
Labels: waiting

#27593 upstream: the subset load balancing policy could be configured as extension
  api/envoy/extensions/load_balancing_policies/subset/v3/subset.proto
  docs/root/intro/arch_overview/upstream/load_balancing/subsets.rst
  envoy/upstream/load_balancer.h
  envoy/upstream/upstream.h
  source/common/upstream/cluster_manager_impl.cc
  source/common/upstream/cluster_manager_impl.h
  source/common/upstream/load_balancer_factory_base.h
  source/common/upstream/upstream_impl.cc
  source/common/upstream/upstream_impl.h
  source/extensions/extensions_metadata.yaml
  source/extensions/load_balancing_policies/cluster_provided/config.cc
  source/extensions/load_balancing_policies/cluster_provided/config.h
  source/extensions/load_balancing_policies/common/BUILD
  source/extensions/load_balancing_policies/common/factory_base.h
  source/extensions/load_balancing_policies/least_request/config.cc
  source/extensions/load_balancing_policies/least_request/config.h
  source/extensions/load_balancing_policies/maglev/config.cc
  source/extensions/load_balancing_policies/maglev/config.h
  source/extensions/load_balancing_policies/random/config.cc
  source/extensions/load_balancing_policies/random/config.h
  source/extensions/load_balancing_policies/ring_hash/config.cc
  source/extensions/load_balancing_policies/ring_hash/config.h
  source/extensions/load_balancing_policies/round_robin/config.cc
  source/extensions/load_balancing_policies/round_robin/config.h
  source/extensions/load_balancing_policies/subset/BUILD
  source/extensions/load_balancing_policies/subset/config.cc
  source/extensions/load_balancing_policies/subset/config.h
  source/extensions/load_balancing_policies/subset/subset_lb.cc
  source/extensions/load_balancing_policies/subset/subset_lb.h
  test/common/upstream/cluster_manager_impl_test.cc
  test/common/upstream/load_balancer_benchmark.cc
  test/common/upstream/subset_lb_test.cc
  test/common/upstream/upstream_impl_test.cc
  test/extensions/load_balancing_policies/cluster_provided/config_test.cc
  test/extensions/load_balancing_policies/least_request/config_test.cc
  test/extensions/load_balancing_policies/maglev/config_test.cc
  test/extensions/load_balancing_policies/random/config_test.cc
  test/extensions/load_balancing_policies/ring_hash/config_test.cc
  test/extensions/load_balancing_policies/round_robin/config_test.cc
  test/extensions/load_balancing_policies/subset/BUILD
  test/extensions/load_balancing_policies/subset/config_test.cc
  test/extensions/load_balancing_policies/subset/integration_test.cc
  test/extensions/load_balancing_policies/subset/subset_test.cc
  test/integration/load_balancers/custom_lb_policy.h
  test/mocks/upstream/BUILD
  test/mocks/upstream/cluster_info.cc
  test/mocks/upstream/cluster_info.h
  test/mocks/upstream/typed_load_balancer_factory.h
Labels: api

#27543 UHV: Enable oghttp2 and UHV in HTTP/2 flood test
  source/common/http/codec_client.cc
  test/integration/http2_flood_integration_test.cc
Labels: waiting

#27833 hc: add host related info to the health check event
  api/envoy/data/core/v3/health_check_event.proto
  changelogs/current.yaml
  source/common/upstream/health_checker_event_logger.cc
  test/common/upstream/health_checker_impl_test.cc
Labels: api

#27872 filter: clear route cache in language filter
  api/contrib/envoy/extensions/filters/http/language/v3alpha/language.proto
  contrib/language/filters/http/source/config.cc
  contrib/language/filters/http/source/language_filter.cc
  contrib/language/filters/http/source/language_filter.h
Labels: contrib

#27657 ext_proc fuzzer test trigger ENVOY_BUG when clear route cache
  source/extensions/filters/http/ext_proc/processor_state.cc
  source/extensions/filters/http/ext_proc/processor_state.h
  test/extensions/filters/http/ext_proc/ext_proc_grpc_corpus/clusterfuzz-testcase-minimized-ext_proc_grpc_fuzz_test-4756668218736640.test
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
Labels: api

#27864 go extension filter state get api
  contrib/golang/common/dso/dso.cc
  contrib/golang/common/dso/dso.h
  contrib/golang/common/dso/libgolang.h
  contrib/golang/common/dso/test/mocks.h
  contrib/golang/common/dso/test/test_data/simple.go
  contrib/golang/filters/http/source/cgo.cc
  contrib/golang/filters/http/source/go/pkg/api/BUILD
  contrib/golang/filters/http/source/go/pkg/api/api.h
  contrib/golang/filters/http/source/go/pkg/api/filter.go
  contrib/golang/filters/http/source/go/pkg/http/BUILD
  contrib/golang/filters/http/source/go/pkg/http/capi.go
  contrib/golang/filters/http/source/go/pkg/http/capi_impl.go
  contrib/golang/filters/http/source/go/pkg/http/filter.go
  contrib/golang/filters/http/source/go/pkg/http/shim.go
  contrib/golang/filters/http/source/golang_filter.cc
  contrib/golang/filters/http/source/golang_filter.h
  contrib/golang/filters/http/test/golang_integration_test.cc
  contrib/golang/filters/http/test/test_data/basic/filter.go
Labels: contrib

#27851 fixing a few issues in ext_proc service doc
  api/envoy/service/ext_proc/v3/external_processor.proto
Labels: api

#27892 golang filter: remove config on the Go side while deconstructing filter config.
  contrib/golang/common/dso/dso.cc
  contrib/golang/common/dso/dso.h
  contrib/golang/common/dso/test/dso_test.cc
  contrib/golang/common/dso/test/mocks.h
  contrib/golang/common/dso/test/test_data/simple.go
  contrib/golang/filters/http/source/golang_filter.cc
  contrib/golang/filters/http/source/golang_filter.h
Labels: contrib

#27865 Fix ext_proc filter can not send non-utf8 character by gRPC
  api/envoy/config/core/v3/base.proto
  api/envoy/service/ext_proc/v3/external_processor.proto
  changelogs/current.yaml
  source/common/runtime/runtime_features.cc
  source/extensions/filters/http/ext_proc/mutation_utils.cc
  test/extensions/filters/http/ext_proc/BUILD
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
  test/extensions/filters/http/ext_proc/mutation_utils_test.cc
  test/extensions/filters/http/ext_proc/streaming_integration_test.cc
  test/extensions/filters/http/ext_proc/utils.cc
Labels: api

#28101 Turn ext_proc into API stable.
  api/envoy/extensions/filters/http/ext_proc/v3/BUILD
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  api/envoy/extensions/filters/http/ext_proc/v3/processing_mode.proto
  api/envoy/service/ext_proc/v3/BUILD
  api/envoy/service/ext_proc/v3/external_processor.proto
Labels: api

#23921 [stats] lazyinit ClusterInfo::trafficStats()
  api/envoy/config/bootstrap/v3/bootstrap.proto
  changelogs/current.yaml
  envoy/upstream/upstream.h
  source/common/stats/deferred_creation.h
  source/common/upstream/BUILD
  source/common/upstream/upstream_impl.cc
  source/common/upstream/upstream_impl.h
  test/extensions/clusters/aggregate/cluster_test.cc
  test/extensions/filters/http/dynamic_forward_proxy/proxy_filter_test.cc
  test/integration/cds_integration_test.cc
  test/mocks/upstream/BUILD
  test/mocks/upstream/cluster_info.cc
  test/mocks/upstream/cluster_info.h
Labels: no stalebot
