Repository envoyproxy/envoy, pull requests merged in 2023-07, with the labels that each got.

#28268 Update QUICHE from 87fe08172 to 5cc27c4cf
  bazel/repository_locations.bzl
Labels: deps

#28372 Revert "C++20 build config (#28337)"
  .bazelrc
  bazel/io_opentracing_cpp.patch
  ci/do_ci.sh
  source/common/common/logger.h
  source/extensions/common/aws/signer_impl.cc
  source/extensions/common/aws/utility.cc
  source/extensions/filters/common/rbac/matchers/upstream_ip_port.cc
  source/extensions/filters/network/mongo_proxy/codec_impl.h
  source/extensions/filters/network/mongo_proxy/proxy.cc
  source/server/hot_restarting_base.cc
  test/common/access_log/access_log_impl_test.cc
  test/extensions/filters/http/aws_lambda/aws_lambda_filter_integration_test.cc
  test/extensions/filters/http/bandwidth_limit/filter_test.cc
  test/extensions/filters/http/rbac/rbac_filter_integration_test.cc
  test/extensions/filters/http/rbac/rbac_filter_test.cc
  test/extensions/filters/http/tap/tap_filter_integration_test.cc
  test/extensions/filters/network/local_ratelimit/local_ratelimit_test.cc
  test/extensions/filters/network/rbac/config_test.cc
  test/extensions/filters/network/rbac/filter_test.cc
  test/extensions/filters/network/thrift_proxy/router_test.cc
  test/extensions/filters/network/thrift_proxy/trds_integration_test.cc
  test/extensions/tracers/opentelemetry/opentelemetry_tracer_impl_test.cc
  test/fuzz/validated_input_generator.h
  test/test_common/utility.h
Labels: deps

#28332 [release/1.23] repo: Release v1.23.11
  VERSION.txt
  changelogs/current.yaml
  docs/inventories/v1.23/objects.inv
  docs/versions.yaml
Labels: version-change

#28369 [bp/1.24] CVE/http: Fix memory leak in nghttp2 codec
  bazel/foreign_cc/nghttp2.patch
  changelogs/current.yaml
  test/integration/filters/test_socket_interface.cc
  test/integration/filters/test_socket_interface.h
  test/integration/http2_flood_integration_test.cc
  test/integration/socket_interface_swap.cc
  test/integration/socket_interface_swap.h
Labels: deps

#28381 [dev/1.23] repo: Dev v1.23.12
  VERSION.txt
  changelogs/1.23.11.yaml
  changelogs/current.yaml
Labels: version-change

#28359 [release/1.24] repo: Release v1.24.9
  VERSION.txt
  changelogs/1.23.11.yaml
  changelogs/current.yaml
  docs/inventories/v1.23/objects.inv
  docs/inventories/v1.24/objects.inv
  docs/versions.yaml
Labels: version-change

#28367 CVE/http: Fix memory leak in nghttp2 codec
  bazel/foreign_cc/nghttp2.patch
  changelogs/current.yaml
  test/integration/filters/test_socket_interface.cc
  test/integration/filters/test_socket_interface.h
  test/integration/http2_flood_integration_test.cc
  test/integration/socket_interface_swap.cc
  test/integration/socket_interface_swap.h
  test/per_file_coverage.sh
Labels: deps

#28373 C++20 build config
  .bazelrc
  bazel/io_opentracing_cpp.patch
  ci/do_ci.sh
  source/common/common/logger.h
  source/extensions/common/aws/signer_impl.cc
  source/extensions/common/aws/utility.cc
  source/extensions/filters/common/rbac/matchers/upstream_ip_port.cc
  source/extensions/filters/network/mongo_proxy/codec_impl.h
  source/extensions/filters/network/mongo_proxy/proxy.cc
  source/server/hot_restarting_base.cc
  test/common/access_log/access_log_impl_test.cc
  test/extensions/filters/http/aws_lambda/aws_lambda_filter_integration_test.cc
  test/extensions/filters/http/bandwidth_limit/filter_test.cc
  test/extensions/filters/http/rbac/rbac_filter_integration_test.cc
  test/extensions/filters/http/rbac/rbac_filter_test.cc
  test/extensions/filters/http/tap/tap_filter_integration_test.cc
  test/extensions/filters/network/local_ratelimit/local_ratelimit_test.cc
  test/extensions/filters/network/rbac/config_test.cc
  test/extensions/filters/network/rbac/filter_test.cc
  test/extensions/filters/network/thrift_proxy/router_test.cc
  test/extensions/filters/network/thrift_proxy/trds_integration_test.cc
  test/extensions/tracers/opentelemetry/opentelemetry_tracer_impl_test.cc
  test/fuzz/validated_input_generator.h
  test/test_common/utility.h
Labels: deps

#28382 [dev/1.24] repo: Dev v1.24.10
  VERSION.txt
  changelogs/1.24.9.yaml
  changelogs/current.yaml
Labels: version-change

#28127 api: add GrpcFieldExtraction http filter proto
  api/BUILD
  api/envoy/extensions/filters/http/grpc_field_extraction/v3/BUILD
  api/envoy/extensions/filters/http/grpc_field_extraction/v3/config.proto
  api/versioning/BUILD
Labels: api, v2-freeze

#28383 [dev/1.25] repo: Dev v1.25.9
  VERSION.txt
  changelogs/1.25.8.yaml
  changelogs/current.yaml
Labels: version-change

#28195 GrpcFieldExtraction: add message converter
  CODEOWNERS
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  source/extensions/filters/http/grpc_field_extraction/message_converter/BUILD
  source/extensions/filters/http/grpc_field_extraction/message_converter/message_converter.cc
  source/extensions/filters/http/grpc_field_extraction/message_converter/message_converter.h
  source/extensions/filters/http/grpc_field_extraction/message_converter/message_converter_utility.cc
  source/extensions/filters/http/grpc_field_extraction/message_converter/message_converter_utility.h
  source/extensions/filters/http/grpc_field_extraction/message_converter/stream_message.h
  test/extensions/filters/http/grpc_field_extraction/message_converter/BUILD
  test/extensions/filters/http/grpc_field_extraction/message_converter/message_converter_test.cc
  test/extensions/filters/http/grpc_field_extraction/message_converter/message_converter_test_lib.h
  test/extensions/filters/http/grpc_field_extraction/message_converter/message_converter_utility_test.cc
  test/extensions/filters/http/grpc_field_extraction/message_converter/stream_message_test.cc
  test/proto/BUILD
  test/proto/apikeys.proto
Labels: api, v2-freeze, deps

#28384 [dev/1.26] repo: Dev v1.26.4
  VERSION.txt
  changelogs/1.26.3.yaml
  changelogs/current.yaml
Labels: version-change

#28437 deps: Bump `edenhill_librdkafka` -> 2.2.0
  bazel/repository_locations.bzl
Labels: backport/review

#28159 add switch for setting round trip time to connection info
  changelogs/current.yaml
  source/common/http/conn_manager_impl.cc
  source/common/http/conn_manager_impl.h
  source/common/runtime/runtime_features.cc
  test/common/http/conn_manager_impl_test.cc
  test/common/quic/envoy_quic_server_session_test.cc
  test/integration/filter_integration_test.cc
Labels: waiting

#28505 temporarily workaround failed test on windows
  test/common/network/BUILD
  test/common/network/io_socket_handle_impl_integration_test.cc
  test/extensions/filters/http/dynamic_forward_proxy/proxy_filter_integration_test.cc
  test/extensions/network/dns_resolver/cares/dns_impl_test.cc
  test/extensions/network/dns_resolver/getaddrinfo/getaddrinfo_test.cc
Labels: backport/review

#28484 Implement header forwarding disallow list feature for ext_proc filter.
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  source/extensions/filters/http/ext_proc/mutation_utils.cc
  source/extensions/filters/http/ext_proc/mutation_utils.h
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/mutation_utils_test.cc
Labels: api

#28487 ext_authz: fix handling of non-UTF-8 bodies calling http_service
  api/envoy/extensions/filters/http/ext_authz/v3/ext_authz.proto
  changelogs/current.yaml
  source/extensions/filters/http/ext_authz/ext_authz.h
  test/extensions/filters/http/ext_authz/ext_authz_integration_test.cc
Labels: api

#28393 Add GrpcFieldExtraction Filter
  api/envoy/extensions/filters/http/grpc_field_extraction/v3/BUILD
  api/envoy/extensions/filters/http/grpc_field_extraction/v3/config.proto
  bazel/repository_locations.bzl
  docs/root/configuration/http/http_filters/grpc_field_extraction_filter.rst
  docs/root/configuration/http/http_filters/http_filters.rst
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  source/extensions/filters/http/grpc_field_extraction/BUILD
  source/extensions/filters/http/grpc_field_extraction/config.cc
  source/extensions/filters/http/grpc_field_extraction/config.h
  source/extensions/filters/http/grpc_field_extraction/extractor.h
  source/extensions/filters/http/grpc_field_extraction/extractor_impl.cc
  source/extensions/filters/http/grpc_field_extraction/extractor_impl.h
  source/extensions/filters/http/grpc_field_extraction/filter.cc
  source/extensions/filters/http/grpc_field_extraction/filter.h
  source/extensions/filters/http/grpc_field_extraction/filter_config.cc
  source/extensions/filters/http/grpc_field_extraction/filter_config.h
  test/extensions/filters/http/grpc_field_extraction/BUILD
  test/extensions/filters/http/grpc_field_extraction/filter_config_test.cc
  test/extensions/filters/http/grpc_field_extraction/filter_test.cc
  test/extensions/filters/http/grpc_field_extraction/integration_test.cc
  test/proto/apikeys.proto
  tools/spelling/spelling_dictionary.txt
Labels: api, deps

#28538 examples: Warn dont error on `wasm-cc` sandbox fail
  ci/verify_examples.sh
Labels: backport/review

#28564 ci/deps: Remove workaround/hack
  bazel/repository_locations.bzl
  ci/do_ci.sh
Labels: deps

#28603 deps: Bump python/pip deps
  tools/base/requirements.txt
Labels: deps

#27612 entensions/filters/http/ext_authz: Added connection level metadata
  changelogs/current.yaml
  source/extensions/filters/http/ext_authz/ext_authz.cc
  test/extensions/filters/http/ext_authz/ext_authz_test.cc
Labels: api

#28497 [release/1.23] repo: Release v1.23.12
  VERSION.txt
  changelogs/current.yaml
  docs/inventories/v1.23/objects.inv
  docs/versions.yaml
Labels: version-change

#28627 [dev/1.24] repo: Dev v1.24.11
  VERSION.txt
  changelogs/1.24.10.yaml
  changelogs/current.yaml
Labels: version-change

#28635 [dev/1.25] repo: Dev v1.25.10
  VERSION.txt
  changelogs/1.25.9.yaml
  changelogs/current.yaml
Labels: version-change

#28650 [dev/main/1.28] repo: Dev v1.28.0
  VERSION.txt
  changelogs/1.27.0.yaml
  changelogs/current.yaml
Labels: version-change

#28649 [dev/1.27] repo: Dev v1.27.1
  VERSION.txt
  changelogs/1.27.0.yaml
  changelogs/current.yaml
Labels: version-change
