Repository envoyproxy/envoy, pull requests merged in 2023-01, with the labels that each got.

#24678 Fix clang-tidy `performance-faster-string-find` warning
  mobile/library/cc/headers_builder.cc
  source/common/protobuf/utility.cc
  source/common/router/config_impl.cc
  source/extensions/http/header_validators/envoy_default/http1_header_validator.cc
Labels: mobile

#24667 bazel: update to 6.0.0
  .bazelrc
  .bazelversion
  bazel/BUILD
  bazel/EXTERNAL_DEPS.md
  bazel/external/BUILD
  bazel/external/boringssl_fips.BUILD
  bazel/external/boringssl_fips.genrule_cmd
  bazel/genrule_repository.bzl
  bazel/repositories.bzl
  bazel/repository_locations.bzl
Labels: deps

#24733 config/perf: use prefix matchers instead of regexes
  mobile/library/common/config/config.cc
Labels: mobile

#24778 ext_authz: fix docs for `status_on_error`
  api/envoy/extensions/filters/http/ext_authz/v3/ext_authz.proto
Labels: api

#24780 mobile grpc: expose cancel method on a stream
  mobile/docs/root/intro/version_history.rst
  mobile/library/kotlin/io/envoyproxy/envoymobile/grpc/GRPCStream.kt
  mobile/library/swift/grpc/GRPCStream.swift
  mobile/test/kotlin/integration/BUILD
  mobile/test/kotlin/integration/CancelGRPCStreamTest.kt
  mobile/test/kotlin/io/envoyproxy/envoymobile/GRPCStreamTest.kt
  mobile/test/swift/GRPCStreamTests.swift
  mobile/test/swift/integration/BUILD
  mobile/test/swift/integration/CancelGRPCStreamTest.swift
Labels: mobile

#24781 Move the copt for ABSL_FLAGS_STRIP_NAMES from the .bazelrc to the appropriate BUILD file
  mobile/.bazelrc
  source/common/runtime/BUILD
Labels: mobile

#24776 Make Envoy Mobile's C++ targets public
  mobile/library/cc/BUILD
Labels: mobile

#24794 Fix the Envoy Mobile test read filter
  mobile/bazel/envoy_mobile_test_extensions.bzl
  mobile/library/common/extensions/filters/http/test_read/BUILD
  mobile/library/common/extensions/filters/http/test_read/config.cc
  mobile/library/common/extensions/filters/http/test_read/config.h
  mobile/library/common/extensions/filters/http/test_read/filter.cc
  mobile/library/common/extensions/filters/http/test_read/filter.h
  mobile/library/common/extensions/filters/http/test_read/filter.proto
Labels: mobile

#24809 deps: bump `rules_rust` 0.14.0 => 0.16.1
  bazel/repository_locations.bzl
Labels: deps

#24288 repokitteh: Add `/coverage` command
  ci/repokitteh/modules/coverage.star
  repokitteh.star
Labels: rk:blessed

#24806 Clean up the Envoy Mobile JNI BUILD file
  mobile/bazel/kotlin_test.bzl
  mobile/library/common/jni/BUILD
  mobile/library/common/jni/android_test_jni_interface.cc
  mobile/test/common/jni/BUILD
  mobile/test/java/integration/BUILD
  mobile/test/java/io/envoyproxy/envoymobile/engine/BUILD
  mobile/test/java/io/envoyproxy/envoymobile/engine/testing/BUILD
  mobile/test/java/org/chromium/net/BUILD
  mobile/test/java/org/chromium/net/impl/BUILD
  mobile/test/java/org/chromium/net/testing/BUILD
  mobile/test/java/org/chromium/net/urlconnection/BUILD
  mobile/test/kotlin/integration/BUILD
  mobile/test/kotlin/integration/proxying/BUILD
Labels: mobile

#24842 Wait at most 5 minutes for the emulator to start
  .github/workflows/android_build.yml
Labels: mobile

#24679 Fix clang-tidy warnings
  mobile/library/cc/retry_policy.cc
Labels: mobile

#19166 Stats: Add iteration and sink predicates for histograms
  changelogs/current.yaml
  envoy/server/instance.h
  envoy/stats/allocator.h
  envoy/stats/sink.h
  envoy/stats/store.h
  source/common/runtime/runtime_features.cc
  source/common/stats/isolated_store_impl.h
  source/common/stats/thread_local_store.cc
  source/common/stats/thread_local_store.h
  source/server/server.cc
  test/common/stats/BUILD
  test/common/stats/allocator_impl_test.cc
  test/common/stats/stat_test_utility.h
  test/common/stats/thread_local_store_test.cc
  test/integration/server.h
  test/mocks/stats/mocks.h
  test/server/server_stats_flush_benchmark_test.cc
  test/server/server_test.cc
Labels: no stalebot

#24837 ci: run all mobile CI jobs on `main`
  mobile/tools/should_run_ci.sh
Labels: mobile

#24850 ci: wait up to 5 minutes for Android emulator to start
  .github/workflows/android_build.yml
  mobile/ci/mac_start_emulator.sh
Labels: mobile

#24862 ci: fix flaky swift test
  mobile/test/swift/integration/CancelGRPCStreamTest.swift
Labels: mobile

#24871 ci: simplify the clean up of kotlin test
  mobile/test/kotlin/integration/EngineApiTest.kt
Labels: mobile

#24883 bazel: run buildifier on EM WORKSPACE
  mobile/WORKSPACE
Labels: mobile

#24890 Add a destructor to Envoy::Platform::Engine which calls terminate()
  mobile/library/cc/engine.cc
  mobile/library/cc/engine.h
  mobile/test/common/integration/base_client_integration_test.cc
Labels: mobile

#24892 ci: increase timeouts in swift integration tests
  mobile/test/swift/integration/CancelGRPCStreamTest.swift
  mobile/test/swift/integration/CancelStreamTest.swift
  mobile/test/swift/integration/FilterResetIdleTest.swift
  mobile/test/swift/integration/GRPCReceiveErrorTest.swift
  mobile/test/swift/integration/IdleTimeoutTest.swift
  mobile/test/swift/integration/ReceiveErrorTest.swift
  mobile/test/swift/integration/ResetConnectivityStateTest.swift
  mobile/test/swift/integration/SendDataTest.swift
  mobile/test/swift/integration/SendHeadersTest.swift
  mobile/test/swift/integration/SendTrailersTest.swift
  mobile/test/swift/integration/SetLoggerTest.swift
Labels: mobile

#24882 build: test fix
  mobile/library/common/BUILD
Labels: mobile

#24897 uhv: fixing path normalizer fuzz test to use proto validation
  api/envoy/extensions/http/header_validators/envoy_default/v3/header_validator.proto
  test/extensions/http/header_validators/envoy_default/BUILD
  test/extensions/http/header_validators/envoy_default/path_normalizer_corpus/clusterfuzz-testcase-minimized-path_normalizer_fuzz_test-5056626942148608.fuzz
  test/extensions/http/header_validators/envoy_default/path_normalizer_fuzz_test.cc
Labels: api

#24889 Add // IWYU: export to log_level.h
  mobile/library/cc/log_level.h
Labels: mobile

#24915 [Envoy-mobile]add enums in Cronvoy to match Cronet interface
  mobile/library/java/org/chromium/net/EffectiveConnectionType.java
  mobile/library/java/org/chromium/net/NetworkQualityObservationSource.java
Labels: mobile

#24921 Avoid a race condition in CancelProofEnvoyStreamTest
  mobile/test/java/org/chromium/net/impl/CancelProofEnvoyStreamTest.java
Labels: mobile

#24919 mobile: retry starting emulator up to 3 times
  .github/workflows/android_build.yml
  mobile/ci/mac_start_emulator.sh
Labels: mobile

#24864 mobile: register all Envoy Mobile extension factories explicitly
  mobile/bazel/envoy_mobile_test_extensions.bzl
  mobile/envoy_build_config/BUILD
  mobile/envoy_build_config/extension_registry.cc
  mobile/test/common/BUILD
  mobile/test/common/engine_common_test.cc
  mobile/test/common/extensions/retry/options/network_configuration/BUILD
  mobile/test/common/extensions/retry/options/network_configuration/predicate_test.cc
  mobile/test/common/integration/BUILD
  mobile/test/common/integration/quic_test_server_interface.cc
  mobile/test/common/integration/sds_integration_test.cc
  mobile/test/swift/integration/test_extensions.cc
  source/common/common/regex.h
  source/common/http/match_delegate/config.cc
  source/common/http/match_delegate/config.h
  source/common/http/matching/inputs.h
  source/common/network/default_client_connection_factory.h
  source/common/network/matching/inputs.h
  source/common/network/resolver_impl.h
  source/common/quic/quic_transport_socket_factory.h
  source/common/router/config_impl.h
  source/common/watchdog/abort_action_config.h
  source/extensions/listener_managers/listener_manager/filter_chain_manager_impl.cc
  source/extensions/listener_managers/listener_manager/filter_chain_manager_impl.h
  source/extensions/path/match/uri_template/config.h
  source/extensions/path/rewrite/uri_template/config.h
Labels: mobile

#24938 mobile: update rules_xcodeproj to 0.11.0
  mobile/bazel/envoy_mobile_repositories.bzl
Labels: deps, mobile

#24939 Allow C++ engine builder to use platform cert verification on iOS
  mobile/library/cc/engine_builder.cc
  mobile/test/cc/unit/envoy_config_test.cc
Labels: mobile

#24936 mobile: retry starting iOS Simulator up to 3 times
  .github/workflows/ios_build.yml
  .github/workflows/release_validation.yml
  mobile/.bazelrc
  mobile/ci/start_ios_simulator.sh
Labels: mobile

#24947 mobile linker: add 'ldl' linker option
  mobile/library/common/jni/BUILD
Labels: mobile

#24954 Remove redundant "this->" in Envoy Mobile code
  mobile/library/cc/headers.cc
  mobile/library/cc/headers.h
  mobile/library/cc/headers_builder.cc
  mobile/library/cc/request_headers.cc
  mobile/library/cc/request_headers_builder.cc
  mobile/library/cc/request_trailers.cc
  mobile/library/cc/request_trailers_builder.cc
  mobile/library/cc/response_headers.cc
  mobile/library/cc/response_headers_builder.cc
  mobile/library/cc/response_trailers.cc
  mobile/library/cc/response_trailers_builder.cc
  mobile/library/cc/retry_policy.cc
  mobile/library/cc/stream.cc
  mobile/library/cc/stream_client.cc
  mobile/library/cc/stream_prototype.cc
  mobile/library/common/http/client.cc
  mobile/library/common/network/proxy_settings.h
Labels: mobile

#24979 ci: Fix google sdk apt key
  examples/wasm-cc/Dockerfile-envoy-build
Labels: backport/review

#24980 mobile: reducing the number of enabled Envoy stats
  mobile/library/common/config/config.cc
Labels: mobile

#24844 mobile: disable static extension registration
  .github/workflows/android_tests.yml
  bazel/BUILD
  bazel/README.md
  bazel/envoy_build_system.bzl
  bazel/envoy_internal.bzl
  bazel/envoy_select.bzl
  changelogs/current.yaml
  envoy/registry/registry.h
  mobile/.bazelrc
  mobile/test/swift/integration/CancelStreamTest.swift
  mobile/test/swift/integration/DirectResponseContainsHeadersMatchIntegrationTest.swift
  mobile/test/swift/integration/DirectResponseExactHeadersMatchIntegrationTest.swift
  mobile/test/swift/integration/DirectResponseExactPathMatchIntegrationTest.swift
  mobile/test/swift/integration/DirectResponseFilterMutationIntegrationTest.swift
  mobile/test/swift/integration/DirectResponsePrefixHeadersMatchIntegrationTest.swift
  mobile/test/swift/integration/DirectResponsePrefixPathMatchIntegrationTest.swift
  mobile/test/swift/integration/DirectResponseSuffixHeadersMatchIntegrationTest.swift
  mobile/test/swift/integration/EngineApiTest.swift
  mobile/test/swift/integration/FilterResetIdleTest.swift
  mobile/test/swift/integration/GRPCReceiveErrorTest.swift
  mobile/test/swift/integration/IdleTimeoutTest.swift
  mobile/test/swift/integration/KeyValueStoreTest.swift
  mobile/test/swift/integration/ReceiveDataTest.swift
  mobile/test/swift/integration/ReceiveErrorTest.swift
  mobile/test/swift/integration/ResetConnectivityStateTest.swift
  mobile/test/swift/integration/SendDataTest.swift
  mobile/test/swift/integration/SendHeadersTest.swift
  mobile/test/swift/integration/SendTrailersTest.swift
  mobile/test/swift/integration/SetEventTrackerTest.swift
  mobile/test/swift/integration/SetEventTrackerTestNoTracker.swift
  mobile/test/swift/integration/SetLoggerTest.swift
  mobile/test/swift/integration/StatFlushIntegrationTest.swift
Labels: mobile

#22419 Optimize EDS stream allocation
  changelogs/current.yaml
  envoy/upstream/cluster_manager.h
  source/common/config/subscription_factory_impl.cc
  source/common/config/subscription_factory_impl.h
  source/common/runtime/runtime_features.cc
  source/common/upstream/BUILD
  source/common/upstream/cluster_manager_impl.cc
  source/common/upstream/cluster_manager_impl.h
  source/common/upstream/multiplexed_subscription_factory.cc
  source/common/upstream/multiplexed_subscription_factory.h
  source/extensions/clusters/eds/BUILD
  source/extensions/clusters/eds/eds.cc
  source/extensions/clusters/eds/eds.h
  test/common/config/subscription_factory_impl_test.cc
  test/common/grpc/grpc_client_integration.h
  test/common/upstream/BUILD
  test/common/upstream/multiplexed_subscription_factory_test.cc
  test/extensions/clusters/eds/eds_speed_test.cc
  test/extensions/clusters/eds/eds_test.cc
  test/integration/BUILD
  test/integration/base_integration_test.cc
  test/integration/base_integration_test.h
  test/integration/eds_grpc_integration_test.cc
  test/integration/eds_integration_test.cc
  test/mocks/upstream/cluster_manager.cc
  test/mocks/upstream/cluster_manager.h
  tools/spelling/spelling_dictionary.txt
Labels: api, v2-freeze

#24866 tracing: make the tracer & tracer manager protocol independent
  envoy/tracing/BUILD
  envoy/tracing/http_tracer.h
  envoy/tracing/http_tracer_manager.h
  envoy/tracing/tracer.h
  envoy/tracing/tracer_manager.h
  source/common/access_log/access_log_impl.cc
  source/common/http/conn_manager_impl.cc
  source/common/tracing/BUILD
  source/common/tracing/http_tracer_impl.cc
  source/common/tracing/http_tracer_impl.h
  source/common/tracing/http_tracer_manager_impl.h
  source/common/tracing/tracer_impl.cc
  source/common/tracing/tracer_impl.h
  source/common/tracing/tracer_manager_impl.cc
  source/common/tracing/tracer_manager_impl.h
  source/extensions/filters/network/http_connection_manager/BUILD
  source/extensions/filters/network/http_connection_manager/config.cc
  source/extensions/filters/network/http_connection_manager/config.h
  source/extensions/tracers/xray/tracer.cc
  test/common/http/conn_manager_impl_fuzz_test.cc
  test/common/http/conn_manager_impl_test.cc
  test/common/http/conn_manager_impl_test_base.h
  test/common/tracing/BUILD
  test/common/tracing/http_tracer_impl_test.cc
  test/common/tracing/tracer_impl_test.cc
  test/common/tracing/tracer_manager_impl_test.cc
  test/extensions/filters/network/http_connection_manager/config_filter_chain_test.cc
  test/extensions/filters/network/http_connection_manager/config_filter_dependencies_test.cc
  test/extensions/filters/network/http_connection_manager/config_test.cc
  test/extensions/filters/network/http_connection_manager/config_test_base.h
  test/mocks/tracing/BUILD
  test/mocks/tracing/mocks.cc
  test/mocks/tracing/mocks.h
Labels: area/tracing

#25034 deps: Bump `rules_python` -> 0.16.2
  bazel/repository_locations.bzl
Labels: deps

#25035 deps: Bump `rules_apple` -> 2.0.0
  bazel/repository_locations.bzl
Labels: deps

#24745 mobile: making api listener configurable
  api/envoy/config/bootstrap/v3/bootstrap.proto
  api/envoy/config/listener/v3/listener.proto
  mobile/library/common/engine_common.cc
  mobile/library/common/engine_common.h
  mobile/library/common/extensions/listener_managers/api_listener_manager/api_listener_manager.cc
  mobile/library/common/extensions/listener_managers/api_listener_manager/api_listener_manager.h
  mobile/test/common/integration/base_client_integration_test.cc
  mobile/test/common/integration/client_integration_test.cc
  source/common/runtime/runtime_features.cc
  source/extensions/listener_managers/listener_manager/listener_manager_impl.h
  source/server/listener_manager_factory.h
  source/server/options_impl.h
  source/server/server.cc
Labels: mobile

#25036 deps: Bump `io_bazel_rules_go` -> 0.37.0
  bazel/repository_locations.bzl
Labels: deps

#24884 fix: for android without AlternateGetifaddrs support
  mobile/library/common/engine.cc
Labels: mobile

#25059 ci: retry Homebrew installations and updates
  mobile/ci/mac_ci_setup.sh
Labels: mobile

#25042 runtime: remove envoy_reloadable_features_http2_delay_keepalive_timeout
  changelogs/current.yaml
  mobile/library/cc/engine_builder.cc
  mobile/library/common/config/config.cc
  mobile/library/java/io/envoyproxy/envoymobile/engine/EnvoyConfiguration.java
  mobile/library/objective-c/EnvoyConfiguration.m
  mobile/test/cc/unit/envoy_config_test.cc
  mobile/test/java/io/envoyproxy/envoymobile/engine/EnvoyConfigurationTest.kt
  mobile/test/swift/EngineBuilderTests.swift
  source/common/http/http2/codec_impl.cc
  source/common/http/http2/codec_impl.h
  source/common/runtime/runtime_features.cc
  test/common/http/http2/codec_impl_test.cc
Labels: mobile

#24906 mobile: skipping command line parsing for E-M start up
  mobile/library/common/engine.cc
  mobile/library/common/engine_common.cc
  mobile/library/common/engine_common.h
  mobile/test/common/engine_common_test.cc
  source/server/options_impl.h
  test/server/options_impl_test.cc
Labels: mobile

#25065 mobile api: remove h2 extend keepalive timeout leftovers
  mobile/docs/root/api/starting_envoy.rst
  mobile/docs/root/intro/version_history.rst
  mobile/library/cc/engine_builder.cc
  mobile/library/cc/engine_builder.h
  mobile/library/java/io/envoyproxy/envoymobile/engine/EnvoyConfiguration.java
  mobile/library/java/org/chromium/net/impl/NativeCronetEngineBuilderImpl.java
  mobile/library/kotlin/io/envoyproxy/envoymobile/EngineBuilder.kt
  mobile/library/objective-c/EnvoyConfiguration.h
  mobile/library/objective-c/EnvoyConfiguration.m
  mobile/library/swift/EngineBuilder.swift
  mobile/test/java/io/envoyproxy/envoymobile/engine/EnvoyConfigurationTest.kt
  mobile/test/kotlin/apps/experimental/MainActivity.kt
  mobile/test/kotlin/io/envoyproxy/envoymobile/EngineBuilderTest.kt
  mobile/test/swift/EngineBuilderTests.swift
  mobile/test/swift/apps/experimental/ViewController.swift
Labels: mobile

#25089 build: Bump image -> `7304f974de2`
  .bazelrc
  .devcontainer/Dockerfile
  .github/workflows/android_tests.yml
  .github/workflows/asan.yml
  .github/workflows/cc_tests.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/perf.yml
  .github/workflows/python_tests.yml
  .github/workflows/tsan.yml
  bazel/repository_locations.bzl
  examples/shared/build/Dockerfile
  mobile/third_party/rbe_configs/config/BUILD
Labels: deps

#25049 Make Envoy Mobile enable HTTP/3 by default
  mobile/docs/root/intro/version_history.rst
  mobile/library/cc/engine_builder.h
  mobile/library/kotlin/io/envoyproxy/envoymobile/EngineBuilder.kt
  mobile/library/objective-c/EnvoyConfiguration.h
  mobile/library/objective-c/EnvoyConfiguration.m
  mobile/library/swift/EngineBuilder.swift
  mobile/test/cc/unit/envoy_config_test.cc
  mobile/test/java/io/envoyproxy/envoymobile/engine/EnvoyConfigurationTest.kt
  mobile/test/swift/EngineBuilderTests.swift
Labels: mobile

#25114 Revert "build: Bump image -> `7304f974de2` (#25089)"
  .bazelrc
  .devcontainer/Dockerfile
  .github/workflows/android_tests.yml
  .github/workflows/asan.yml
  .github/workflows/cc_tests.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/perf.yml
  .github/workflows/python_tests.yml
  .github/workflows/tsan.yml
  bazel/repository_locations.bzl
  examples/shared/build/Dockerfile
  mobile/third_party/rbe_configs/config/BUILD
Labels: deps

#25053 mobile tooling: bump xcodeproj rule version
  mobile/bazel/envoy_mobile_repositories.bzl
Labels: mobile

#24949 Add an example C++ program which fetches URLs from the command line
  mobile/examples/cc/fetch_client/BUILD
  mobile/examples/cc/fetch_client/fetch_client.cc
  mobile/examples/cc/fetch_client/fetch_client.h
  mobile/examples/cc/fetch_client/fetch_client_main.cc
Labels: mobile

#25019 mobile: moving c++ builder to using structured proto
  mobile/library/cc/BUILD
  mobile/library/cc/engine_builder.cc
  mobile/library/cc/engine_builder.h
  mobile/library/common/engine.cc
  mobile/library/common/engine.h
  mobile/test/cc/unit/BUILD
  mobile/test/cc/unit/envoy_config_benchmark.cc
  mobile/test/cc/unit/envoy_config_test.cc
  source/server/options_impl.h
  source/server/server.cc
  test/config_test/config_test.cc
Labels: mobile

#25003 datadog: time_util portion of new tracing library
  bazel/external/BUILD
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  source/extensions/tracers/datadog/BUILD
  source/extensions/tracers/datadog/time_util.cc
  source/extensions/tracers/datadog/time_util.h
  test/extensions/tracers/datadog/BUILD
  test/extensions/tracers/datadog/time_util_test.cc
Labels: deps

#25240 mobile: Update python third_party deps
  mobile/third_party/python/requirements.txt
Labels: deps

#25020 datadog: dict_util portion of new tracing library
  source/extensions/tracers/datadog/BUILD
  source/extensions/tracers/datadog/dict_util.cc
  source/extensions/tracers/datadog/dict_util.h
  test/extensions/tracers/datadog/BUILD
  test/extensions/tracers/datadog/dict_util_test.cc
Labels: deps
