Repository envoyproxy/envoy, pull requests merged in 2024-04, with the labels that each got.

#33136 match_delegate: move to extensions
  CODEOWNERS
  mobile/envoy_build_config/extension_registry.cc
  source/common/http/BUILD
  source/exe/BUILD
  source/extensions/filters/http/match_delegate/BUILD
  source/extensions/filters/http/match_delegate/config.cc
  source/extensions/filters/http/match_delegate/config.h
  test/config_test/BUILD
  test/extensions/filters/http/composite/BUILD
  test/extensions/filters/http/composite/composite_filter_integration_test.cc
  test/extensions/filters/http/match_delegate/BUILD
  test/extensions/filters/http/match_delegate/config_test.cc
  test/extensions/filters/http/match_delegate/match_delegate_integration_test.cc
  test/integration/BUILD
  test/per_file_coverage.sh
  tools/code_format/config.yaml
Labels: api

#33312 [release/1.26] repo: Release v1.26.8
  VERSION.txt
  changelogs/1.26.7.yaml
  changelogs/current.yaml
  docs/inventories/v1.26/objects.inv
  docs/versions.yaml
Labels: version-change

#33315 [release/1.29] repo: Release v1.29.3
  VERSION.txt
  changelogs/1.26.8.yaml
  changelogs/1.27.4.yaml
  changelogs/1.28.2.yaml
  changelogs/current.yaml
  docs/inventories/v1.26/objects.inv
  docs/inventories/v1.27/objects.inv
  docs/inventories/v1.28/objects.inv
  docs/inventories/v1.29/objects.inv
  docs/versions.yaml
Labels: version-change

#33389 ci/tests: Re-issue test certs
  test/config/integration/certs/cacert.pem
  test/config/integration/certs/cacert_info.h
  test/config/integration/certs/cakey.pem
  test/config/integration/certs/client2_chain.pem
  test/config/integration/certs/client2cert.pem
  test/config/integration/certs/client2cert_hash.h
  test/config/integration/certs/client2key.pem
  test/config/integration/certs/client_ecdsacert.pem
  test/config/integration/certs/client_ecdsacert_hash.h
  test/config/integration/certs/client_ecdsakey.pem
  test/config/integration/certs/clientcert.pem
  test/config/integration/certs/clientcert_hash.h
  test/config/integration/certs/clientkey.pem
  test/config/integration/certs/expired_cert.pem
  test/config/integration/certs/expired_cert_hash.h
  test/config/integration/certs/expired_key.pem
  test/config/integration/certs/intermediate_ca_2cert.pem
  test/config/integration/certs/intermediate_ca_2cert_info.h
  test/config/integration/certs/intermediate_ca_2key.pem
  test/config/integration/certs/intermediate_ca_cert_chain.pem
  test/config/integration/certs/intermediate_cacert.pem
  test/config/integration/certs/intermediate_cacert_info.h
  test/config/integration/certs/intermediate_cakey.pem
  test/config/integration/certs/intermediate_partial_ca_cert_chain.pem
  test/config/integration/certs/server2cert.pem
  test/config/integration/certs/server2cert_hash.h
  test/config/integration/certs/server2cert_info.h
  test/config/integration/certs/server2key.pem
  test/config/integration/certs/server_ecdsa_ocsp_resp.der
  test/config/integration/certs/server_ecdsacert.pem
  test/config/integration/certs/server_ecdsacert_hash.h
  test/config/integration/certs/server_ecdsakey.pem
  test/config/integration/certs/server_ocsp_resp.der
  test/config/integration/certs/servercert.pem
  test/config/integration/certs/servercert_hash.h
  test/config/integration/certs/servercert_info.h
  test/config/integration/certs/serverkey.pem
  test/config/integration/certs/upstreamcacert.pem
  test/config/integration/certs/upstreamcacert_info.h
  test/config/integration/certs/upstreamcakey.pem
  test/config/integration/certs/upstreamcert.pem
  test/config/integration/certs/upstreamcert_hash.h
  test/config/integration/certs/upstreamkey.pem
  test/config/integration/certs/upstreamlocalhostcert.pem
  test/config/integration/certs/upstreamlocalhostcert_hash.h
  test/config/integration/certs/upstreamlocalhostkey.pem
Labels: backport/review

#33273 ext_proc: convert ext_proc filter into dual filter
  api/envoy/service/ext_proc/v3/external_processor.proto
  changelogs/current.yaml
  source/extensions/extensions_metadata.yaml
  source/extensions/filters/http/ext_proc/config.cc
  source/extensions/filters/http/ext_proc/config.h
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  source/extensions/filters/http/ext_proc/processor_state.cc
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
  test/extensions/filters/http/ext_proc/ordering_test.cc
  test/extensions/filters/http/ext_proc/unit_test_fuzz/ext_proc_unit_test_fuzz.cc
  test/extensions/filters/http/ext_proc/utils.cc
Labels: api

#32644 Set sockopt to report received ECN for UDP
  changelogs/current.yaml
  source/common/api/win32/os_sys_calls_impl.cc
  source/common/quic/active_quic_listener.cc
  source/common/quic/active_quic_listener.h
  source/common/runtime/runtime_features.cc
  test/common/quic/active_quic_listener_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: api

#33578 repo: Dev v1.31.0
  VERSION.txt
  changelogs/1.30.0.yaml
  changelogs/current.yaml
Labels: version-change

#33421 tracer: implement zipkin getTraceIdAsHex
  source/extensions/access_loggers/open_telemetry/access_log_impl.cc
  source/extensions/tracers/zipkin/zipkin_tracer_impl.h
  test/extensions/access_loggers/open_telemetry/access_log_impl_test.cc
  test/extensions/tracers/zipkin/zipkin_tracer_impl_test.cc
Labels: waiting

#33652 [bp/1.29] Backport stack - CI/github actions
  .github/workflows/_cache.yml
  .github/workflows/_finish.yml
  .github/workflows/_load.yml
  .github/workflows/_load_env.yml
  .github/workflows/_request.yml
  .github/workflows/_run.yml
  .github/workflows/_stage_publish.yml
  .github/workflows/_stage_verify.yml
  .github/workflows/_start.yml
  .github/workflows/codeql-daily.yml
  .github/workflows/codeql-push.yml
  .github/workflows/command.yml
  .github/workflows/envoy-dependency.yml
  .github/workflows/envoy-release.yml
  .github/workflows/envoy-sync.yml
  .github/workflows/garbage.yml
  api/bazel/repository_locations.bzl
Labels: deps

#33634 [release/1.27] repo: Release v1.27.5
  VERSION.txt
  changelogs/current.yaml
Labels: version-change

#33686 [dev/1.30] repo: Dev v1.30.2
  VERSION.txt
  changelogs/1.30.1.yaml
  changelogs/current.yaml
Labels: version-change

#33672 [dev/1.29] repo: Dev v1.29.5
  VERSION.txt
  changelogs/1.29.4.yaml
  changelogs/current.yaml
Labels: version-change

#33669 [dev/1.28] repo: Dev v1.28.4
  VERSION.txt
  changelogs/1.28.3.yaml
  changelogs/current.yaml
Labels: version-change

#33667 [dev/1.27] repo: Dev v1.27.6
  VERSION.txt
  changelogs/1.27.5.yaml
  changelogs/current.yaml
  docs/inventories/v1.27/objects.inv
  docs/versions.yaml
Labels: version-change

#33737 Drop overload runtim key
  api/envoy/config/endpoint/v3/endpoint.proto
  source/common/upstream/upstream_impl.cc
  source/common/upstream/upstream_impl.h
  test/common/upstream/upstream_impl_test.cc
Labels: api

#33551 c-ares: add option for udp_max_queries
  api/envoy/extensions/network/dns_resolver/cares/v3/cares_dns_resolver.proto
  changelogs/current.yaml
  source/extensions/network/dns_resolver/cares/dns_impl.cc
  source/extensions/network/dns_resolver/cares/dns_impl.h
  test/extensions/network/dns_resolver/cares/dns_impl_test.cc
Labels: api, deps

#33734 stats: Extract route names with forward-slash
  source/common/config/well_known_names.cc
  test/common/stats/tag_extractor_impl_test.cc
Labels: waiting
