Repository envoyproxy/envoy, pull requests merged in 2024-07, with the labels that each got.

#34994 [dev/1.30] repo: Dev v1.30.5
  VERSION.txt
  changelogs/1.30.4.yaml
  changelogs/current.yaml
Labels: version-change

#34992 [dev/1.28] repo: Dev v1.28.6
  VERSION.txt
  changelogs/1.28.5.yaml
  changelogs/current.yaml
Labels: version-change

#34991 [dev/1.27] repo: Dev 1.27.8
  VERSION.txt
  changelogs/1.27.7.yaml
  changelogs/current.yaml
Labels: version-change

#34993 [dev/1.29] repo: Dev v1.29.8
  VERSION.txt
  changelogs/1.29.7.yaml
  changelogs/current.yaml
Labels: version-change

#34946 quic: Add a DataSource option for server preferred address config
  api/envoy/extensions/quic/server_preferred_address/v3/datasource.proto
  api/envoy/extensions/quic/server_preferred_address/v3/fixed_server_preferred_address_config.proto
  changelogs/current.yaml
  source/common/quic/BUILD
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  source/extensions/quic/server_preferred_address/BUILD
  source/extensions/quic/server_preferred_address/datasource_server_preferred_address_config.cc
  source/extensions/quic/server_preferred_address/datasource_server_preferred_address_config.h
  source/extensions/quic/server_preferred_address/fixed_server_preferred_address_config.cc
  source/extensions/quic/server_preferred_address/fixed_server_preferred_address_config.h
  source/extensions/quic/server_preferred_address/server_preferred_address.cc
  source/extensions/quic/server_preferred_address/server_preferred_address.h
  test/extensions/quic/server_preferred_address/BUILD
  test/extensions/quic/server_preferred_address/datasource_server_preferred_address_test.cc
  tools/code_format/config.yaml
Labels: api

#34868 Upgrade protobuf to 26.1
  bazel/protobuf.patch
  bazel/python_dependencies.bzl
  bazel/repository_locations.bzl
  source/common/common/logger.cc
  source/common/protobuf/yaml_utility.cc
  source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc
  test/extensions/filters/http/wasm/BUILD
Labels: deps

#34613 oauth: add disable_id_token_set_cookie option
  api/envoy/extensions/filters/http/oauth2/v3/oauth.proto
  changelogs/current.yaml
  source/extensions/filters/http/oauth2/filter.cc
  source/extensions/filters/http/oauth2/filter.h
  test/extensions/filters/http/oauth2/filter_test.cc
Labels: api

#35092 proto: adding java support proto libraries
  api/bazel/api_build_system.bzl
  api/bazel/repositories.bzl
  api/bazel/repository_locations.bzl
  test/proto/BUILD
Labels: deps

#34738 http: proxying 104s `Upload Resumption Supported`
  changelogs/current.yaml
  contrib/generic_proxy/filters/network/source/codecs/http1/config.cc
  envoy/http/codec.h
  mobile/library/java/org/chromium/net/impl/HttpReason.java
  source/common/http/header_utility.cc
  source/common/runtime/runtime_features.cc
  test/common/http/http1/codec_impl_test.cc
  test/common/http/http2/codec_impl_test.cc
  test/integration/protocol_integration_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: api, deps

#35084 ext_proc: observability mode part 4: Implement the deferred closure timeout.
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
Labels: api

#34999 [grpc-transcoder] Add option to pack unknown parameters into HttpBody extension
  api/envoy/extensions/filters/http/grpc_json_transcoder/v3/transcoder.proto
  source/extensions/filters/http/grpc_json_transcoder/BUILD
  source/extensions/filters/http/grpc_json_transcoder/http_body_utils.cc
  source/extensions/filters/http/grpc_json_transcoder/http_body_utils.h
  source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc
  source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.h
  test/extensions/filters/http/grpc_json_transcoder/BUILD
  test/extensions/filters/http/grpc_json_transcoder/http_body_utils_test.cc
  test/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter_test.cc
Labels: api

#34789 token bucket: new atomic token bucket implementation
  source/common/common/token_bucket_impl.cc
  source/common/common/token_bucket_impl.h
  test/common/common/BUILD
  test/common/common/token_bucket_impl_test.cc
Labels: waiting

#35212 Revert "conn pool: use hostnames of endpoints as SNI values (#34898)"
  api/envoy/config/core/v3/protocol.proto
  changelogs/current.yaml
  docs/root/faq/configuration/sni.rst
  source/common/conn_pool/conn_pool_base.cc
  source/common/network/transport_socket_options_impl.h
  test/extensions/filters/http/router/auto_sni_integration_test.cc
Labels: api

#35286 repo: Dev v1.32.0
  VERSION.txt
  changelogs/1.31.0.yaml
  changelogs/current.yaml
Labels: version-change

#35129 dns: don't respond with FORMERR if message has ID 0
  changelogs/current.yaml
  source/extensions/filters/udp/dns_filter/dns_parser.cc
  test/extensions/filters/udp/dns_filter/dns_filter_test.cc
  test/extensions/filters/udp/dns_filter/dns_filter_test_utils.cc
Labels: backport/review

#35241 Quiche roll 20240717144914
  bazel/external/quiche_stream_fix.patch
  bazel/repositories.bzl
  bazel/repository_locations.bzl
Labels: deps

#35388 Remove runtime flag envoy_reloadable_features_send_header_raw_value
  api/envoy/service/ext_proc/v3/external_processor.proto
  changelogs/current.yaml
  source/common/runtime/runtime_features.cc
  source/extensions/filters/http/ext_proc/mutation_utils.cc
  test/extensions/filters/http/ext_proc/BUILD
  test/extensions/filters/http/ext_proc/ext_proc_benchmark_test.cc
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
  test/extensions/filters/http/ext_proc/mutation_utils_test.cc
  test/extensions/filters/http/ext_proc/streaming_integration_test.cc
  test/extensions/filters/http/ext_proc/utils.cc
Labels: api

#32465 new extension for TLS cert selection
  api/envoy/extensions/transport_sockets/tls/v3/tls.proto
  contrib/postgres_proxy/filters/network/test/postgres_integration_test.cc
  envoy/ssl/context_config.h
  envoy/ssl/context_manager.h
  envoy/ssl/handshaker.h
  envoy/ssl/ssl_socket_extended_info.h
  mobile/test/common/integration/test_server.cc
  mobile/test/performance/files_em_does_not_use
  source/common/quic/quic_server_transport_socket_factory.cc
  source/common/tls/BUILD
  source/common/tls/context_config_impl.cc
  source/common/tls/context_impl.cc
  source/common/tls/context_impl.h
  source/common/tls/default_tls_certificate_selector.cc
  source/common/tls/default_tls_certificate_selector.h
  source/common/tls/server_context_config_impl.cc
  source/common/tls/server_context_config_impl.h
  source/common/tls/server_context_impl.cc
  source/common/tls/server_context_impl.h
  source/common/tls/ssl_handshaker.cc
  source/common/tls/ssl_handshaker.h
  source/common/tls/ssl_socket.cc
  source/common/tls/ssl_socket.h
  source/extensions/transport_sockets/tls/downstream_config.cc
  test/common/grpc/grpc_client_integration_test_harness.h
  test/common/quic/BUILD
  test/common/quic/envoy_quic_proof_source_test.cc
  test/common/tls/BUILD
  test/common/tls/cert_selector/BUILD
  test/common/tls/cert_selector/async_cert_selector.cc
  test/common/tls/cert_selector/async_cert_selector.h
  test/common/tls/cert_selector/stats.cc
  test/common/tls/cert_selector/stats.h
  test/common/tls/cert_validator/test_common.h
  test/common/tls/context_impl_test.cc
  test/common/tls/handshaker_factory_test.cc
  test/common/tls/handshaker_test.cc
  test/common/tls/integration/BUILD
  test/common/tls/integration/ssl_integration_test.cc
  test/common/tls/integration/ssl_integration_test_base.cc
  test/common/tls/integration/ssl_integration_test_base.h
  test/common/tls/ssl_socket_test.cc
  test/common/tls/tls_certificate_selector_test.cc
  test/config/utility.cc
  test/config/utility.h
  test/extensions/config_subscription/grpc/xds_failover_integration_test.cc
  test/extensions/filters/http/router/auto_sni_integration_test.cc
  test/extensions/transport_sockets/starttls/upstream_starttls_integration_test.cc
  test/integration/alpn_selection_integration_test.cc
  test/integration/base_integration_test.cc
  test/integration/sds_dynamic_integration_test.cc
  test/integration/ssl_utility.cc
  test/integration/xfcc_integration_test.cc
  test/mocks/ssl/mocks.h
  test/per_file_coverage.sh
Labels: api

#35412 bazel/protoc: Patch protoc setup to workaround removal
  bazel/protoc/BUILD
  bazel/protoc/BUILD.protoc
  bazel/protoc/protoc.bzl
  bazel/repositories.bzl
  ci/filter_example_setup.sh
Labels: deps

#35448 bazel/protoc: Fix mobile build
  bazel/repositories.bzl
Labels: deps

#35390 Fix extension monitor name
  api/envoy/extensions/resource_monitors/downstream_connections/v3/downstream_connections.proto
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  source/extensions/resource_monitors/downstream_connections/config.h
  source/server/server.cc
  test/extensions/resource_monitors/downstream_connections/BUILD
  test/extensions/resource_monitors/downstream_connections/config_test.cc
  test/integration/cx_limit_integration_test.cc
Labels: waiting

#35418 opentracing: remove legacy open tracing extension
  api/envoy/config/trace/v3/dynamic_ot.proto
  bazel/io_opentracing_cpp.patch
  changelogs/current.yaml
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  source/extensions/tracers/common/ot/BUILD
  source/extensions/tracers/common/ot/opentracing_driver_impl.cc
  source/extensions/tracers/common/ot/opentracing_driver_impl.h
  source/extensions/tracers/dynamic_ot/BUILD
  source/extensions/tracers/dynamic_ot/config.cc
  source/extensions/tracers/dynamic_ot/config.h
  source/extensions/tracers/dynamic_ot/dynamic_opentracing_driver_impl.cc
  source/extensions/tracers/dynamic_ot/dynamic_opentracing_driver_impl.h
  test/extensions/tracers/common/ot/BUILD
  test/extensions/tracers/dynamic_ot/BUILD
  test/extensions/tracers/dynamic_ot/config_test.cc
  test/extensions/tracers/dynamic_ot/dynamic_opentracing_driver_impl_test.cc
Labels: api

#35476 deps/opentracing: Remove redundant tests and dep setup
  bazel/external/BUILD
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  test/extensions/tracers/common/ot/opentracing_driver_impl_test.cc
Labels: deps
