Repository envoyproxy/envoy, pull requests merged in 2024-09, with the labels that each got.

#35899 Revert "rbac: add delay_deny implementation in RBAC network filter (#…
  api/envoy/extensions/filters/network/rbac/v3/rbac.proto
  source/extensions/filters/network/rbac/rbac_filter.cc
  source/extensions/filters/network/rbac/rbac_filter.h
  test/extensions/filters/network/rbac/filter_test.cc
  test/extensions/filters/network/rbac/integration_test.cc
  test/integration/integration_tcp_client.h
Labels: api

#35914 dynamic_modules: scaffolds Rust SDK
  source/extensions/dynamic_modules/sdk/README.md
  source/extensions/dynamic_modules/sdk/rust/.gitignore
  source/extensions/dynamic_modules/sdk/rust/BUILD
  source/extensions/dynamic_modules/sdk/rust/Cargo.lock
  source/extensions/dynamic_modules/sdk/rust/Cargo.toml
  source/extensions/dynamic_modules/sdk/rust/README.md
  source/extensions/dynamic_modules/sdk/rust/src/abi.rs
  source/extensions/dynamic_modules/sdk/rust/src/lib.rs
  test/extensions/dynamic_modules/BUILD
  test/extensions/dynamic_modules/abi_version_test.cc
  test/extensions/dynamic_modules/dynamic_modules_test.cc
  test/extensions/dynamic_modules/test_data/rust/.gitignore
  test/extensions/dynamic_modules/test_data/rust/BUILD
  test/extensions/dynamic_modules/test_data/rust/Cargo.toml
  test/extensions/dynamic_modules/test_data/rust/abi_version_mismatch.rs
  test/extensions/dynamic_modules/test_data/rust/no_op.rs
  test/extensions/dynamic_modules/test_data/rust/no_program_init.rs
  test/extensions/dynamic_modules/test_data/rust/program_init_fail.rs
Labels: deps

#35952 Followup changes for `OrcaLoadReport` handling in `Router::Filter`.
  api/BUILD
  api/bazel/repository_locations.bzl
  api/envoy/config/cluster/v3/cluster.proto
  docs/root/api-v3/common_messages/common_messages_xds.rst
  source/common/router/router.cc
  test/integration/load_stats_integration_test.cc
  tools/type_whisperer/proto_build_targets_gen.py
Labels: deps

#34319 repo: Sync openssl project on push to `main` or `release/v1.28/31`
  .github/workflows/envoy-sync.yml
Labels: no stalebot

#36151 [1.31] repo: Dev v1.31.2
  VERSION.txt
  changelogs/1.31.1.yaml
  changelogs/current.yaml
Labels: version-change

#36147 [1.30] repo: Dev v1.30.6
  VERSION.txt
  changelogs/1.30.5.yaml
  changelogs/current.yaml
Labels: version-change

#36144 [1.29] repo: Dev v1.29.9
  VERSION.txt
  changelogs/1.29.8.yaml
  changelogs/current.yaml
Labels: version-change

#36141 [1.28] repo: Dev v1.28.7
  VERSION.txt
  changelogs/1.28.6.yaml
  changelogs/current.yaml
Labels: version-change

#35919 OAuth2: add a nonce to the state parameter
  api/envoy/extensions/filters/http/oauth2/v3/oauth.proto
  changelogs/current.yaml
  source/extensions/filters/http/oauth2/filter.cc
  source/extensions/filters/http/oauth2/filter.h
  test/extensions/filters/http/oauth2/filter_test.cc
  test/extensions/filters/http/oauth2/oauth_integration_test.cc
Labels: deps

#35909 sec-release: update the Q3 actual security release date
  RELEASES.md
Labels: waiting

#36233 [dev/1.28] repo: Dev v1.28.8
  VERSION.txt
  changelogs/1.28.7.yaml
  changelogs/current.yaml
Labels: version-change

#36235 [dev/1.30] repo: Dev v1.30.7
  VERSION.txt
  changelogs/1.30.6.yaml
  changelogs/current.yaml
Labels: version-change

#36236 [dev/1.31] repo: Dev v1.31.3
  VERSION.txt
  changelogs/1.31.2.yaml
  changelogs/current.yaml
Labels: version-change

#36234 [dev/1.29] repo: Dev v1.29.10
  VERSION.txt
  changelogs/1.29.9.yaml
  changelogs/current.yaml
Labels: version-change

#36174 http: fix issues in CONNECT-UDP forwarding mode.
  api/envoy/config/core/v3/protocol.proto
  changelogs/current.yaml
  configs/proxy_connect_udp_http3_downstream.yaml
  source/common/quic/client_connection_factory_impl.cc
  source/common/quic/client_connection_factory_impl.h
  source/common/quic/http_datagram_handler.cc
  test/common/quic/http_datagram_handler_test.cc
Labels: waiting

#36279 ext_proc: Add allow list for mode override
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  changelogs/current.yaml
  source/extensions/filters/http/ext_proc/BUILD
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
Labels: api

#35839 oauth filter: set token cookies regardless of forward_bearer_token option and ability to disable bearertoken and refreshtoken cookie
  api/envoy/extensions/filters/http/oauth2/v3/oauth.proto
  changelogs/current.yaml
  source/extensions/filters/http/oauth2/filter.cc
  source/extensions/filters/http/oauth2/filter.h
  test/extensions/filters/http/oauth2/filter_test.cc
  test/extensions/filters/http/oauth2/oauth_integration_test.cc
Labels: api

#36293 bazel/ci: Prepare repo for using Engflow RBE
  .bazelrc
  .github/workflows/_precheck_deps.yml
  .github/workflows/_publish_build.yml
  .github/workflows/_publish_verify.yml
  .github/workflows/envoy-macos.yml
  bazel/BUILD
  bazel/envoy_binary.bzl
  bazel/envoy_library.bzl
  bazel/envoy_test.bzl
  ci/mac_ci_steps.sh
Labels: deps

#36274 postgres_filter: fix build error on m1
  contrib/postgres_proxy/filters/network/source/postgres_filter.cc
Labels: waiting

#36231 http: add config for max response header size
  api/envoy/config/core/v3/protocol.proto
  api/envoy/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto
  changelogs/current.yaml
  envoy/upstream/upstream.h
  source/common/http/codec_client.cc
  source/common/http/http1/codec_impl.cc
  source/common/http/http1/codec_impl.h
  source/common/protobuf/utility.h
  source/common/upstream/upstream_impl.cc
  source/common/upstream/upstream_impl.h
  source/extensions/filters/network/http_connection_manager/config.cc
  test/common/http/codec_impl_fuzz_test.cc
  test/common/http/http1/codec_impl_test.cc
  test/common/http/http1/http1_connection_fuzz_test.cc
  test/extensions/filters/network/http_connection_manager/config_test.cc
  test/integration/http_integration.cc
  test/integration/http_integration.h
  test/integration/overload_integration_test.cc
  test/integration/protocol_integration_test.cc
  test/integration/quic_http_integration_test.cc
  test/mocks/upstream/cluster_info.cc
  test/mocks/upstream/cluster_info.h
Labels: api

#35740 Ext proc http functionality support
  api/envoy/extensions/filters/http/ext_proc/v3/BUILD
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  source/extensions/filters/http/ext_proc/BUILD
  source/extensions/filters/http/ext_proc/client.h
  source/extensions/filters/http/ext_proc/client_base.h
  source/extensions/filters/http/ext_proc/client_impl.cc
  source/extensions/filters/http/ext_proc/client_impl.h
  source/extensions/filters/http/ext_proc/config.cc
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  source/extensions/filters/http/ext_proc/http_client/BUILD
  source/extensions/filters/http/ext_proc/http_client/client_base.h
  source/extensions/filters/http/ext_proc/http_client/http_client_impl.cc
  source/extensions/filters/http/ext_proc/http_client/http_client_impl.h
  test/extensions/filters/http/ext_proc/client_test.cc
  test/extensions/filters/http/ext_proc/config_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
  test/extensions/filters/http/ext_proc/http_client/BUILD
  test/extensions/filters/http/ext_proc/http_client/ext_proc_http_integration_test.cc
  test/extensions/filters/http/ext_proc/http_client/http_client_test.cc
  test/extensions/filters/http/ext_proc/mock_server.cc
  test/extensions/filters/http/ext_proc/mock_server.h
  test/extensions/filters/http/ext_proc/ordering_test.cc
  test/extensions/filters/http/ext_proc/unit_test_fuzz/ext_proc_unit_test_fuzz.cc
  test/extensions/filters/http/ext_proc/utils.h
Labels: waiting
