Repository envoyproxy/envoy, pull requests merged in 2024-08, with the labels that each got.

#35489 Adding HTTP service support for Envoy external processing
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
Labels: api

#35532 jwt: fix claim to header example doc
  api/envoy/extensions/filters/http/jwt_authn/v3/config.proto
  configs/jwt_authn.yaml
  tools/spelling/check_spelling_pedantic.py
Labels: api

#35581 docs: typos and minor clarifications to oauth2 http filter
  api/envoy/extensions/filters/http/oauth2/v3/oauth.proto
  docs/root/configuration/http/http_filters/oauth2_filter.rst
Labels: api

#35530 deps: Update c-ares to 1.21.0
  bazel/foreign_cc/cares.patch
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  test/extensions/network/dns_resolver/cares/dns_impl_test.cc
Labels: deps

#34891 Matchers: Add dynamic metadata to the http inputs
  CODEOWNERS
  api/BUILD
  api/envoy/extensions/matching/common_inputs/network/v3/network_inputs.proto
  api/envoy/extensions/matching/input_matchers/metadata/v3/BUILD
  api/envoy/extensions/matching/input_matchers/metadata/v3/metadata.proto
  api/versioning/BUILD
  changelogs/current.yaml
  docs/root/api-v3/common_messages/common_messages.rst
  docs/root/intro/arch_overview/advanced/matching/matching_api.rst
  envoy/http/filter.h
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  source/extensions/filters/http/rbac/rbac_filter.cc
  source/extensions/matching/http/metadata_input/BUILD
  source/extensions/matching/http/metadata_input/meta_input.cc
  source/extensions/matching/http/metadata_input/meta_input.h
  source/extensions/matching/input_matchers/metadata/BUILD
  source/extensions/matching/input_matchers/metadata/config.cc
  source/extensions/matching/input_matchers/metadata/config.h
  source/extensions/matching/input_matchers/metadata/matcher.cc
  source/extensions/matching/input_matchers/metadata/matcher.h
  test/extensions/matching/input_matchers/metadata/BUILD
  test/extensions/matching/input_matchers/metadata/dyn_meta_matcher_test.cc
  tools/extensions/extensions_schema.yaml
Labels: api

#35611 http_conn_manager: modify hcm accesslog attention usage docs
  api/envoy/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto
Labels: v2-freeze

#33875 rbac: add delay_deny implementation in RBAC network filter
  api/envoy/extensions/filters/network/rbac/v3/rbac.proto
  changelogs/current.yaml
  source/extensions/filters/network/rbac/rbac_filter.cc
  source/extensions/filters/network/rbac/rbac_filter.h
  test/extensions/filters/network/rbac/filter_test.cc
  test/extensions/filters/network/rbac/integration_test.cc
  test/integration/integration_tcp_client.h
Labels: api

#35209 add http1-safe max_connection_duration for http connection manager
  api/envoy/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto
  changelogs/current.yaml
  docs/root/configuration/http/http_conn_man/stats.rst
  source/common/http/conn_manager_config.h
  source/common/http/conn_manager_impl.cc
  source/common/http/conn_manager_impl.h
  source/extensions/filters/network/http_connection_manager/config.cc
  source/extensions/filters/network/http_connection_manager/config.h
  source/server/admin/admin.h
  test/common/http/conn_manager_impl_fuzz_test.cc
  test/common/http/conn_manager_impl_test.cc
  test/common/http/conn_manager_impl_test_2.cc
  test/common/http/conn_manager_impl_test_base.cc
  test/common/http/conn_manager_impl_test_base.h
  test/extensions/filters/http/ext_proc/filter_test.cc
  test/integration/protocol_integration_test.cc
  test/mocks/http/mocks.h
Labels: api

#34955 Add logging util lib for Proto Message Logging (PML) http filter
  CODEOWNERS
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  source/extensions/filters/http/proto_message_logging/logging_util/BUILD
  source/extensions/filters/http/proto_message_logging/logging_util/logging_util.cc
  source/extensions/filters/http/proto_message_logging/logging_util/logging_util.h
  source/extensions/filters/http/proto_message_logging/logging_util/proto_scrubber_interface.h
  test/extensions/filters/http/proto_message_logging/logging_util/BUILD
  test/extensions/filters/http/proto_message_logging/logging_util/logging_util_test.cc
  test/extensions/filters/http/proto_message_logging/logging_util/logging_util_test.yaml
  test/proto/BUILD
  test/proto/logging.proto
  tools/spelling/spelling_dictionary.txt
Labels: deps

#35196 Fix Apple ECN dual stack behavior
  source/common/quic/active_quic_listener.cc
  test/common/quic/active_quic_listener_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: wait:review

#35801 [bp/1.30] bazel/build: Extend `no-int` workaround to `pkgconfig` for all builds…
  bazel/repositories.bzl
  bazel/rules_foreign_cc.patch
Labels: deps

#35842 grpc_field_extraction: fix empty ListValue indication
  api/envoy/extensions/filters/http/grpc_field_extraction/v3/config.proto
Labels: api

#35689 Cont. - Add Proto Message Extraction http filter
  CODEOWNERS
  api/BUILD
  api/envoy/extensions/filters/http/proto_message_extraction/v3/BUILD
  api/envoy/extensions/filters/http/proto_message_extraction/v3/config.proto
  api/versioning/BUILD
  bazel/repository_locations.bzl
  docs/root/configuration/http/http_filters/http_filters.rst
  docs/root/configuration/http/http_filters/proto_message_extraction_filter.rst
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  source/extensions/filters/http/proto_message_extraction/BUILD
  source/extensions/filters/http/proto_message_extraction/config.cc
  source/extensions/filters/http/proto_message_extraction/config.h
  source/extensions/filters/http/proto_message_extraction/extraction_util/BUILD
  source/extensions/filters/http/proto_message_extraction/extraction_util/extraction_util.cc
  source/extensions/filters/http/proto_message_extraction/extraction_util/extraction_util.h
  source/extensions/filters/http/proto_message_extraction/extraction_util/proto_extractor.cc
  source/extensions/filters/http/proto_message_extraction/extraction_util/proto_extractor.h
  source/extensions/filters/http/proto_message_extraction/extraction_util/proto_extractor_interface.h
  source/extensions/filters/http/proto_message_extraction/extractor.h
  source/extensions/filters/http/proto_message_extraction/extractor_impl.cc
  source/extensions/filters/http/proto_message_extraction/extractor_impl.h
  source/extensions/filters/http/proto_message_extraction/filter.cc
  source/extensions/filters/http/proto_message_extraction/filter.h
  source/extensions/filters/http/proto_message_extraction/filter_config.cc
  source/extensions/filters/http/proto_message_extraction/filter_config.h
  source/extensions/filters/http/proto_message_logging/logging_util/BUILD
  source/extensions/filters/http/proto_message_logging/logging_util/proto_scrubber_interface.h
  source/extensions/filters/http/well_known_names.h
  test/extensions/filters/http/proto_message_extraction/BUILD
  test/extensions/filters/http/proto_message_extraction/extraction_util/BUILD
  test/extensions/filters/http/proto_message_extraction/extraction_util/extraction_util_test.cc
  test/extensions/filters/http/proto_message_extraction/extraction_util/extraction_util_test.yaml
  test/extensions/filters/http/proto_message_extraction/filter_config_test.cc
  test/extensions/filters/http/proto_message_extraction/filter_test.cc
  test/extensions/filters/http/proto_message_extraction/integration_test.cc
  test/proto/BUILD
  test/proto/apikeys.proto
  test/proto/extraction.proto
  tools/code_format/config.yaml
Labels: api, deps
