Repository envoyproxy/envoy, pull requests merged in 2024-06, with the labels that each got.

#34322 Add the ability to bypass overload manager for listeners
  api/envoy/config/listener/v3/listener.proto
  changelogs/current.yaml
  envoy/network/listener.h
  envoy/server/factory_context.h
  envoy/server/instance.h
  envoy/server/worker.h
  mobile/library/common/engine_common.cc
  source/common/listener_manager/connection_handler_impl.cc
  source/common/listener_manager/connection_handler_impl.h
  source/common/listener_manager/listener_impl.cc
  source/common/listener_manager/listener_impl.h
  source/common/listener_manager/listener_info_impl.h
  source/common/listener_manager/listener_manager_impl.cc
  source/common/network/tcp_listener_impl.cc
  source/common/network/tcp_listener_impl.h
  source/common/network/udp_listener_impl.h
  source/extensions/bootstrap/internal_listener/active_internal_listener.h
  source/extensions/filters/network/http_connection_manager/config.cc
  source/server/BUILD
  source/server/admin/admin.cc
  source/server/admin/admin.h
  source/server/config_validation/BUILD
  source/server/config_validation/server.cc
  source/server/config_validation/server.h
  source/server/instance_impl.cc
  source/server/instance_impl.h
  source/server/listener_manager_factory.h
  source/server/null_overload_manager.h
  source/server/server.cc
  source/server/server.h
  source/server/worker_impl.cc
  source/server/worker_impl.h
  test/common/http/codec_client_test.cc
  test/common/network/connection_impl_test.cc
  test/common/network/listener_impl_test.cc
  test/common/tls/ssl_socket_test.cc
  test/extensions/bootstrap/internal_listener/active_internal_listener_test.cc
  test/extensions/common/proxy_protocol/proxy_protocol_regression_test.cc
  test/extensions/filters/listener/common/fuzz/listener_filter_fuzzer.h
  test/extensions/filters/listener/proxy_protocol/proxy_protocol_test.cc
  test/extensions/filters/network/common/fuzz/utils/fakes.h
  test/extensions/network/dns_resolver/cares/dns_impl_test.cc
  test/integration/fake_upstream.h
  test/integration/overload_integration_test.cc
  test/mocks/network/mocks.h
  test/mocks/server/instance.cc
  test/mocks/server/instance.h
  test/mocks/server/server_factory_context.cc
  test/mocks/server/server_factory_context.h
  test/mocks/server/worker_factory.h
  test/server/BUILD
  test/server/admin/BUILD
  test/server/admin/admin_test.cc
  test/server/connection_handler_test.cc
  test/server/null_overload_manager_test.cc
  test/server/overload_manager_impl_test.cc
  test/server/server_test.cc
Labels: api

#34378 tracer: fix skywalking layer always shows unknown
  source/extensions/tracers/skywalking/tracer.cc
  test/extensions/tracers/skywalking/tracer_test.cc
Labels: waiting

#34511 [release/v1.27] repo: Release v1.27.6
  VERSION.txt
  changelogs/current.yaml
Labels: version-change

#34558 [dev/1.30] repo: Dev v1.30.3
  VERSION.txt
  changelogs/1.30.2.yaml
  changelogs/current.yaml
Labels: version-change

#34556 [dev/1.28] repo: Dev v1.28.5
  VERSION.txt
  changelogs/1.28.4.yaml
  changelogs/current.yaml
Labels: version-change

#34555 [dev/1.27] repo: Dev v1.27.7
  VERSION.txt
  changelogs/1.27.6.yaml
  changelogs/current.yaml
Labels: version-change

#34557 [dev/1.29] repo: Dev v1.29.6
  VERSION.txt
  changelogs/1.29.5.yaml
  changelogs/current.yaml
Labels: version-change

#34641 mobile: Remove Python from Envoy Mobile Bazel files
  mobile/WORKSPACE
  mobile/bazel/envoy_mobile_repositories.bzl
Labels: deps

#34907 [bp/1.30] deps: Bump `com_github_datadog_dd_trace_cpp` -> 0.2.2 (#34899)
  bazel/repository_locations.bzl
Labels: deps

#34914 Release/v1.29: update datadog
  CODEOWNERS
  bazel/repository_locations.bzl
  source/extensions/tracers/datadog/config.cc
  test/extensions/tracers/datadog/config_test.cc
  test/extensions/tracers/datadog/span_test.cc
  test/extensions/tracers/datadog/tracer_test.cc
Labels: deps

#34885 http: fix cookie attributes
  changelogs/current.yaml
  source/common/http/hash_policy.cc
  test/integration/multiplexed_integration_test.cc
Labels: waiting

#34691 add knob disable_dynamic_metadata_ingestion
  api/envoy/extensions/filters/http/ext_authz/v3/ext_authz.proto
  changelogs/current.yaml
  source/extensions/filters/http/ext_authz/ext_authz.cc
  source/extensions/filters/http/ext_authz/ext_authz.h
  test/extensions/filters/http/ext_authz/ext_authz_test.cc
Labels: api

#34471 tls: Add support for matching against OtherName SAN type
  api/envoy/extensions/transport_sockets/tls/v3/common.proto
  changelogs/current.yaml
  source/common/ssl/certificate_validation_context_config_impl.cc
  source/common/tls/cert_validator/san_matcher.cc
  source/common/tls/cert_validator/san_matcher.h
  source/common/tls/utility.cc
  test/common/tls/cert_validator/default_validator_test.cc
  test/common/tls/cert_validator/san_matcher_test.cc
  test/common/tls/test_data/README.md
  test/common/tls/test_data/certs.sh
  test/common/tls/test_data/san_dns_and_othername_cert.cfg
  test/common/tls/test_data/san_dns_and_othername_cert.pem
  test/common/tls/test_data/san_dns_and_othername_cert_info.h
  test/common/tls/test_data/san_dns_and_othername_key.pem
  test/common/tls/test_data/san_multiple_othername_cert.cfg
  test/common/tls/test_data/san_multiple_othername_cert.pem
  test/common/tls/test_data/san_multiple_othername_cert_info.h
  test/common/tls/test_data/san_multiple_othername_key.pem
  test/common/tls/test_data/san_multiple_othername_string_type_cert.cfg
  test/common/tls/test_data/san_multiple_othername_string_type_cert.pem
  test/common/tls/test_data/san_multiple_othername_string_type_cert_info.h
  test/common/tls/test_data/san_multiple_othername_string_type_key.pem
  test/common/tls/test_data/san_othername_cert.cfg
  test/common/tls/test_data/san_othername_cert.pem
  test/common/tls/test_data/san_othername_cert_info.h
  test/common/tls/test_data/san_othername_key.pem
  tools/spelling/spelling_dictionary.txt
Labels: api

#34956 [dev/1.29] repo: Dev v1.29.7
  VERSION.txt
  changelogs/1.29.6.yaml
  changelogs/current.yaml
Labels: version-change

#34972 [release/1.27] repo: Release v1.27.7
  VERSION.txt
  changelogs/current.yaml
  docs/inventories/v1.27/objects.inv
  docs/versions.yaml
Labels: version-change
