Repository envoyproxy/envoy, pull requests merged in 2025-03, with the labels that each got.

#38408 Set RCD for 100% drop_overload case as unconditional_drop_overload
  api/envoy/config/accesslog/v3/accesslog.proto
  docs/root/configuration/observability/access_log/usage.rst
  envoy/stream_info/stream_info.h
  source/common/http/headers.h
  source/common/router/router.cc
  source/common/stream_info/utility.cc
  source/common/stream_info/utility.h
  source/extensions/access_loggers/grpc/grpc_access_log_utils.cc
  test/common/access_log/access_log_impl_test.cc
  test/common/router/router_test.cc
  test/common/stream_info/stream_info_impl_test.cc
  test/integration/eds_integration_test.cc
Labels: api

#38621 deps: drop BoringSSL linkstatic patch
  bazel/boringssl_static.patch
  bazel/repositories.bzl
Labels: deps

#38612 docker/ci: Update dockerhub username
  .github/workflows/_publish_build.yml
  .github/workflows/_run.yml
  .github/workflows/envoy-publish.yml
Labels: workflows:untested

#38606 github/ci: Prevent workflow failures in downstream repos
  .github/workflows/envoy-publish.yml
Labels: workflows:untested

#38628 Workaround coverage issues observed on clang-18
  source/common/buffer/buffer_impl.cc
  source/common/buffer/buffer_impl.h
  source/common/filter/config_discovery_impl.cc
  source/common/filter/config_discovery_impl.h
  source/extensions/common/wasm/ext/envoy_proxy_wasm_api.h
  source/extensions/filters/network/common/redis/BUILD
  source/extensions/filters/network/common/redis/supported_commands.cc
  source/extensions/filters/network/common/redis/supported_commands.h
  source/extensions/load_balancing_policies/common/load_balancer_impl.cc
  source/extensions/load_balancing_policies/common/load_balancer_impl.h
  source/extensions/load_balancing_policies/subset/subset_lb.cc
  source/extensions/load_balancing_policies/subset/subset_lb.h
Labels: deps

#38131 tcp-proxy: support proxy-protocol tlvs
  api/envoy/extensions/filters/network/tcp_proxy/v3/tcp_proxy.proto
  changelogs/current.yaml
  source/common/tcp_proxy/tcp_proxy.cc
  source/common/tcp_proxy/tcp_proxy.h
  test/common/tcp_proxy/tcp_proxy_test.cc
  test/extensions/transport_sockets/proxy_protocol/BUILD
  test/extensions/transport_sockets/proxy_protocol/proxy_protocol_integration_test.cc
Labels: api

#38733 ci: Add trigger for Android and iOS CI jobs on source/common changes
  .github/config.yml
Labels: workflows:untested

#38716 deps: update QUICHE from 54ca2983f to 9d3b9500e
  bazel/repository_locations.bzl
Labels: deps

#38754 deps: Update QUICHE from 9d3b9500e to 13e508dec
  bazel/external/quiche.BUILD
  bazel/repository_locations.bzl
Labels: deps

#38755 Ext_Proc: Encode filter protocol configuration and send to the server
  api/envoy/service/ext_proc/v3/external_processor.proto
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
Labels: api

#37642 http: configurable ignore of HTTP/1.1 upgrades
  api/envoy/config/core/v3/protocol.proto
  changelogs/current.yaml
  envoy/http/BUILD
  envoy/http/codec.h
  source/common/http/http1/BUILD
  source/common/http/http1/codec_impl.cc
  source/common/http/http1/settings.cc
  source/common/http/http1/settings.h
  source/common/http/utility.cc
  source/common/http/utility.h
  source/common/upstream/upstream_impl.cc
  source/extensions/filters/network/http_connection_manager/config.cc
  source/extensions/upstreams/http/config.cc
  source/extensions/upstreams/http/config.h
  test/common/http/BUILD
  test/common/http/http1/BUILD
  test/common/http/http1/codec_impl_test.cc
  test/common/http/utility_test.cc
  test/integration/integration_test.cc
Labels: api

#38761 formatter: added PATH support
  api/envoy/extensions/formatter/req_without_query/v3/req_without_query.proto
  changelogs/current.yaml
  docs/root/configuration/observability/access_log/usage.rst
  source/common/formatter/http_specific_formatter.cc
  source/common/formatter/http_specific_formatter.h
  source/common/formatter/substitution_format_utility.h
  test/common/formatter/substitution_formatter_test.cc
Labels: api

#38837 [dev/1.30] repo: Dev v1.30.11
  VERSION.txt
  changelogs/1.30.10.yaml
  changelogs/current.yaml
Labels: version-change

#38840 [dev/1.33] repo: Dev v1.33.2
  VERSION.txt
  changelogs/1.33.1.yaml
  changelogs/current.yaml
Labels: version-change

#38836 [dev/1.31] repo: Dev v1.31.7
  VERSION.txt
  changelogs/1.31.6.yaml
  changelogs/current.yaml
Labels: version-change

#38731 Adding support for response codes which should not undergo compression in the Compression filter.
  api/envoy/extensions/filters/http/compressor/v3/compressor.proto
  changelogs/current.yaml
  docs/root/configuration/http/http_filters/_include/compressor-filter.yaml
  docs/root/configuration/http/http_filters/compressor_filter.rst
  source/extensions/filters/http/compressor/compressor_filter.cc
  source/extensions/filters/http/compressor/compressor_filter.h
  test/extensions/filters/http/compressor/compressor_filter_integration_test.cc
  test/extensions/filters/http/compressor/compressor_filter_test.cc
Labels: api

#38860 ci: Switch ARM to RBE
  .bazelrc
  .github/workflows/_precheck_publish.yml
  .github/workflows/_publish_build.yml
  .github/workflows/_publish_verify.yml
  .github/workflows/_request_cache.yml
  bazel/BUILD
  bazel/envoy_binary.bzl
  bazel/envoy_library.bzl
  bazel/envoy_test.bzl
  bazel/rbe/toolchains/BUILD
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/BUILD
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/aarch64_cc_toolchain_config.bzl
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/arm64.module.modulemap
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/builtin_include_directory_paths_aarch64
  bazel/rbe/toolchains/configs/linux/clang_libcxx/config/BUILD
  ci/do_ci.sh
  test/common/router/BUILD
  test/integration/python/BUILD
Labels: workflows:untested

#38891 [bp/1.33] ci: Switch ARM to RBE (#38860)
  .bazelrc
  .github/workflows/_precheck_publish.yml
  .github/workflows/_publish_build.yml
  .github/workflows/_publish_verify.yml
  .github/workflows/_request_cache.yml
  bazel/BUILD
  bazel/envoy_binary.bzl
  bazel/envoy_library.bzl
  bazel/envoy_test.bzl
  bazel/rbe/toolchains/BUILD
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/BUILD
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/aarch64_cc_toolchain_config.bzl
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/arm64.module.modulemap
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/builtin_include_directory_paths_aarch64
  bazel/rbe/toolchains/configs/linux/clang_libcxx/config/BUILD
  ci/do_ci.sh
  test/common/router/BUILD
  test/integration/python/BUILD
Labels: workflows:untested

#38890 [bp/1.32] ci: Switch ARM to RBE (#38860)
  .bazelrc
  .github/workflows/_precheck_publish.yml
  .github/workflows/_publish_build.yml
  .github/workflows/_publish_verify.yml
  bazel/BUILD
  bazel/envoy_binary.bzl
  bazel/envoy_library.bzl
  bazel/envoy_test.bzl
  bazel/rbe/toolchains/BUILD
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/BUILD
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/aarch64_cc_toolchain_config.bzl
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/arm64.module.modulemap
  bazel/rbe/toolchains/configs/linux/clang_libcxx/cc/builtin_include_directory_paths_aarch64
  bazel/rbe/toolchains/configs/linux/clang_libcxx/config/BUILD
  ci/do_ci.sh
  test/common/router/BUILD
  test/integration/python/BUILD
Labels: workflows:untested

#38235 Update tcmalloc to 5da4a882 (2024-12-27)
  bazel/repository_locations.bzl
  bazel/tcmalloc.patch
Labels: no stalebot, deps

#37849 OAuth2: PKCE(Proof Key for Code Exchange)
  api/envoy/extensions/filters/http/oauth2/v3/oauth.proto
  changelogs/current.yaml
  source/extensions/filters/http/oauth2/filter.cc
  source/extensions/filters/http/oauth2/filter.h
  source/extensions/filters/http/oauth2/oauth_client.cc
  source/extensions/filters/http/oauth2/oauth_client.h
  test/extensions/filters/http/oauth2/filter_test.cc
  test/extensions/filters/http/oauth2/oauth_integration_test.cc
  test/extensions/filters/http/oauth2/oauth_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: deps

#38915 repo: Dev v1.32.6
  VERSION.txt
  changelogs/1.32.5.yaml
  changelogs/current.yaml
Labels: version-change

#38916 repo: Dev v1.33.3
  VERSION.txt
  changelogs/1.33.2.yaml
  changelogs/current.yaml
Labels: version-change

#38914 repo: Dev v1.31.8
  VERSION.txt
  changelogs/1.31.7.yaml
  changelogs/current.yaml
Labels: version-change

#38944 deps: Bump emsdk and add toolchains
  bazel/dependency_imports.bzl
  bazel/emsdk.patch
  bazel/repository_locations.bzl
Labels: deps
