Repository envoyproxy/envoy, pull requests merged in 2025-08, with the labels that each got.

#40557 docker/ci: Build oci images natively
  .github/config.yml
  .github/workflows/_publish_build.yml
  .github/workflows/_publish_release.yml
  .github/workflows/_publish_release_container.yml
  .github/workflows/_publish_verify.yml
  .github/workflows/envoy-publish.yml
  ci/do_ci.sh
  ci/docker-compose.yml
  distribution/docker/BUILD
  distribution/docker/README.md
  distribution/docker/build.sh
  distribution/docker/docker_ci.sh
Labels: workflows:untested

#40563 ci/release: Minor fix
  .github/workflows/_publish_release.yml
Labels: workflows:untested

#40566 [bp/1.34] docker/ci: Build oci images natively (#40557)
  .github/config.yml
  .github/workflows/_publish_build.yml
  .github/workflows/_publish_release.yml
  .github/workflows/_publish_release_container.yml
  .github/workflows/_publish_verify.yml
  .github/workflows/envoy-publish.yml
  ci/do_ci.sh
  ci/docker-compose.yml
  distribution/docker/BUILD
  distribution/docker/README.md
  distribution/docker/build.sh
  distribution/docker/docker_ci.sh
Labels: workflows:untested

#40565 [bp/1.33] docker/ci: Build oci images natively (#40557)
  .github/config.yml
  .github/workflows/_publish_build.yml
  .github/workflows/_publish_release.yml
  .github/workflows/_publish_release_container.yml
  .github/workflows/_publish_verify.yml
  .github/workflows/envoy-publish.yml
  ci/do_ci.sh
  ci/docker-compose.yml
  distribution/docker/BUILD
  distribution/docker/README.md
  distribution/docker/build.sh
  distribution/docker/docker_ci.sh
Labels: workflows:untested

#40503 Revert "Ext_proc: do not support fail_open+FULL_DUPLEX_STREAMED configuraton combination (#39740)"
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  changelogs/current.yaml
  source/extensions/filters/http/ext_proc/config.cc
  test/extensions/filters/http/ext_proc/config_test.cc
Labels: backport/review

#40631 rbac: guard LC-Trie matcher against non-IP addresses
  source/extensions/filters/common/rbac/matchers.cc
  test/extensions/filters/common/rbac/matchers_test.cc
Labels: waiting

#40544 bugfix: tls_inspector times out
  changelogs/current.yaml
  source/extensions/filters/listener/tls_inspector/tls_inspector.cc
  test/extensions/filters/listener/tls_inspector/tls_inspector_integration_test.cc
Labels: backport/review

#40715 mobile/ci: Temporarily disable running the iOS simulator
  .github/workflows/mobile-ios_build.yml
  .github/workflows/mobile-release_validation.yml
Labels: workflows:untested

#40762 [1.32] http: configurable ignore of HTTP/1.1 upgrades (#37642)
  api/envoy/config/core/v3/protocol.proto
  changelogs/current.yaml
  envoy/http/BUILD
  envoy/http/codec.h
  source/common/http/http1/BUILD
  source/common/http/http1/codec_impl.cc
  source/common/http/http1/settings.cc
  source/common/http/http1/settings.h
  source/common/http/utility.cc
  source/common/http/utility.h
  source/common/upstream/upstream_impl.cc
  source/extensions/filters/network/http_connection_manager/config.cc
  source/extensions/upstreams/http/config.cc
  source/extensions/upstreams/http/config.h
  test/common/http/BUILD
  test/common/http/http1/BUILD
  test/common/http/http1/codec_impl_test.cc
  test/common/http/utility_test.cc
  test/integration/integration_test.cc
Labels: api

#40795 repo: Dev v1.33.8
  VERSION.txt
  changelogs/1.33.7.yaml
  changelogs/current.yaml
Labels: version-change

#40797 repo: Dev v1.34.6
  VERSION.txt
  changelogs/1.34.5.yaml
  changelogs/current.yaml
Labels: version-change

#40808 ext_proc: propagate detailed GRPC status for fail open
  changelogs/current.yaml
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  source/extensions/filters/http/ext_proc/processor_state.cc
  source/extensions/filters/http/ext_proc/processor_state.h
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
Labels: api

#40315 bootstrap: add reverse tunnel socket interface extension for upstream connections
  CODEOWNERS
  api/BUILD
  api/envoy/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/v3/BUILD
  api/envoy/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/v3/upstream_reverse_connection_socket_interface.proto
  api/versioning/BUILD
  docs/root/api-v3/bootstrap/bootstrap.rst
  source/extensions/bootstrap/reverse_tunnel/common/BUILD
  source/extensions/bootstrap/reverse_tunnel/common/reverse_connection_utility.cc
  source/extensions/bootstrap/reverse_tunnel/common/reverse_connection_utility.h
  source/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/BUILD
  source/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/reverse_tunnel_acceptor.cc
  source/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/reverse_tunnel_acceptor.h
  source/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/reverse_tunnel_acceptor_extension.cc
  source/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/reverse_tunnel_acceptor_extension.h
  source/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/upstream_socket_manager.cc
  source/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/upstream_socket_manager.h
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  test/extensions/bootstrap/reverse_tunnel/common/BUILD
  test/extensions/bootstrap/reverse_tunnel/common/reverse_connection_utility_test.cc
  test/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/BUILD
  test/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/config_validation_test.cc
  test/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/reverse_tunnel_acceptor_extension_test.cc
  test/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/reverse_tunnel_acceptor_test.cc
  test/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/upstream_reverse_connection_io_handle_test.cc
  test/extensions/bootstrap/reverse_tunnel/upstream_socket_interface/upstream_socket_manager_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: api
