Repository envoyproxy/envoy, pull requests merged in 2025-07, with the labels that each got.

#40113 wasm/ext: Expose Wasm API to external builds
  source/extensions/common/wasm/ext/BUILD
Labels: deps

#40156 [1.31] examples: Disable flakey dynamic-config-cp
  bazel/examples.patch
  bazel/repositories.bzl
Labels: deps

#40165 ci/macos: Fix for vm condition
  .github/workflows/envoy-macos.yml
Labels: workflows:untested

#40167 github/ci: Dont set the toolchain in workflow
  .github/workflows/_request_cache.yml
Labels: workflows:untested

#40182 [dev/1.32] repo: Dev v1.32.8
  VERSION.txt
  changelogs/1.32.7.yaml
  changelogs/current.yaml
  changelogs/summary.md
Labels: version-change

#40183 [dev/1.33] repo: Dev v1.33.5
  VERSION.txt
  changelogs/1.33.4.yaml
  changelogs/current.yaml
  changelogs/summary.md
Labels: version-change

#40184 [dev/1.34] repo: Dev v1.34.3
  VERSION.txt
  changelogs/1.34.2.yaml
  changelogs/current.yaml
  changelogs/summary.md
Labels: version-change

#40179 tls: fix incorrectly cached empty peer certificate values
  changelogs/current.yaml
  source/common/tls/connection_info_impl_base.cc
  test/integration/tcp_proxy_integration_test.cc
Labels: backport/approved

#40318 [dev/1.33] repo: Dev v1.33.6
  VERSION.txt
  changelogs/1.33.5.yaml
  changelogs/current.yaml
Labels: version-change

#40417 [dev/1.32] repo: Dev v1.32.10
  VERSION.txt
  changelogs/1.32.9.yaml
  changelogs/current.yaml
Labels: version-change

#40419 [dev/1.34] repo: Dev v1.34.5
  VERSION.txt
  changelogs/1.34.4.yaml
  changelogs/current.yaml
Labels: version-change

#39782 upstream: Add network namespace for upstream binding
  changelogs/current.yaml
  source/common/event/dispatcher_impl.cc
  source/common/network/utility.cc
  source/common/upstream/upstream_impl.cc
  test/common/listener_manager/listener_manager_impl_test.cc
  test/common/upstream/upstream_impl_test.cc
  test/coverage.yaml
Labels: api

#40450 docs: fix H2M filter docs to have proper spacing & breaks
  api/envoy/extensions/filters/http/header_to_metadata/v3/header_to_metadata.proto
Labels: api

#40351 statSink: add resource attributes for otlp statSink
  api/envoy/extensions/stat_sinks/open_telemetry/v3/open_telemetry.proto
  changelogs/current.yaml
  docs/root/api-v3/config/trace/opentelemetry/resource_detectors.rst
  source/extensions/stat_sinks/open_telemetry/BUILD
  source/extensions/stat_sinks/open_telemetry/config.cc
  source/extensions/stat_sinks/open_telemetry/open_telemetry_impl.cc
  source/extensions/stat_sinks/open_telemetry/open_telemetry_impl.h
  source/extensions/tracers/opentelemetry/opentelemetry_tracer_impl.cc
  source/extensions/tracers/opentelemetry/resource_detectors/dynatrace/config.cc
  source/extensions/tracers/opentelemetry/resource_detectors/dynatrace/config.h
  source/extensions/tracers/opentelemetry/resource_detectors/environment/config.cc
  source/extensions/tracers/opentelemetry/resource_detectors/environment/config.h
  source/extensions/tracers/opentelemetry/resource_detectors/environment/environment_resource_detector.cc
  source/extensions/tracers/opentelemetry/resource_detectors/environment/environment_resource_detector.h
  source/extensions/tracers/opentelemetry/resource_detectors/resource_detector.h
  source/extensions/tracers/opentelemetry/resource_detectors/resource_provider.cc
  source/extensions/tracers/opentelemetry/resource_detectors/resource_provider.h
  source/extensions/tracers/opentelemetry/resource_detectors/static/config.cc
  source/extensions/tracers/opentelemetry/resource_detectors/static/config.h
  source/extensions/tracers/opentelemetry/resource_detectors/static/static_config_resource_detector.h
  test/extensions/stats_sinks/open_telemetry/config_test.cc
  test/extensions/stats_sinks/open_telemetry/open_telemetry_impl_test.cc
  test/extensions/tracers/opentelemetry/opentelemetry_tracer_impl_test.cc
  test/extensions/tracers/opentelemetry/resource_detectors/dynatrace/config_test.cc
  test/extensions/tracers/opentelemetry/resource_detectors/environment/config_test.cc
  test/extensions/tracers/opentelemetry/resource_detectors/environment/environment_resource_detector_test.cc
  test/extensions/tracers/opentelemetry/resource_detectors/resource_provider_test.cc
  test/extensions/tracers/opentelemetry/resource_detectors/static/config_test.cc
  test/extensions/tracers/opentelemetry/resource_detectors/static/static_config_resource_detector_test.cc
Labels: api

#40484 docs: fix typo in the protocol docs (rage => range)
  api/envoy/config/core/v3/protocol.proto
Labels: api

#39334 deps: bump up cel-cpp to v0.11.0
  bazel/foreign_cc/cel-cpp.patch
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  source/extensions/access_loggers/filters/cel/cel.cc
  source/extensions/access_loggers/filters/cel/cel.h
  source/extensions/common/wasm/foreign.cc
  source/extensions/filters/common/expr/evaluator.cc
  source/extensions/filters/common/expr/evaluator.h
  source/extensions/filters/common/rbac/matchers.h
  source/extensions/filters/http/ext_proc/matching_utils.cc
  source/extensions/filters/http/ext_proc/matching_utils.h
  source/extensions/formatter/cel/cel.cc
  source/extensions/formatter/cel/cel.h
  source/extensions/matching/input_matchers/cel_matcher/matcher.cc
  source/extensions/matching/input_matchers/cel_matcher/matcher.h
  source/extensions/rate_limit_descriptors/expr/config.cc
  source/extensions/tracers/opentelemetry/samplers/cel/cel_sampler.cc
  source/extensions/tracers/opentelemetry/samplers/cel/cel_sampler.h
  test/coverage.yaml
  test/extensions/filters/common/expr/evaluator_fuzz_test.cc
  test/extensions/filters/http/ext_proc/matching_utils_test.cc
  test/extensions/formatter/cel/cel_test.cc
  test/extensions/matching/input_matchers/cel_matcher/cel_matcher_test.cc
  test/extensions/rate_limit_descriptors/expr/config_test.cc
Labels: deps
