Repository envoyproxy/envoy, pull requests merged in 2025-01, with the labels that each got.

#37834 aws: update credential provider proto and support credential file reload
  api/envoy/extensions/common/aws/v3/BUILD
  api/envoy/extensions/common/aws/v3/credential_provider.proto
  changelogs/current.yaml
  docs/root/configuration/http/http_filters/_include/aws-request-signing-filter-credential-provider-config.yaml
  docs/root/configuration/http/http_filters/_include/aws_credentials.rst
  docs/root/configuration/http/http_filters/aws_request_signing_filter.rst
  source/extensions/common/aws/BUILD
  source/extensions/common/aws/credentials_provider_impl.cc
  source/extensions/common/aws/credentials_provider_impl.h
  source/extensions/common/aws/region_provider_impl.cc
  source/extensions/common/aws/region_provider_impl.h
  source/extensions/common/aws/utility.cc
  source/extensions/common/aws/utility.h
  source/extensions/filters/http/aws_lambda/config.cc
  source/extensions/filters/http/aws_request_signing/config.cc
  source/extensions/filters/http/aws_request_signing/config.h
  test/extensions/common/aws/credentials_provider_impl_test.cc
  test/extensions/common/aws/region_provider_impl_test.cc
  test/extensions/common/aws/utility_test.cc
  test/extensions/filters/http/aws_request_signing/config_test.cc
Labels: api

#37864 bazel: Bump version -> 7.4.0
  .bazelversion
  .github/workflows/mobile-coverage.yml
Labels: workflows:untested

#37866 ci/deps: Remove unused lockfile
  .github/workflows/verify-requirements.txt
Labels: workflows:untested

#37962 golang: merge multiple test go.mods into a single one
  .github/dependabot.yml
  contrib/golang/filters/http/test/BUILD
  contrib/golang/filters/http/test/config_test.cc
  contrib/golang/filters/http/test/golang_filter_test.cc
  contrib/golang/filters/http/test/golang_integration_test.cc
  contrib/golang/filters/http/test/test_data/BUILD
  contrib/golang/filters/http/test/test_data/access_log/BUILD
  contrib/golang/filters/http/test/test_data/access_log/config.go
  contrib/golang/filters/http/test/test_data/access_log/filter.go
  contrib/golang/filters/http/test/test_data/access_log/go.mod
  contrib/golang/filters/http/test/test_data/action/BUILD
  contrib/golang/filters/http/test/test_data/action/config.go
  contrib/golang/filters/http/test/test_data/action/filter.go
  contrib/golang/filters/http/test/test_data/action/go.mod
  contrib/golang/filters/http/test/test_data/add_data/BUILD
  contrib/golang/filters/http/test/test_data/add_data/config.go
  contrib/golang/filters/http/test/test_data/add_data/filter.go
  contrib/golang/filters/http/test/test_data/add_data/go.mod
  contrib/golang/filters/http/test/test_data/basic/BUILD
  contrib/golang/filters/http/test/test_data/basic/config.go
  contrib/golang/filters/http/test/test_data/basic/filter.go
  contrib/golang/filters/http/test/test_data/basic/go.mod
  contrib/golang/filters/http/test/test_data/buffer/BUILD
  contrib/golang/filters/http/test/test_data/buffer/config.go
  contrib/golang/filters/http/test/test_data/buffer/filter.go
  contrib/golang/filters/http/test/test_data/buffer/go.mod
  contrib/golang/filters/http/test/test_data/dummy/go.mod
  contrib/golang/filters/http/test/test_data/echo/BUILD
  contrib/golang/filters/http/test/test_data/echo/config.go
  contrib/golang/filters/http/test/test_data/echo/filter.go
  contrib/golang/filters/http/test/test_data/echo/go.mod
  contrib/golang/filters/http/test/test_data/go.mod
  contrib/golang/filters/http/test/test_data/metric/BUILD
  contrib/golang/filters/http/test/test_data/metric/config.go
  contrib/golang/filters/http/test/test_data/metric/filter.go
  contrib/golang/filters/http/test/test_data/metric/go.mod
  contrib/golang/filters/http/test/test_data/passthrough/BUILD
  contrib/golang/filters/http/test/test_data/passthrough/filter.go
  contrib/golang/filters/http/test/test_data/passthrough/go.mod
  contrib/golang/filters/http/test/test_data/plugins.go
  contrib/golang/filters/http/test/test_data/property/BUILD
  contrib/golang/filters/http/test/test_data/property/config.go
  contrib/golang/filters/http/test/test_data/property/filter.go
  contrib/golang/filters/http/test/test_data/property/go.mod
  contrib/golang/filters/http/test/test_data/routeconfig/BUILD
  contrib/golang/filters/http/test/test_data/routeconfig/config.go
  contrib/golang/filters/http/test/test_data/routeconfig/filter.go
  contrib/golang/filters/http/test/test_data/routeconfig/go.mod
  contrib/golang/filters/http/test/test_data/websocket/BUILD
  contrib/golang/filters/http/test/test_data/websocket/config.go
  contrib/golang/filters/http/test/test_data/websocket/filter.go
  contrib/golang/filters/http/test/test_data/websocket/go.mod
  contrib/golang/filters/http/test/websocket_integration_test.cc
Labels: workflows:untested

#37869 Enable ext_proc HTTP service API
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  changelogs/current.yaml
Labels: api

#38015 rbac: fix styling in the RBAC protos
  api/envoy/extensions/filters/http/rbac/v3/rbac.proto
Labels: api

#37002 http_inspector dynamic buffering
  source/extensions/filters/listener/http_inspector/config.cc
  source/extensions/filters/listener/http_inspector/http_inspector.cc
  source/extensions/filters/listener/http_inspector/http_inspector.h
  test/extensions/filters/listener/http_inspector/http_inspector_test.cc
Labels: api

#37172 http/transport tap: Add a new UDP sink
  CODEOWNERS
  api/BUILD
  api/contrib/envoy/extensions/tap_sinks/udp_sink/v3alpha/BUILD
  api/contrib/envoy/extensions/tap_sinks/udp_sink/v3alpha/udp_sink.proto
  api/versioning/BUILD
  changelogs/current.yaml
  contrib/contrib_build_config.bzl
  contrib/extensions_metadata.yaml
  contrib/tap_sinks/udp_sink/source/BUILD
  contrib/tap_sinks/udp_sink/source/config.cc
  contrib/tap_sinks/udp_sink/source/config.h
  contrib/tap_sinks/udp_sink/source/udp_sink_impl.cc
  contrib/tap_sinks/udp_sink/source/udp_sink_impl.h
  contrib/tap_sinks/udp_sink/test/BUILD
  contrib/tap_sinks/udp_sink/test/udp_sink_config_test.cc
  contrib/tap_sinks/udp_sink/test/udp_sink_interation_test.cc
  contrib/tap_sinks/udp_sink/test/udp_sink_test.cc
  docs/root/api-v3/config/contrib/contrib.rst
  docs/root/api-v3/config/contrib/tap_sinks/tap_sinks.rst
  source/extensions/common/tap/tap.h
  source/extensions/common/tap/tap_config_base.cc
  test/extensions/common/tap/admin_test.cc
  tools/extensions/extensions_schema.yaml
Labels: api

#37774 Enable ext_proc MxN API
  api/envoy/extensions/filters/http/ext_proc/v3/processing_mode.proto
  api/envoy/service/ext_proc/v3/BUILD
  api/envoy/service/ext_proc/v3/external_processor.proto
  changelogs/current.yaml
Labels: api

#37792 Add support for Container CPU Utilization Resource Monitor
  CODEOWNERS
  api/envoy/extensions/resource_monitors/cpu_utilization/v3/cpu_utilization.proto
  changelogs/current.yaml
  docs/root/configuration/operations/overload_manager/_include/container_cpu_utilization_monitor_overload.yaml
  docs/root/configuration/operations/overload_manager/overload_manager.rst
  source/extensions/resource_monitors/cpu_utilization/config.cc
  source/extensions/resource_monitors/cpu_utilization/cpu_stats_reader.h
  source/extensions/resource_monitors/cpu_utilization/cpu_utilization_monitor.cc
  source/extensions/resource_monitors/cpu_utilization/cpu_utilization_monitor.h
  source/extensions/resource_monitors/cpu_utilization/linux_cpu_stats_reader.cc
  source/extensions/resource_monitors/cpu_utilization/linux_cpu_stats_reader.h
  test/extensions/resource_monitors/cpu_utilization/BUILD
  test/extensions/resource_monitors/cpu_utilization/config_test.cc
  test/extensions/resource_monitors/cpu_utilization/cpu_utilization_monitor_test.cc
  test/extensions/resource_monitors/cpu_utilization/linux_cpu_stats_reader_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: api-review-required

#32543 deps: Bump `com_github_google_libprotobuf_mutator` -> 1.3
  bazel/repository_locations.bzl
Labels: stale

#38080 [1.33] release/branch: Deconfigure mobile CI
  .github/config.yml
Labels: workflows:untested

#37372 Make the limit on HTTP/2 metadata that can be handled configurable
  api/envoy/config/core/v3/protocol.proto
  changelogs/current.yaml
  source/common/http/http2/codec_impl.cc
  source/common/http/http2/codec_impl.h
  source/common/http/http2/metadata_decoder.cc
  source/common/http/http2/metadata_decoder.h
  test/common/http/http2/metadata_encoder_test.cc
Labels: api

#38061 Docs: Fix broken refs and attention blocks
  api/envoy/config/core/v3/health_check.proto
  api/envoy/extensions/filters/http/cors/v3/cors.proto
  api/envoy/extensions/filters/network/tcp_proxy/v3/tcp_proxy.proto
  docs/root/configuration/http/http_filters/compressor_filter.rst
  docs/root/intro/arch_overview/upstream/connection_pooling.rst
Labels: waiting, api

#37940 Bump up version of the libipp-crypto dependency
  bazel/foreign_cc/ipp-crypto-bn2lebinpad.patch
  bazel/repository_locations.bzl
  contrib/cryptomb/private_key_providers/source/BUILD
Labels: waiting

#37709 support backoff between retries in tcp_proxy
  api/envoy/extensions/filters/network/tcp_proxy/v3/tcp_proxy.proto
  changelogs/current.yaml
  source/common/runtime/runtime_features.cc
  source/common/tcp_proxy/tcp_proxy.cc
  source/common/tcp_proxy/tcp_proxy.h
  test/common/tcp_proxy/config_test.cc
  test/common/tcp_proxy/tcp_proxy_test.cc
  test/integration/tcp_tunneling_integration_test.cc
Labels: api

#38268 Upgrade to bazel 7.5.0
  .bazelversion
  .github/workflows/mobile-coverage.yml
Labels: workflows:untested
