Repository envoyproxy/envoy, pull requests merged in 2025-06, with the labels that each got.

#39611 ci/coverage: Add `grcov`
  .bazelrc
  .github/config.yml
  .github/workflows/_check_coverage.yml
  .github/workflows/_mobile_container_ci.yml
  .github/workflows/mobile-coverage.yml
  EXTENSION_POLICY.md
  bazel/dependency_imports.bzl
  bazel/repositories.bzl
  bazel/repository_locations.bzl
  ci/do_ci.sh
  mobile/.bazelrc
  mobile/test/BUILD
  mobile/test/coverage.yaml
  repokitteh.star
  test/BUILD
  test/coverage.yaml
  test/fuzz_coverage.yaml
  test/per_file_coverage.sh
  test/run_envoy_bazel_coverage.sh
  tools/coverage/BUILD
  tools/coverage/filter.jq
  tools/coverage/report_generator.sh.template
  tools/coverage/templates/base.html
  tools/coverage/templates/index.html
  tools/coverage/templates/macros.html
  tools/coverage/validate.sh
Labels: workflows:untested

#39536 override host: support multiple addresses parsing and cache parsing result
  api/envoy/extensions/load_balancing_policies/override_host/v3/override_host.proto
  source/extensions/load_balancing_policies/override_host/load_balancer.cc
  source/extensions/load_balancing_policies/override_host/load_balancer.h
  source/extensions/load_balancing_policies/override_host/override_host_filter_state.h
  test/extensions/load_balancing_policies/override_host/load_balancer_test.cc
Labels: api

#39745 docs: minor nits in DFP docs to annotate notes correctly
  api/envoy/extensions/filters/http/dynamic_forward_proxy/v3/dynamic_forward_proxy.proto
Labels: api

#39806 build(deps): bump up dependencies in a batch
  .github/workflows/codeql-daily.yml
  .github/workflows/codeql-push.yml
  .github/workflows/scorecard.yml
  tools/base/requirements.txt
Labels: workflows:untested

#39845 ci/cache: Shift cache create action to do_ci.sh
  .github/workflows/_request_cache_bazel.yml
  ci/do_ci.sh
Labels: workflows:untested

#39854 ci: Fix cache prime
  .github/workflows/_request_cache_bazel.yml
Labels: workflows:untested

#39859 [bp/1.33] ci/cache: Shift cache create action to do_ci.sh (#39845)
  .github/workflows/_request_cache_bazel.yml
  ci/do_ci.sh
Labels: workflows:untested

#39860 [bp/1.34] ci/cache: Shift cache create action to do_ci.sh (#39845)
  .github/workflows/_request_cache_bazel.yml
  ci/do_ci.sh
Labels: workflows:untested

#39992 mobile/ios: Use bazel simulator and add mock server
  .github/workflows/_check_coverage.yml
  .github/workflows/_finish.yml
  .github/workflows/_load.yml
  .github/workflows/_load_env.yml
  .github/workflows/_precheck_publish.yml
  .github/workflows/_publish_publish.yml
  .github/workflows/_request.yml
  .github/workflows/_request_cache_bazel.yml
  .github/workflows/_request_cache_docker.yml
  .github/workflows/_request_checks.yml
  .github/workflows/_run.yml
  .github/workflows/codeql-daily.yml
  .github/workflows/codeql-push.yml
  .github/workflows/command.yml
  .github/workflows/envoy-dependency.yml
  .github/workflows/envoy-release.yml
  .github/workflows/envoy-sync.yml
  .github/workflows/mobile-android_build.yml
  .github/workflows/mobile-ios_build.yml
  mobile/ci/start_ios_mock_server.py
  mobile/ci/start_ios_simulator.sh
  mobile/examples/objective-c/hello_world/ViewController.m
  mobile/examples/swift/hello_world/ViewController.swift
  mobile/test/swift/apps/experimental/ViewController.swift
Labels: workflows:untested

#39200 Add functionality to set downstream socket option from L7 filter callback
  envoy/network/BUILD
  envoy/network/connection.h
  source/common/network/connection_impl.cc
  source/common/network/connection_impl.h
  source/common/network/multi_connection_base_impl.cc
  source/common/network/multi_connection_base_impl.h
  source/common/network/socket_option_impl.cc
  source/common/network/socket_option_impl.h
  source/common/quic/envoy_quic_client_session.h
  source/common/quic/envoy_quic_server_session.h
  source/common/quic/quic_filter_manager_connection_impl.cc
  source/common/quic/quic_filter_manager_connection_impl.h
  source/extensions/api_listeners/default_api_listener/api_listener_impl.h
  test/common/network/BUILD
  test/common/network/connection_impl_test.cc
  test/common/network/multi_connection_base_impl_test.cc
  test/common/quic/envoy_quic_client_session_test.cc
  test/common/quic/envoy_quic_server_session_test.cc
  test/common/quic/quic_filter_manager_connection_impl_test.cc
  test/mocks/network/connection.h
  test/server/api_listener_test.cc
Labels: api

#40002 github/ci: Improve workflow conditions
  .github/workflows/envoy-checks.yml
  .github/workflows/envoy-macos.yml
  .github/workflows/envoy-prechecks.yml
  .github/workflows/envoy-publish.yml
  .github/workflows/mobile-android_build.yml
  .github/workflows/mobile-android_tests.yml
  .github/workflows/mobile-asan.yml
  .github/workflows/mobile-cc_tests.yml
  .github/workflows/mobile-coverage.yml
  .github/workflows/mobile-docs.yml
  .github/workflows/mobile-format.yml
  .github/workflows/mobile-ios_build.yml
  .github/workflows/mobile-ios_tests.yml
  .github/workflows/mobile-perf.yml
  .github/workflows/mobile-release_validation.yml
  .github/workflows/mobile-tsan.yml
Labels: workflows:untested

#40005 ci: Fix PR conditions
  .github/workflows/envoy-checks.yml
  .github/workflows/envoy-macos.yml
  .github/workflows/envoy-prechecks.yml
  .github/workflows/envoy-publish.yml
  .github/workflows/mobile-android_build.yml
  .github/workflows/mobile-android_tests.yml
  .github/workflows/mobile-asan.yml
  .github/workflows/mobile-cc_tests.yml
  .github/workflows/mobile-coverage.yml
  .github/workflows/mobile-docs.yml
  .github/workflows/mobile-format.yml
  .github/workflows/mobile-ios_build.yml
  .github/workflows/mobile-ios_tests.yml
  .github/workflows/mobile-perf.yml
  .github/workflows/mobile-release_validation.yml
  .github/workflows/mobile-tsan.yml
Labels: workflows:untested

#40009 Revert "build(deps): bump envoyproxy/toolshed from actions-v0.3.18 to…
  .github/workflows/_check_coverage.yml
  .github/workflows/_finish.yml
  .github/workflows/_load.yml
  .github/workflows/_load_env.yml
  .github/workflows/_precheck_publish.yml
  .github/workflows/_publish_publish.yml
  .github/workflows/_request.yml
  .github/workflows/_request_cache_bazel.yml
  .github/workflows/_request_cache_docker.yml
  .github/workflows/_request_checks.yml
  .github/workflows/_run.yml
  .github/workflows/codeql-daily.yml
  .github/workflows/codeql-push.yml
  .github/workflows/command.yml
  .github/workflows/envoy-dependency.yml
  .github/workflows/envoy-release.yml
  .github/workflows/envoy-sync.yml
  .github/workflows/mobile-android_build.yml
  .github/workflows/mobile-ios_build.yml
Labels: workflows:untested

#40013 github/ci: Fix skipped job JSON parsing
  .github/workflows/envoy-checks.yml
  .github/workflows/envoy-macos.yml
  .github/workflows/envoy-prechecks.yml
  .github/workflows/envoy-publish.yml
  .github/workflows/mobile-android_build.yml
  .github/workflows/mobile-android_tests.yml
  .github/workflows/mobile-asan.yml
  .github/workflows/mobile-cc_tests.yml
  .github/workflows/mobile-coverage.yml
  .github/workflows/mobile-docs.yml
  .github/workflows/mobile-format.yml
  .github/workflows/mobile-ios_build.yml
  .github/workflows/mobile-ios_tests.yml
  .github/workflows/mobile-perf.yml
  .github/workflows/mobile-release_validation.yml
  .github/workflows/mobile-tsan.yml
Labels: workflows:untested

#40016 github/ci: Add security notifications on bad request
  .github/workflows/envoy-security-check.yml
  tools/repo/BUILD
  tools/repo/security_notify.py
Labels: workflows:untested

#40043 bazel/buf: Set sha to quieten buf loading (+improve sec)
  bazel/dependency_imports.bzl
  tools/check_repositories.sh
Labels: deps

#40067 docs: clean up docs to make them consistent
  api/envoy/config/cluster/v3/cluster.proto
  api/envoy/config/endpoint/v3/endpoint.proto
  api/envoy/extensions/wasm/v3/wasm.proto
Labels: api

#40078 Revert "build(deps): bump envoyproxy/toolshed from actions-v0.3.20 to 0.3.21"
  .github/workflows/_check_coverage.yml
  .github/workflows/_finish.yml
  .github/workflows/_load.yml
  .github/workflows/_load_env.yml
  .github/workflows/_precheck_publish.yml
  .github/workflows/_publish_publish.yml
  .github/workflows/_request.yml
  .github/workflows/_request_cache_bazel.yml
  .github/workflows/_request_cache_docker.yml
  .github/workflows/_request_checks.yml
  .github/workflows/_run.yml
  .github/workflows/codeql-daily.yml
  .github/workflows/codeql-push.yml
  .github/workflows/command.yml
  .github/workflows/envoy-dependency.yml
  .github/workflows/envoy-release.yml
  .github/workflows/envoy-sync.yml
  .github/workflows/mobile-android_build.yml
  .github/workflows/mobile-ios_build.yml
Labels: workflows:untested

#39994 ext_proc: handle server error response based on the failure_mode_allow config
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  changelogs/current.yaml
  source/common/runtime/runtime_features.cc
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
  test/extensions/filters/http/ext_proc/ordering_test.cc
Labels: api
