Repository envoyproxy/envoy, pull requests merged in 2025-05, with the labels that each got.

#39269 Switch coverage CI targets to EngFlow
  .github/workflows/_check_coverage.yml
Labels: workflows:untested

#39357 [bp/1.31] contrib: upgrade go version to 1.23 (#36149)
  bazel/dependency_imports.bzl
  contrib/golang/filters/http/test/test_data/access_log/go.mod
  contrib/golang/filters/http/test/test_data/action/go.mod
  contrib/golang/filters/http/test/test_data/basic/go.mod
  contrib/golang/filters/http/test/test_data/buffer/go.mod
  contrib/golang/filters/http/test/test_data/dummy/go.mod
  contrib/golang/filters/http/test/test_data/echo/go.mod
  contrib/golang/filters/http/test/test_data/metric/go.mod
  contrib/golang/filters/http/test/test_data/passthrough/go.mod
  contrib/golang/filters/http/test/test_data/property/go.mod
  contrib/golang/filters/http/test/test_data/routeconfig/go.mod
  contrib/golang/filters/http/test/test_data/websocket/go.mod
  contrib/golang/filters/network/test/test_data/go.mod
  contrib/golang/router/cluster_specifier/test/test_data/simple/go.mod
  go.mod
  go.sum
Labels: deps

#39265 network_ext_proc: add more counters and tests
  api/envoy/extensions/filters/network/ext_proc/v3/ext_proc.proto
  source/extensions/filters/network/ext_proc/config.cc
  source/extensions/filters/network/ext_proc/ext_proc.cc
  source/extensions/filters/network/ext_proc/ext_proc.h
  test/extensions/filters/network/ext_proc/config_test.cc
  test/extensions/filters/network/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/network/ext_proc/ext_proc_test.cc
Labels: api

#39094 golang extension: implement GetAllHeaders in the cluster_specifier plugin.
  contrib/golang/router/cluster_specifier/source/cgo.cc
  contrib/golang/router/cluster_specifier/source/go/pkg/api/capi.go
  contrib/golang/router/cluster_specifier/source/go/pkg/api/cluster.go
  contrib/golang/router/cluster_specifier/source/go/pkg/cluster_specifier/api.h
  contrib/golang/router/cluster_specifier/source/go/pkg/cluster_specifier/capi_impl.go
  contrib/golang/router/cluster_specifier/source/go/pkg/cluster_specifier/type.go
  contrib/golang/router/cluster_specifier/test/golang_integration_test.cc
  contrib/golang/router/cluster_specifier/test/test_data/simple/plugin.go
Labels: waiting, api, deps

#39397 [dev/1.34] repo: Dev v1.34.2
  VERSION.txt
  changelogs/1.34.1.yaml
  changelogs/current.yaml
Labels: version-change

#39400 [dev/1.31] repo: Dev v1.31.9
  VERSION.txt
  changelogs/1.31.8.yaml
  changelogs/current.yaml
Labels: version-change

#39399 [dev/1.32] repo: Dev v1.32.7
  VERSION.txt
  changelogs/1.32.6.yaml
  changelogs/current.yaml
Labels: version-change

#39398 [dev/1.33] repo: Dev v1.33.4
  VERSION.txt
  changelogs/1.33.3.yaml
  changelogs/current.yaml
Labels: version-change

#39437 ci: Use build image version for PR when supplied
  .github/workflows/envoy-dependency.yml
Labels: workflows:untested

#39444 Revert "Switch coverage CI targets to EngFlow (#39436)"
  .github/workflows/_check_coverage.yml
Labels: workflows:untested

#39433 (header_mutation): support mutating trailers
  api/envoy/extensions/filters/http/header_mutation/v3/header_mutation.proto
  changelogs/current.yaml
  source/extensions/filters/http/header_mutation/header_mutation.cc
  source/extensions/filters/http/header_mutation/header_mutation.h
  test/extensions/filters/http/header_mutation/config_test.cc
  test/extensions/filters/http/header_mutation/header_mutation_test.cc
Labels: deps

#39449 Update to GCC 13
  .bazelrc
  .devcontainer/Dockerfile
  .github/config.yml
  bazel/rbe/toolchains/configs/linux/clang/cc/BUILD
  bazel/rbe/toolchains/configs/linux/clang/cc/builtin_include_directory_paths
  bazel/rbe/toolchains/configs/linux/clang/cc/module.modulemap
  bazel/rbe/toolchains/configs/linux/clang/config/BUILD
  bazel/rbe/toolchains/configs/linux/clang_libcxx/config/BUILD
  bazel/rbe/toolchains/configs/linux/gcc/cc/BUILD
  bazel/rbe/toolchains/configs/linux/gcc/cc/builtin_include_directory_paths
  bazel/rbe/toolchains/configs/linux/gcc/config/BUILD
  bazel/v8.patch
  mobile/third_party/rbe_configs/cc/BUILD
  mobile/third_party/rbe_configs/cc/builtin_include_directory_paths
  mobile/third_party/rbe_configs/cc/module.modulemap
  mobile/third_party/rbe_configs/config/BUILD
  source/extensions/health_checkers/grpc/health_checker_impl.cc
Labels: deps, workflows:untested

#39388 Remove throw from ext_proc data plane when client start failed
  source/extensions/filters/common/ext_proc/grpc_client_impl.h
  source/extensions/filters/http/ext_proc/ext_proc.cc
  test/extensions/filters/http/ext_proc/client_test.cc
Labels: waiting

#39592 ci/coverage: Fix bad mobile config
  .github/workflows/mobile-coverage.yml
Labels: workflows:untested

#39593 ci/coverage: Fix mobile config (attempt 2)
  .github/workflows/mobile-coverage.yml
Labels: workflows:untested

#39597 ci/coverage: Test mobile on cov script change
  .github/config.yml
Labels: workflows:untested

#39635 ci/github: Add diskspace hack for failing release job
  .github/workflows/_publish_build.yml
Labels: workflows:untested

#39655 ci/github: Add diskspace hack for failing gcc job
  .github/workflows/_check_build.yml
Labels: workflows:untested

#39657 bazel: Use prebuilt san libs from toolshed
  api/bazel/repositories.bzl
  api/bazel/repository_locations.bzl
  bazel/dependency_imports.bzl
  bazel/foreign_cc/BUILD
  bazel/repositories.bzl
  bazel/repository_locations.bzl
Labels: deps

#38986 Make route prefix map matchers able to retry
  changelogs/current.yaml
  source/common/matcher/BUILD
  source/common/matcher/exact_map_matcher.h
  source/common/matcher/map_matcher.h
  source/common/matcher/prefix_map_matcher.h
  source/common/runtime/runtime_features.cc
  test/common/matcher/BUILD
  test/common/matcher/matcher_test.cc
  test/common/matcher/prefix_map_matcher_test.cc
Labels: api, deps

#39684 bazel/ci: Fix arm cache/download issue
  .github/workflows/_request_cache.yml
Labels: workflows:untested

#39613 Fix legacy_proxy_filter_integration_test CI
  source/common/network/utility.cc
  test/extensions/filters/http/dynamic_forward_proxy/BUILD
  test/extensions/filters/http/dynamic_forward_proxy/proxy_filter_integration_test.cc
Labels: backport/review
