Repository envoyproxy/envoy, pull requests merged in 2025-10, with the labels that each got.

#41313 tools/cve: Fix empty data dir case
  .bazelrc
  .github/workflows/_cve_scan.yml
  tools/dependency/BUILD
  tools/dependency/cves.sh
Labels: workflows:untested

#41316 [bp/1.34] tools/cve: Fix empty data dir case (#41313)
  .bazelrc
  .github/workflows/_cve_scan.yml
  tools/dependency/BUILD
  tools/dependency/cves.sh
Labels: workflows:untested

#41317 [bp/1.35] tools/cve: Fix empty data dir case (#41313)
  .bazelrc
  .github/workflows/_cve_scan.yml
  tools/dependency/BUILD
  tools/dependency/cves.sh
Labels: workflows:untested

#41081 [ext_proc] Introduce an extensible ProcessingRequestModifier interface
  CODEOWNERS
  api/BUILD
  api/envoy/extensions/filters/http/ext_proc/v3/ext_proc.proto
  api/envoy/extensions/http/ext_proc/processing_request_modifiers/mapped_attribute_builder/v3/BUILD
  api/envoy/extensions/http/ext_proc/processing_request_modifiers/mapped_attribute_builder/v3/mapped_attribute_builder.proto
  api/versioning/BUILD
  bazel/repository_locations.bzl
  changelogs/current.yaml
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  source/extensions/filters/http/ext_proc/BUILD
  source/extensions/filters/http/ext_proc/config.cc
  source/extensions/filters/http/ext_proc/ext_proc.cc
  source/extensions/filters/http/ext_proc/ext_proc.h
  source/extensions/filters/http/ext_proc/processing_request_modifier.h
  source/extensions/http/ext_proc/processing_request_modifiers/mapped_attribute_builder/BUILD
  source/extensions/http/ext_proc/processing_request_modifiers/mapped_attribute_builder/mapped_attribute_builder.cc
  source/extensions/http/ext_proc/processing_request_modifiers/mapped_attribute_builder/mapped_attribute_builder.h
  source/extensions/http/ext_proc/processing_request_modifiers/mapped_attribute_builder/mapped_attribute_builder_factory.cc
  source/extensions/http/ext_proc/processing_request_modifiers/mapped_attribute_builder/mapped_attribute_builder_factory.h
  test/extensions/filters/http/ext_proc/BUILD
  test/extensions/filters/http/ext_proc/ext_proc_integration_test.cc
  test/extensions/filters/http/ext_proc/filter_misc_test.cc
  test/extensions/filters/http/ext_proc/filter_test.cc
  test/extensions/filters/http/ext_proc/filter_test_common.cc
  test/extensions/filters/http/ext_proc/filter_test_common.h
  test/extensions/filters/http/ext_proc/mapped_attribute_builder_test.cc
  test/extensions/filters/http/ext_proc/test_processing_request_modifier.cc
  test/extensions/filters/http/ext_proc/test_processing_request_modifier.h
  tools/extensions/extensions_schema.yaml
Labels: deps

#41023 http filter thrift_to_metadata allows field_selector to parse thrift paylaod
  api/envoy/extensions/filters/http/thrift_to_metadata/v3/thrift_to_metadata.proto
  changelogs/current.yaml
  source/extensions/filters/http/thrift_to_metadata/BUILD
  source/extensions/filters/http/thrift_to_metadata/filter.cc
  source/extensions/filters/http/thrift_to_metadata/filter.h
  source/extensions/filters/network/thrift_proxy/filters/payload_to_metadata/BUILD
  source/extensions/filters/network/thrift_proxy/filters/payload_to_metadata/payload_extractor.cc
  source/extensions/filters/network/thrift_proxy/filters/payload_to_metadata/payload_extractor.h
  source/extensions/filters/network/thrift_proxy/filters/payload_to_metadata/payload_to_metadata_filter.cc
  source/extensions/filters/network/thrift_proxy/filters/payload_to_metadata/payload_to_metadata_filter.h
  test/extensions/filters/http/thrift_to_metadata/config_test.cc
  test/extensions/filters/http/thrift_to_metadata/filter_test.cc
  test/extensions/filters/http/thrift_to_metadata/integration_test.cc
Labels: api

#41321 [bp/1.33] deps: Bump `com_github_luajit_luajit` -> 871db2c (#41291)
  bazel/repository_locations.bzl
Labels: deps

#41320 [bp/1.34] deps: Bump `com_github_luajit_luajit` -> 871db2c (#41291)
  bazel/repository_locations.bzl
Labels: deps

#41325 mcp: create the boilerplate mcp http filter.
  CODEOWNERS
  api/BUILD
  api/envoy/extensions/filters/http/mcp/v3/BUILD
  api/envoy/extensions/filters/http/mcp/v3/mcp.proto
  api/versioning/BUILD
  docs/root/configuration/http/http_filters/http_filters.rst
  docs/root/configuration/http/http_filters/mcp_filter.rst
  source/extensions/extensions_build_config.bzl
  source/extensions/extensions_metadata.yaml
  source/extensions/filters/http/mcp/BUILD
  source/extensions/filters/http/mcp/config.cc
  source/extensions/filters/http/mcp/config.h
  source/extensions/filters/http/mcp/mcp_filter.cc
  source/extensions/filters/http/mcp/mcp_filter.h
  test/extensions/filters/http/mcp/BUILD
  test/extensions/filters/http/mcp/mcp_filter_integration_test.cc
  test/extensions/filters/http/mcp/mcp_filter_test.cc
  tools/spelling/spelling_dictionary.txt
Labels: api

#41405 Use the `docker.io/` prefix for docker images where applicable
  .bazelrc
  .github/config.yml
  .github/workflows/envoy-dependency.yml
  ci/README.md
  ci/docker-compose.yml
  mobile/third_party/rbe_configs/config/BUILD
Labels: workflows:untested

#41407 Cleanup the envoy-sync GitHub workflow
  .github/workflows/envoy-sync.yml
Labels: workflows:untested
