Repository envoyproxy/envoy, changes with the owners that CODEOWNERS names for each.
All owners: @envoyproxy/api-shepherds, @auni53, @zuercher, @itamarkam, @yanavlasov, @mattklein123, @davinci26, @rojkov, @junr03, @RyanTheOptimist, @alyssawilk, @dschaller, @snowp, @klarose, @zyfjeff, @lizan, @aaron-ai, @lizhanhui, @rgs1, @justin-mp, @penguingao, @gsagula, @dio, @gbrail, @qiwzhang, @antoniovicente, @asraa, @yangminzhu, @ggreenway, @mathetake, @wez470, @cpakulski, @rshriram, @cgilmour, @palazzem, @abaptiste, @lavignes, @wbpcode, @Shikugawa, @venilnoronha, @fabriziomello, @danzh2010, @mpwarres, @wu-bin, @msukalski, @henryyyang, @sriduth, @toddmgreer, @jmarantz, @capoferro, @tonya11en, @yxue, @kyessenov, @PiotrSikora, @bdecoste, @jose, @fengli79, @yuval-k, @wozz, @htuch, @taiki45, @vaccarium, @trabetti, @ramaraochavali, @eziskind, @dmitri-d, @lambdai, @delong-coder, @derekargueta, @marcomagdy, @kbaichoo, @qqustc, @donyu, @esmet, @nitgoy, @aguinet, @tsaarni, @adamkotwasinski

execute factory callback from a seperate thread
  test/extensions/filters/http/ext_authz/config_test.cc
Owners: @esmet, @gsagula, @dio

Try to disable install for ours
  bazel/envoy_build_system.bzl
Owners: none

remove DPDS
  api/BUILD
  api/envoy/config/dynamic_parameters/v3/BUILD
  api/envoy/config/dynamic_parameters/v3/dynamic_parameters.proto
  api/envoy/service/dynamic_parameters/v3/BUILD
  api/envoy/service/dynamic_parameters/v3/dpds.proto
  api/versioning/BUILD
  generated_api_shadow/BUILD
  generated_api_shadow/envoy/config/dynamic_parameters/v3/BUILD
  generated_api_shadow/envoy/config/dynamic_parameters/v3/dynamic_parameters.proto
  generated_api_shadow/envoy/service/dynamic_parameters/v3/BUILD
  generated_api_shadow/envoy/service/dynamic_parameters/v3/dpds.proto
  tools/spelling/spelling_dictionary.txt
Owners: @envoyproxy/api-shepherds

Add top level typed per filter config to RouteConfiguration
  api/envoy/config/route/v3/route.proto
Owners: @envoyproxy/api-shepherds

address @htuch comments
  api/envoy/service/discovery/v3/discovery.proto
  api/envoy/service/discovery/v4alpha/discovery.proto
  generated_api_shadow/envoy/service/discovery/v3/discovery.proto
  generated_api_shadow/envoy/service/discovery/v4alpha/discovery.proto
Owners: @envoyproxy/api-shepherds

add missing RST TOC entry
  docs/root/api-v3/common_messages/common_messages.rst
Owners: none

add proto_format fix
  api/envoy/config/route/v4alpha/route.proto
  generated_api_shadow/envoy/config/route/v3/route.proto
  generated_api_shadow/envoy/config/route/v4alpha/route.proto
Owners: @envoyproxy/api-shepherds

bazel: remove CMAKE_BUILD_TYPE override
  bazel/envoy_build_system.bzl
  bazel/foreign_cc/llvm.patch
Owners: none

Updates request path strings to be valid paths.
  test/extensions/filters/http/cache/simple_http_cache/simple_http_cache_test.cc
Owners: @toddmgreer, @jmarantz, @penguingao, @mpwarres, @capoferro

Defers header data structure conversion to submitHeaders(). (#17620)
  source/common/http/http2/codec_impl.cc
  source/common/http/http2/codec_impl.h
Owners: none

Use enum class for ProxyStatusError.
  envoy/stream_info/stream_info.h
Owners: none

CODEOWNERS:

# TODO(zuercher): determine how we want to deal with auto-assignment
# By default, @envoyproxy/maintainers own everything.
#*       @envoyproxy/maintainers

# api
/api/ @envoyproxy/api-shepherds
# access loggers
/*/extensions/access_loggers/common @auni53 @zuercher
/*/extensions/access_loggers/open_telemetry @itamarkam @yanavlasov
/*/extensions/access_loggers/stream @mattklein123 @davinci26
# compression extensions
/*/extensions/compression/common/compressor @rojkov @junr03
/*/extensions/compression/gzip/compressor @rojkov @junr03
# alternate protocols cache extensions
/*/extensions/filters/http/alternate_protocols_cache @RyanTheOptimist @alyssawilk
# csrf extension
/*/extensions/filters/http/csrf @dschaller @mattklein123
# original_src http filter extension
/*/extensions/filters/http/original_src @snowp @klarose
# original_src listener filter extension
/*/extensions/filters/listener/original_src @snowp @klarose
# original_src common extension
extensions/filters/common/original_src @snowp @klarose
# dubbo_proxy extension
/*/extensions/filters/network/dubbo_proxy @zyfjeff @lizan
# rocketmq_proxy extension
/*/extensions/filters/network/rocketmq_proxy @aaron-ai @lizhanhui @lizan
# thrift_proxy extension
/*/extensions/filters/network/thrift_proxy @zuercher @rgs1
# cdn_loop extension
/*/extensions/filters/http/cdn_loop @justin-mp @penguingao @alyssawilk
# compressor used by http compression filters
/*/extensions/filters/http/common/compressor @gsagula @rojkov @dio
/*/extensions/filters/http/compressor @rojkov @dio
# external processing filter
/*/extensions/filters/http/ext_proc @gbrail @snowp
# jwt_authn http filter extension
/*/extensions/filters/http/jwt_authn @qiwzhang @lizan
# grpc_http1_reverse_bridge http filter extension
/*/extensions/filters/http/grpc_http1_reverse_bridge @snowp @zuercher
# header_to_metadata extension
/*/extensions/filters/http/header_to_metadata @rgs1 @zuercher
# alts transport socket extension
/*/extensions/transport_sockets/alts @antoniovicente @asraa @yangminzhu
# tls transport socket extension
/*/extensions/transport_sockets/tls @lizan @asraa @ggreenway
# tls SPIFFE certificate validator extension
/*/extensions/transport_sockets/tls/cert_validator/spiffe @mathetake @lizan
# proxy protocol socket extension
/*/extensions/transport_sockets/proxy_protocol @alyssawilk @wez470
# common transport socket
/*/extensions/transport_sockets/common @alyssawilk @wez470
# starttls transport socket
/*/extensions/transport_sockets/starttls @cpakulski @lizan
# sni_cluster extension
/*/extensions/filters/network/sni_cluster @rshriram @lizan
# sni_dynamic_forward_proxy extension
/*/extensions/filters/network/sni_dynamic_forward_proxy @rshriram @lizan
# tracers.datadog extension
/*/extensions/tracers/datadog @cgilmour @palazzem @mattklein123
# tracers.xray extension
/*/extensions/tracers/xray @abaptiste @lavignes @mattklein123
# tracers.skywalking extension
/*/extensions/tracers/skywalking @wbpcode @dio @lizan @Shikugawa
# mysql_proxy extension
/*/extensions/filters/network/mysql_proxy @rshriram @venilnoronha @mattklein123
# postgres_proxy extension
/*/extensions/filters/network/postgres_proxy @fabriziomello @cpakulski @dio
# quic extension
/*/extensions/quic/ @alyssawilk @danzh2010 @mattklein123 @mpwarres @wu-bin @ggreenway
# zookeeper_proxy extension
/*/extensions/filters/network/zookeeper_proxy @rgs1 @snowp
# redis cluster extension
/*/extensions/clusters/redis @msukalski @henryyyang @mattklein123
/*/extensions/common/redis @msukalski @henryyyang @mattklein123
# dynamic forward proxy
/*/extensions/clusters/dynamic_forward_proxy @mattklein123 @alyssawilk
/*/extensions/common/dynamic_forward_proxy @mattklein123 @alyssawilk
/*/extensions/filters/http/dynamic_forward_proxy @mattklein123 @alyssawilk
/*/extensions/filters/http/composite @snowp @mattklein123
# omit_canary_hosts retry predicate
/*/extensions/retry/host/omit_canary_hosts @sriduth @snowp
# HTTP caching extension
/*/extensions/filters/http/cache @toddmgreer @jmarantz @penguingao @mpwarres @capoferro
# aws_iam grpc credentials
/*/extensions/grpc_credentials/aws_iam @lavignes @mattklein123 @tonya11en
/*/extensions/common/aws @lavignes @mattklein123 @tonya11en
# adaptive concurrency limit extension.
/*/extensions/filters/http/adaptive_concurrency @tonya11en @mattklein123
# admission control extension.
/*/extensions/filters/http/admission_control @tonya11en @mattklein123
# http inspector
/*/extensions/filters/listener/http_inspector @yxue @lizan
# attribute context
/*/extensions/filters/common/expr @kyessenov @yangminzhu @lizan
# webassembly access logger extensions
/*/extensions/access_loggers/wasm @PiotrSikora @mathetake @lizan
# webassembly bootstrap extensions
/*/extensions/bootstrap/wasm @PiotrSikora @mathetake @lizan
# webassembly http extensions
/*/extensions/filters/http/wasm @PiotrSikora @mathetake @lizan
# webassembly network extensions
/*/extensions/filters/network/wasm @PiotrSikora @mathetake @lizan
# webassembly common extension
/*/extensions/common/wasm @PiotrSikora @mathetake @lizan
# webassembly runtimes
/*/extensions/wasm_runtime/ @PiotrSikora @mathetake @lizan
# common matcher
/*/extensions/common/matcher @mattklein123 @yangminzhu
# common crypto extension
/*/extensions/common/crypto @lizan @bdecoste @asraa
/*/extensions/common/proxy_protocol @alyssawilk @wez470
/*/extensions/common/sqlutils @cpakulski @dio
/*/extensions/filters/http/grpc_http1_bridge @snowp @jose
/*/extensions/filters/http/gzip @gsagula @dio
/*/extensions/filters/http/fault @rshriram @alyssawilk
/*/extensions/filters/common/fault @rshriram @alyssawilk
/*/extensions/filters/http/grpc_json_transcoder @qiwzhang @lizan
/*/extensions/filters/http/router @alyssawilk @mattklein123 @snowp
/*/extensions/filters/http/grpc_web @fengli79 @lizan
/*/extensions/filters/http/grpc_stats @kyessenov @lizan
/*/extensions/filters/http/squash @yuval-k @alyssawilk
/*/extensions/filters/common/original_src @klarose @snowp
/*/extensions/filters/listener/tls_inspector @ggreenway @asraa
/*/extensions/grpc_credentials/example @wozz @htuch
/*/extensions/grpc_credentials/file_based_metadata @wozz @htuch
/*/extensions/internal_redirect @alyssawilk @penguingao
/*/extensions/stat_sinks/dog_statsd @taiki45 @jmarantz
/*/extensions/stat_sinks/graphite_statsd @vaccarium @mattklein123
/*/extensions/stat_sinks/hystrix @trabetti @jmarantz
/*/extensions/stat_sinks/metrics_service @ramaraochavali @jmarantz
# webassembly stat-sink extensions
/*/extensions/stat_sinks/wasm @PiotrSikora @mathetake @lizan
/*/extensions/resource_monitors/injected_resource @eziskind @htuch
/*/extensions/resource_monitors/common @eziskind @htuch
/*/extensions/resource_monitors/fixed_heap @eziskind @htuch
/*/extensions/retry/priority @snowp @alyssawilk
/*/extensions/retry/priority/previous_priorities @snowp @alyssawilk
/*/extensions/retry/host @snowp @alyssawilk
/*/extensions/filters/network/http_connection_manager @alyssawilk @mattklein123
/*/extensions/filters/network/tcp_proxy @alyssawilk @zuercher @ggreenway
/*/extensions/filters/network/echo @htuch @alyssawilk
/*/extensions/filters/udp/dns_filter @abaptiste @mattklein123
/*/extensions/filters/network/direct_response @kyessenov @zuercher
/*/extensions/filters/udp/udp_proxy @mattklein123 @danzh2010
/*/extensions/clusters/aggregate @yxue @snowp
# support for on-demand VHDS requests
/*/extensions/filters/http/on_demand @dmitri-d @htuch @lambdai
/*/extensions/filters/network/connection_limit @mattklein123 @alyssawilk @rojkov @delong-coder
/*/extensions/filters/network/local_ratelimit @mattklein123 @junr03
/*/extensions/filters/http/aws_request_signing @rgs1 @derekargueta @mattklein123 @marcomagdy @tonya11en
/*/extensions/filters/http/aws_lambda @mattklein123 @marcomagdy @lavignes @tonya11en
# Compression
/*/extensions/compression/common @junr03 @rojkov
/*/extensions/compression/gzip @junr03 @rojkov
/*/extensions/compression/brotli @junr03 @rojkov
/*/extensions/filters/http/decompressor @rojkov @dio
# Watchdog Extensions
/*/extensions/watchdog/profile_action @kbaichoo @antoniovicente
# Core upstream code
extensions/upstreams/http @alyssawilk @snowp @mattklein123
extensions/upstreams/tcp @alyssawilk @ggreenway @mattklein123
# OAuth2
extensions/filters/http/oauth2 @rgs1 @derekargueta @snowp
# HTTP Local Rate Limit
/*/extensions/filters/http/local_ratelimit @rgs1 @mattklein123
/*/extensions/filters/common/local_ratelimit @mattklein123 @rgs1
# HTTP Kill Request
/*/extensions/filters/http/kill_request @qqustc @htuch
# Rate limit expression descriptor
/*/extensions/rate_limit_descriptors/expr @kyessenov @lizan
# hash input matcher
/*/extensions/matching/input_matchers/consistent_hashing @snowp @donyu
# environment generic input
/*/extensions/matching/common_inputs/environment @snowp @donyu
# user space socket pair and event
/*/extensions/io_socket/user_space @lambdai @antoniovicente
# Default UUID4 request ID extension
/*/extensions/request_id/uuid @mattklein123 @alyssawilk
# HTTP header formatters
/*/extensions/http/header_formatters/preserve_case @mattklein123 @jmarantz
# External Rate Limit
/*/extensions/filters/common/ratelimit @esmet @mattklein123
/*/extensions/filters/http/ratelimit @esmet @mattklein123
/*/extensions/filters/network/ratelimit @esmet @mattklein123
# External Authorization
/*/extensions/filters/common/ext_authz @esmet @gsagula @dio
/*/extensions/filters/http/ext_authz @esmet @gsagula @dio
/*/extensions/filters/network/ext_authz @esmet @gsagula @dio
# HTTP Bandwidth Limit
/*/extensions/filters/http/bandwidth_limit @nitgoy @mattklein123 @yanavlasov @tonya11en
# Original IP detection
/*/extensions/http/original_ip_detection/custom_header @rgs1 @alyssawilk @antoniovicente
/*/extensions/http/original_ip_detection/xff @rgs1 @alyssawilk @antoniovicente
# set_metadata extension
/*/extensions/filters/http/set_metadata @aguinet @snowp
# Formatters
/*/extensions/formatter/metadata @cpakulski @lizan
/*/extensions/formatter/req_without_query @dio @tsaarni
# IP address input matcher
/*/extensions/matching/input_matchers/ip @aguinet @snowp
# Kafka
/*/extensions/filters/network/kafka @mattklein123 @adamkotwasinski
